<div class="container " (window:resize)="getWindowSize()">
<div class="row" *ngIf="displayMobile === false">
  
  <div class="col-md-3 col-12 top" [ngClass]="{'topMob':displayMobile === true}">
   <!--    <div class="head">
         <img src="../../../assets/image/hi.gif" width="100px">
        <h4 style="font-family: 'Indie Flower', cursive;
        ">{{sharedService.getEmail()}}</h4>
      </div> -->

      <nav class="d-md-block bg-light sidebar ">
      <div class=" filterRow">
        <ul class="nav flex-column">
         
          <li class="nav-item">
              <a class="nav-link navText" 
              routerLink="/account/profile" routerLinkActive="active">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navText" 
            routerLink="/account/listaddress" routerLinkActive="active">
              Address
            </a>
          </li>
        
          <li class="nav-item">
              <a class="nav-link " routerLink="/account/orders" routerLinkActive="active">
                Order Details<span class="sr-only">(current)</span>
              </a>
            </li>
           
        </ul>
      </div>
    </nav>
  
  </div>
  <div class="col-md-8 top col-12 bdr" [ngClass]="{'topMob':displayMobile}">
    <div class="container">
      <mat-card>
        <router-outlet></router-outlet>
      </mat-card>
    </div>
  </div>
</div>


<div class="row" *ngIf="displayMobile === true">
  <div class="col-12" [ngClass]="{'topMob':displayMobile === true}" *ngIf="this.active === true" routerLink="/account/accountdetails" style="font-size:18px;">Back</div>
  <div class="col-md-3 col-12 top"  *ngIf="this.active === false">
      <div class="head">
         <img src="../../../assets/image/hi.gif" width="100px">
        <h4 style="font-family: 'Indie Flower', cursive;
        ">{{sharedService.getEmail()}}</h4>
      </div>

      <nav class="d-md-block bg-light sidebar ">
      <div class=" filterRow">
        <ul class="nav flex-column">
         
          <li class="nav-item">
              <a class="nav-link navText" 
              routerLink="/account/profile" (click)="activate()" routerLinkActive="active">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navText" 
            routerLink="/account/listaddress" (click)="activate()" routerLinkActive="active">
              Address
            </a>
          </li>
        
          <li class="nav-item">
              <a class="nav-link " routerLink="/account/orders" (click)="activate()" routerLinkActive="active">
                Order Details<span class="sr-only">(current)</span>
              </a>
            </li>
           
        </ul>
      </div>
    </nav>
  
  </div>
  <div class="col-md-8 top col-12 bdr" [ngClass]="{'topMob':displayMobile}" *ngIf="this.active === true">
    <div class="container">
      <mat-card>
        <router-outlet></router-outlet>
      </mat-card>
    </div>
  </div>
</div>
</div>