.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .head{
    padding: 10px;
    /* background-color: #A40C33; */
    text-align: center;
    color: black;
  }
  .top{
    margin-top:60px;
    display: flex;
    flex-direction: column;
   
  }
  .topMob{
    margin-top: 20px;
  }
  .tp{
    padding-top: 100px;
  }
  .tpMob{
    padding-top: 0px;
  }
  
  /* .titleStyle {
    font-family: 'HelveticaNeue';
  } */
  a{
    font-size: 20px;
    padding: 10px;
color: black;
  }
  mat-card{
    box-shadow: none !important;
    font-family: 'Quicksand', sans-serif;
  }
  .nav-item{
    border-bottom: 1px solid #F2E9F4  !important;
  }

  .head{
    background: #D8DAD9 ;
  }
  .bdr{
    border: 1px solid #D8DAD9;
  }
  .active{
    background:#D8DAD9;
  }

  