.registerButton {
  border: none;
  border-radius: 25px !important;
  color: white;
  padding: 0px 50px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
  width: auto;
  background-color: #033e6d  !important;
  position: relative;
  border-radius: 0px;
}
.forgetPassword-text{
position: relative;
bottom: 10px;
left: 10px;
}
.fb-icon{
background-color: #3b5998 !important;
margin: 0px 5px;
}
.g-icon{
background-color: #EA4335 !important;
margin: 0px 5px;

}
::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.1em) scale(.75);
  width: 133.33333%;
}
.close-icon, a{
cursor: pointer;
}
@media screen and (max-width:900px){
  .registerButton {
    border: none;
    border-radius: 25px !important;
    color: white !important;
    padding: 0px 37px !important;
}
}