<div *ngIf="!isSignUp">
  <div class="close-icon col-md-12 col-sm-12 col-xs-12 col-12 text-right">
    <mat-icon (click)="close()">clear</mat-icon>

  </div>
  <mat-dialog-content>
    <form [formGroup]="signInForm" novalidate>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-12">
            <h5 class="text-center"><b>Login</b> </h5>
            <div class="col-md-12 col-sm-12 col-xs-12 col-12">

              <div class="row registerSetup">
                <div class="col-md-1 "></div>
                <div class="col-md-10 col-sm-12 col-12 mt-2 pt-1">
                  <mat-form-field appearance="outline">
                    <mat-label>Email-Id</mat-label>
                    <input matInput placeholder="Email-Id" formControlName="emailId" required>
                    <mat-icon matSuffix mat-icon-button aria-label="Email-Id">email</mat-icon>
                    <mat-error *ngIf="signInForm.controls['emailId'].errors?.required">
                      Email-Id is
                      <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-1 "></div>
              </div>
              <div class="row ">
                <div class="col-md-1 "></div>
                <div class="col-md-10 col-12">
                  <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" formControlName="password"
                      [type]="showPassword ? 'text': 'password'" required>
                    <mat-icon matSuffix mat-icon-button aria-label="Password" (click)="checkPassword()">remove_red_eye
                    </mat-icon>
                    <mat-error *ngIf="signInForm.controls['password'].errors?.required">
                      Password is
                      <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-1 "></div>
</div>
<span class="row forgetPassword-text">
                <span class="col-md-5 col-4"></span>
                <span class="col-md-7 col-8">
                  <a (click)="forgetPassword()">Forgot Password?</a>
                </span>
              </span>



                <div class="row registerSetup">
                <div class="col-md-1"></div>
                <div class="col-md-10 col-12 text-center pt-2">
                  <div *ngIf="pwdError === true">
                    <p style="color: red">Invalid Account</p>
                  </div>
                  <button class="registerButton" mat-raised-button color="primary" type="submit"
                    (click)="!signInForm.invalid && onSubmit()">Login</button>
                </div>
                <div class="col-md-1 "></div>
                </div>


               
                <div class="col-md-12 col-sm-12 col-12 text-center pt-3">
                  <p>Or Sign Up Using</p>
                </div>

                <div class="col-md-12 col-sm-12 col-12 text-center pt-1">
                  <button mat-mini-fab class="fb-icon" (click)="facebookLoginSubmit()"> <i
                      class="fa fa-facebook-f"></i></button>
                      <!-- <button id="googleBtn" class="btn ">
                        <img src="../../../assets/image/google1.png" width="20px">
                        <span style="padding: 13px;">Google</span></button> -->
                  <button id="googleBtn" mat-mini-fab class="g-icon "
                  ><i class="fa fa-google"></i></button>
                </div>

                <div class="col-md-12 col-sm-12 col-12 text-center pt-2">
                  <a (click)="signup()">Dont have an account?<b style="cursor: pointer;"> Sign Up</b> </a>
                </div>

              </div>
          
          </div>

        </div>

      </div>
    </form>

  </mat-dialog-content>

</div>

<div *ngIf="isSignUp">
  <div class="close-icon col-md-12 col-sm-12 col-12 text-right">
    <mat-icon (click)="close()">clear</mat-icon>
  </div>
  <mat-dialog-content>
    <h5 class="text-center"> <b>Sign Up</b> </h5>
    <form [formGroup]="regForm" novalidate>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-sm-12 col-12">
            <div class="col-md-12 col-sm-12 col-xs-12 col-12">
              <div class="row registerSetup">

                <div class="col-md-1 col-sm-1 "></div>
                <div class="col-md-10 col-sm-10 col-12 mt-2 pt-1">
                  <mat-form-field appearance="outline">
                    <mat-label>Email-Id</mat-label>
                    <input matInput placeholder="Email-Id" formControlName="emailId" required>
                    <mat-icon matSuffix mat-icon-button aria-label="Email-Id">email</mat-icon>
                    <mat-error *ngIf="signInForm.controls['emailId'].errors?.required">
                      Email-Id is
                      <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-1 col-sm-1 "></div>
              </div>


              <div class="row registerSetup">
                <div class="col-md-1 col-sm-1 "></div>
                <div class="col-md-10 col-sm-10 col-12 ">
                  <mat-form-field appearance="outline">
                    <mat-label>Mobile Number</mat-label>
                    <input matInput placeholder="Mobile Number" maxlength="10" formControlName="mobileNumber" required>
                    <mat-icon matSuffix mat-icon-button aria-label="Mobile Number">phone</mat-icon>
                    <mat-error *ngIf="signInForm.controls['emailId'].errors?.required">
                      Mobile Number is
                      <strong>required</strong>
                    </mat-error>

                  </mat-form-field>
                </div>
                <div class="col-md-1 col-sm-1 "></div>
              </div>

              <div class="row registerSetup">
                <div class="col-md-1 col-sm-1 "></div>
                <div class="col-md-10 col-sm-10 col-12">
                  <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" formControlName="password"
                      [type]="showPassword ? 'text': 'password'" required>
                    <mat-icon matSuffix mat-icon-button aria-label="Password" (click)="checkPassword()">remove_red_eye
                    </mat-icon>
                    <mat-error *ngIf="signInForm.controls['password'].errors?.required">
                      Password is
                      <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-1 col-sm-1"></div>
              </div>

                <div class="col-md-12 col-12 pt-2">
                  <button class="registerButton" mat-raised-button color="primary" type="submit"
                    (click)="!regForm.invalid && onRegister()">Sign Up</button>
                </div>
                <div class="col-md-12 col-12 text-center pt-4">
                  Already have an account?<b style="cursor: pointer;" (click)="login()"> Login</b>
                </div>
                <div class="col-md-6 "></div>


            </div>
          </div>
        </div>

      </div>
    </form>
  </mat-dialog-content>
</div>