.productName{
    color: black;
}

.grumpy-image-wrapper {
    width: 100%;
    height: 0;
    padding-bottom: 144.7%;
    border: 2px solid white; /* simply to show you the collapsed state for this demo */
  }
  .grumpy-image {
    width: 100%;
  }