<!-- <div class="gridPrice">
  <div class="row">
    <div class="col-md-7"></div>
    <div class="col-md-5">
      <div class="line mb-1">
        <span class="text-dark">SubTotal({{totalItems}} item)</span>
        <span class="text-muted float-right">
          <h4><b><span>&#x20B9;</span>{{subTotal}}</b> </h4>
        </span>
      </div>
      <div class="dropdown-divider"></div>
      <div class="line mb-1 pt-1">
        <span>ORDER TOTAL:</span>
        <span class="text-muted float-right">
          <h4><b><span>&#x20B9;</span>{{subTotal}}</b></h4>
        </span>
      </div>
    </div>
  </div>
</div> -->
<div>
  <div class="row">
    <div class="col-md-12 optionsBorder">
      <div class="row">
        <!-- <div class="col-md-12 optionsHeader">
          <p>OPTIONS</p>
        </div> -->
        <!-- <div class="col-md-3 optionSubHeader">
          <p>Coupons</p>
        </div> -->
        <!-- <div class="col-md-6">
          <input type="text" style="text-transform: uppercase" #coupon class="form-control">
            
        
        </div>
        <div class="col-md-3">
            <button class="applyBtn optionSubHeader" (click)="checkCoupon(coupon.value)">Apply</button>
        </div> -->
      </div>

    </div>
    <div class="col-md-12 optionsBorder mt-2">
        <div class="row">
          <div class="col-md-12 optionsHeader shopBorder">
            <p> <strong>PRICE DETAILS</strong></p>
          </div>
          <div class=" col-md-8 col-8 optionSubHeader">
            <p>Total MRP(Inclusive of all taxes)</p>
          </div>
          <div class="col-md-4 col-4 optionSubHeader">
              <b><h6 class="pull-right" style="font-family: 'Montserrat-Medium'"><span style="font-family: 'sans-serif'">&nbsp;</span>{{subTotal  | localeCurrency}}</h6></b>
          </div>
          <div class="col-md-8 col-6 optionSubHeader" *ngIf="couponType">
              <p>Coupon Discount</p>
            </div>
            <div class="col-md-4 col-6" *ngIf="couponType === 'Flat'">
              
                <a class="pull-right optionSubHeader" >{{couponValue}} Flat</a>
        
            </div>
            <div class="col-md-4 col-6" *ngIf="couponType === 'Percentage'">
              
              <a class="pull-right optionSubHeader" >{{couponValue}} %</a>
          </div>
            <div class="col-md-8 col-6 optionSubHeader">
                <p><strong>Order Total</strong></p>
              </div>
              <div class="col-md-4 col-6">
                <b> <h6 class="pull-right optionSubHeader" style="font-family: 'Montserrat-Medium'"><span style="font-family: 'sans-serif'">&nbsp;</span>{{subTotal  | localeCurrency}}</h6></b> 
              </div>
              <div class="col-md-8 col-8 optionSubHeader">
                  <p>Delivery Charges</p>
                </div>
                <div class="col-md-4 col-4">
                  <p class="pull-right" style="font-family: 'Montserrat-Regular';font-size: 13px;">Free</p>
                </div>
        </div>
      </div>
      <div class="col-md-12  mt-2">
          <div class="row">
              <div class="col-md-6 col-6 optionSubHeader">
                <h5><strong style="font-size: 16px">Total</strong></h5>
              </div>
              <div class="col-md-6 col-6">
              <h5 class="pull-right" ><b>{{totalAmount  | localeCurrency}}</b></h5>
              </div>
            </div>
      </div>
  </div>
</div>