<h5 class="inforMation">Order Details</h5>
<div *ngIf=" orderModel.length === 0">
  <h4 class="inforMation"> You Haven't Placed Any Orders Yet.</h4>
</div>
<div class="row gridRow  p-2" *ngFor="let order of orderModel">
    <div class="col-md-2">
      <div class="text-secondary">
        <strong>Date: </strong> <br>
        <span>{{order.orderDate | date}}</span>
      </div>
    </div>
    <div class="col-md-2">
      <div class="text-secondary">
        <strong>Order ID: </strong><span>{{order.orderId}}</span>
      </div>
      <div class="text-secondary" *ngIf="order.orderStatus === 'Out For Delivery'">
       <button  type="submit" (click)="trackTheOrder(order.awbNo, order.orderId)"> Track the order </button>
      </div>
    </div>
    <div class="col-md-2">
      <div class="text-secondary ">
        <strong>Total: </strong><span>{{order.total | localeCurrency }}</span> 
      </div>
    </div>
    
    
    <div class=" col-md-4">
      <div class="row" *ngFor="let orderItem of order.orderedProducts; let i = index">
        <div class="col-md-12" *ngFor="let product of orderItem">

         
          <div class="row" (click)="viewProduct(product._id)">
              
            <div class="col-md-4 col-6 pb-2"><img class="img-fluid" 
            [src]="product.productImage[0].productImageName">
        </div>
        <div class="col-md-7 col-6">
          <p class="product-name "><strong>{{product.productName}}</strong></p>
          <div *ngFor="let sizes of order.cart">
             <!-- <div *ngFor="let purchasedsku of product.productVariant"> 
               <p class="product-name fontSty" *ngIf="sizes.sku === purchasedsku.sku">Size:{{purchasedsku.sizeVariant}} </p>
             </div> -->
          </div>
          <p class="product-name "><span class="textHead">Color:</span><strong>{{product.color}}</strong></p>
        </div>
       <!--  <div class="col-md-3 col-6">
          <h6 class="product-name"><strong>{{product.color}}</strong></h6>
        </div> -->
    
        </div>
        <div>
        <!-- <div *ngIf="order.shipmentStatus === 'Delivered'"> -->
        <!-- <a (click)="createReview(product._id , order.orderId)"> <label>Review & Rating</label></a> -->
        </div>
      

      </div>
    </div>
    </div>
    <div class="col-md-2">
      <div class="row" *ngFor="let detail of order.addressDetails; let i = index">
          <div class="col-md-12 fontSty deliveryAddress"><strong>Delivery Address:</strong> </div>
          <div class="col-md-12 fontSty">
            {{detail.name}}
          </div>
          <div class="col-md-12 fontSty">
            {{detail.building}}
          </div>
          <div class="col-md-12 fontSty">
            {{detail.streetAddress}}
          </div>
          <div class="col-md-12 fontSty">
            {{detail.landmark}}
          </div>
          <div class="col-md-12 fontSty">
            {{detail.city}} - {{detail.pincode}}
          </div>
          <div class="col-md-12 fontSty">
            {{detail.state}}
          </div>
        </div>
      </div>
  </div>
