.fontSty {
    /* font-family: 'Montserrat-Regular'; */
    font-size: 10px;
}
.deliveryAddress {
    font-size: 13px;
}
.textHead {
    font-size: 13px;
    
}
.inforMation{
    /* padding-left: 25px;
    margin-top: 20px; */
    padding: 10px;
    /* border-bottom: 1px solid rgb(199, 199, 199); */
    /* font-family: 'HelveticaNeue'; */
    color: black !important;
    background-color: white;
}
mat-card{
    box-shadow: none !important;
}