<div class="row" *ngIf="!show">
  <div class="col-md-1"></div>
  <div class="col-md-10 col-12">
    <div class="gridCtrl borderZ">
      <h5 class="inforMation">
        Primary Information
      </h5>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3 col-6 eitdZ">
          Email
        </div>
        <div class="col-md-1 col-1 eitdZ ">
          :
        </div>
        <div class="col-md-3 col-5 eitdZ " style="overflow: hidden">
          <b> {{ regModel?.emailId }} </b>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3 col-6 eitdZ ">
          Mobile Number
        </div>
        <div class="col-md-1 col-1 eitdZ ">
          :
        </div>
        <div class="col-md-3 col-5 eitdZ ">
          <b> {{ regModel?.mobileNumber }} </b>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3 col-6 eitdZ">
          First Name
        </div>
        <div class="col-md-1 col-1 eitdZ">
          :
        </div>
        <div class="col-md-3 col-5 eitdZ " style="overflow: hidden">
          <b> {{ regModel?.firstName }} </b>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3 col-6 eitdZ">
          Last Name
        </div>
        <div class="col-md-1 col-1 eitdZ">
          :
        </div>
        <div class="col-md-3 col-5 eitdZ " style="overflow: hidden">
          <b> {{ regModel?.lastName }} </b>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3 col-6 eitdZ">
          Date of Birth
        </div>
        <div class="col-md-1 col-1 eitdZ">
          :
        </div>
        <div class="col-md-3 col-5 eitdZ " style="overflow: hidden">
          <b> {{ regModel?.dateOfBirth | date }} </b>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3 col-6 eitdZ">
          Location
        </div>
        <div class="col-md-1 col-1 eitdZ">
          :
        </div>
        <div class="col-md-3 col-5 eitdZ " style="overflow: hidden">
          <b> {{ regModel?.location }} </b>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3 col-6 eitdZ">
          Gender
        </div>
        <div class="col-md-1 col-1 eitdZ">
          :
        </div>
        <div class="col-md-3 col-5 eitdZ ">
          <b> {{ regModel?.gender }} </b>
        </div>
      </div>

      <!-- <table style="margin: 15px;">
        <tbody>
          <tr>
            <td class="eitdZ">
              FirstName
            </td>
            <td class="eitdZ">
             : {{regModel.firstName}}
            </td>
          </tr>
          <tr>
            <td class="eitdZ">
              LastName
            </td>
            <td class="eitdZ">
             : {{regModel.lastName}}
            </td>
          </tr>
          <tr>
            <td class="eitdZ">
              Date Of Birth
            </td>
            <td class="eitdZ">
             : {{regModel.dateOfBirth | date}}
            </td>
          </tr>
          <tr>
            <td class="eitdZ">
              Location
            </td>
            <td class="eitdZ">
             : {{regModel.location}}
            </td>
          </tr>
          <tr>
            <td class="eitdZ">
              Gender
            </td>
            <td class="eitdZ">
             : {{regModel.gender}}
            </td>
          </tr>
          <tr>
            <td class="eitdZ">
              Email
            </td>
            <td class="eitdZ">
             : {{regModel.emailId}}
            </td>
          </tr>
          <tr>
            <td class="eitdZ">
              Mobilenumber
            </td>
            <td class="eitdZ"> 
             : {{regModel.mobileNumber}}
            </td>
          </tr>
          
        </tbody>
      </table> -->
      <div class="text-right" >
        <button class="button buttonFont" (click)="get()">EDIT</button>
      </div>
      <div class="text-center" style="margin-top: 30px;" *ngIf="regModel?.createdBy === 'registredCustomer'">
      <button class="button buttonFont" (click)="getResetPassword()">RESET PASSWORD</button>
      </div>
      <div *ngIf="isError === true"><p style="color: red">add mobile number</p></div>
      <div class="text-center" style="margin-top: 30px;" 
      *ngIf="regModel?.createdBy === 'googleCustomer' || regModel?.createdBy === 'facebookCustomer'">
          <button class="button buttonFont" (click)="getValidation()">SET PASSWORD</button>
          </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>

<div class="row" *ngIf="show">
  <!-- <div *ngIf="loginUser">Please Login</div> -->
  <div class="col-md-12">
    <div class="gridCtrl borderZ">
      <h4 class="adetLs">Account Details</h4>
      <form
        [formGroup]="profileForm"
        novalidate
        (ngSubmit)="!profileForm.invalid && onSubmit()"
        class="frmCtrl"
      >
        <div class="form-row">
          <div class="form-group col-md-6">
            <mat-form-field class="example-full-width">
              <input
                matInput
                placeholder="First Name"
                maxlength="20"
                formControlName="firstName"
                required
              />
              <mat-icon matSuffix mat-icon-button aria-label="First Name"
                >account_circle</mat-icon
              >
              <mat-error
                *ngIf="profileForm.controls['firstName'].errors?.required"
              >
                firstName is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group col-md-6">
            <mat-form-field class="example-full-width">
              <input
                matInput
                placeholder="Last Name"
                maxlength="20"
                formControlName="lastName"
                required
              />
              <mat-icon matSuffix mat-icon-button aria-label="Last Name"
                >account_circle</mat-icon
              >
              <mat-error
                *ngIf="profileForm.controls['lastName'].errors?.required"
              >
                lastName is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <mat-form-field class="example-full-width">
              <input readonly
                matInput
                placeholder="email"
                maxlength="20"
                formControlName="emailId"
                
                
              />
              <!-- pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" -->
              <!-- <mat-icon matSuffix mat-icon-button aria-label="email"
                >email</mat-icon
              > -->
              <!-- <mat-error *ngIf="profileForm.controls['emailId'].errors?.pattern"
                >Enter a Valid email ID</mat-error
              > -->
            </mat-form-field>
          </div>
          <div class="form-group col-md-6">
            <mat-form-field class="example-full-width">
              <input
                matInput
                placeholder="Mobile Number"
                maxlength="10"
                formControlName="mobileNumber"
                pattern="^[1-9]\d{9}$"
                maxlength="10"
                required
              />
              <mat-icon matSuffix mat-icon-button aria-label="Mobile Number"
                >phone</mat-icon
              >
              <mat-error
                *ngIf="profileForm.controls['mobileNumber'].errors?.required"
              >
                Mobile Number is
                <strong>required</strong>
              </mat-error>
              <mat-error
                *ngIf="profileForm.controls['mobileNumber'].errors?.pattern"
                >Should be of 10 digits</mat-error
              >
            </mat-form-field>
          </div>
        </div>
        <div class="form-row">
          <!-- <div class="form-group col-md-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" formControlName="password" required>
              <mat-icon matSuffix mat-icon-button aria-label="Password">
                remove_red_eye
              </mat-icon>
            <mat-error *ngIf="profileForm.controls['password'].errors?.required">
              Password is
              <strong>
                required
              </strong>
            </mat-error>
          </mat-form-field>
        </div> -->
          <div class="form-group col-md-6">
            <mat-form-field class="example-full-width">
              <input
                matInput
                placeholder="location"
                maxlength="20"
                formControlName="location"
                required
              />
              <mat-icon matSuffix mat-icon-button aria-label="User Name">
                location_on
              </mat-icon>
              <mat-error
                *ngIf="profileForm.controls['location'].errors?.required"
              >
                location is
                <strong>
                  required
                </strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group col-md-6">
            <mat-form-field>
              <input
                matInput
                [matDatepicker]="picker"
                placeholder="Date of Birth"
                formControlName="dateOfBirth"
                required
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <mat-form-field class="example-full-width">
              <mat-label>Gender</mat-label>
              <mat-select formControlName="gender">
                <mat-option *ngFor="let data of genderValue" [value]="data">
                  {{ data }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 col-12 text-center">
            <!-- <p class=""> -->
            <button
              class="button buttonFont btnn"
              type="submit"
              (click)="cancel()"
            >
              CANCEL
            </button>
            <!-- </p> -->
          </div>
          <div class="col-md-6 col-12">
            <p class="text-center">
              <button class="button buttonFont btnn" type="submit">SAVE</button>
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
