<div class="container" style="margin-top: 60px; margin-bottom: 180px;">
  <h1 class="text-center" style="color: #6D6E71;"> Privacy Policy</h1><br>
  <!-- <div *ngFor="let p of policy">
    <h3>{{ p.policyHeading}}</h3>
    <div class="row">
    <div class="col-md-6 col-12" *ngFor="let pp of p?.policies">
      <p>  {{pp.policyQuestion}} </p>
      <p>  {{pp.policyAnswers}} </p>
      </div>
      </div>
  </div>
   -->
   <p class="mt-5">Privacy of its users accessing its website at www.mubee.in (“Website”). For the purposes of this privacy policy (“Privacy Policy”) and wherever the context so requires “you”, “your”, “yourself”, “user” shall mean any natural or legal person who accesses or uses the Website and in the event that a natural person is representing a business entity, reference to such terms shall include a reference to the business entity.</p>

  </div>