input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
}
.box1{
  border :0.5px solid grey;
  border-radius: 10px;
}
.font{
font-size: 14px;
}
.jumbotron{
  background-color: white !important;
  padding: 0;
}
button:focus{
  outline: 0 !important;
  box-shadow: 0 0 0 0 white !important;
}
.mat-cardMob{
  left:0% !important;
}
.placeholder{
    font-size: 20px;
    }
    .card{
      padding: 20px;
    }
    .mat-card {
      left: 60%;
      position: relative;
      margin-top: 40px;
      box-shadow: 0 1px 52px 0 #00000033, 0 1px 2px 0 rgba(0, 0, 0, .19);
      background: rgb(255, 255, 255);
      border-radius: 8px;
      width: 100%;
    }
    .img-fluid{
      width: 100px;
      /* left: 40%; */
      position: relative;
      display: block;
      margin: auto;
    }
    
    .registerButton {
    
      /* Green */
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: block;
      font-size: 12px;
      margin: auto;
      cursor: pointer;
      width: auto;
      /* left: 28%; */
      position: relative;
      border-radius: 0px;
      background-color: #A40C33 !important;
    }
    .img-fluid{
        width: 100px !important;
        /* left: 40% !important; */
        position: relative;
        margin: auto;
        display: block;
    }
    
    .registerButton:hover{
    background: #000 !important;
    }
    .registerButton {
      padding: 0px 18px !important;
      font-family: 'Montserrat-Regular';
    }
    
    .mat-focused .placeholder {
      font-family: 'Montserrat-Regular';
  }
  mat-form-field.mat-form-field {
    font-family: 'Montserrat-Regular';
  }
    