<div class="jumbotron container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="card cardCtrl">
        <h3 class="customerTitle ">NEW CUSTOMER</h3>
        <p class="paraNow">By creating an account with our store, you will be able to move through the checkout process
          faster, store
          multiple shipping addresses, view and track your orders in your account and more.</p>
        <button mat-stroked-button (click)="gotoRegister()" class="createNow">CREATE AN ACCOUNT</button>
        <!-- <button mat-flat-button color="warn " >CREATE AN ACCOUNT</button> -->
      </div>
    </div>
    <div class="col-md-6">
      <form [formGroup]="signInForm" (window:resize)="getWindowSize()" novalidate>
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-10 col-12 card" [ngClass]="{'mat-cardMob':showMobileView}">
              <h3 class="loginTitle">LOGIN</h3>
              <p class="paraNow">If you have an account with us, please log in.</p>
              <br>
              <div class="col-md-12 col-sm-12 col-xs-12 col-12">
                <div class="row registerSetup">
                  <div class="col-md-12 col-sm-12 col-12 mt-3 pt-2">
                    <mat-form-field appearance="outline">
                      <mat-label>Email-Id</mat-label>
                      <input matInput placeholder="Email-Id" formControlName="emailId" style="font-size: 15px" required>
                      <mat-icon matSuffix mat-icon-button aria-label="Email-Id">email</mat-icon>
                      <mat-error *ngIf="signInForm.controls['emailId'].errors?.required">
                        Email-Id is
                        <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-12 col-12">
                    <mat-form-field appearance="outline">
                      <mat-label>Password</mat-label>
                      <input matInput placeholder="Password" formControlName="password" style="font-size: 18px"
                        [type]="showPassword ? 'text': 'password'" required>
                      <mat-icon matSuffix mat-icon-button aria-label="Password" (click)="checkPassword()">remove_red_eye
                      </mat-icon>
                      <mat-error *ngIf="signInForm.controls['password'].errors?.required">
                        Password is
                        <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-12 col-12">
                    <div *ngIf="pwdError === true">
                      <p style="color: red">Invalid Account</p>
                    </div>

                  </div>
                  <div class="col-md-6 col-12">
                    <!--    <button class="registerButton" [ngClass]="{'mat-cardMob':displayMobile}"
                      (click)="!signInForm.invalid && onSubmit()" mat-stroked-button color="primary"
                      type="submit">Login</button> -->
                    <button mat-stroked-button (click)="!signInForm.invalid && onSubmit()" class="createNow"
                      type="submit">Login</button>
                    <!-- <button class="registerButton" mat-raised-button  color="primary" type="submit">Login</button> -->
                  </div>
                  <div class="col-md-6 ">
                    <!-- <div class="pt-2"
                      style="text-decoration: underline; color: rgba(40, 121, 254, 0.9) !important; cursor: pointer;"><a
                        (click)="forgetPassword()" class="lostNow"> Lost your password? </a></div> -->
                    <!--     <div class="pt-4">Don't have an account?<a (click)="gotoRegister()" style="cursor: pointer"> SignIn
                      </a></div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>