<div class="container">
  <div class="row space">
    <div class="col-md-12 ctrlAll">
      <!-- <div class="form-group" *ngFor="let brand of productModel?.brand">
      <p class="brandTitle">
        {{brand.brandTitle | uppercase}}
      </p>
    </div> -->
      
        <!-- <mat-icon class="productWishlist">favorite</mat-icon> -->
        <div class="productText">
          <p class="productName">{{productModel?.productName}}</p>
          <small class="productName">{{productModel?.INTsku}}</small>
        </div>
        <div class="row">
          <div class="col-md-6">
        <div class="productInformation">
        <div>
          Share on <br> <a class="pr-2"  (click)="fb()"><i class="fa fa-facebook-square fa-2x social" style="color: #3B5998" ></i></a>
          <a class="pr-2"><i class="fa fa-twitter-square fa-2x social" style="color: #1da1f2"></i></a>
          <!-- <a class="pr-2"><i class="fa fa-google-plus-square  fa-2x social"></i></a> -->
          <a class="pr-2"><i class="fa fa-pinterest fa-2x social" style="color: #c8232c"></i></a>
          <a class="pr-2"><i class="fa fa-instagram fa-2x social" style="color: #8a3ab9"></i></a>
        </div>
        <br>
        <div class="productPrice">
          <!-- <p><span>&#f;</span>{{productModel?.price}}</p> -->
          <p class="textFam"><span style="color: #4d4d4d; font-family: 'sans-serif'"></span>
            <span class=" fullPrice">{{productModel?.totalPrice | converter | localeCurrency}}</span><span
              class="priceText">{{productModel?.price | converter | localeCurrency}}</span>
              <span style="color: red">( You save {{productModel?.discount}} % )</span>
            <!-- <span [ngClass]="productModel?.discountStyle"
              style="color: #B3B3B3; font-family: 'sans-serif'"></span><span
              [ngClass]="productModel?.discountStyle" class="dashText">{{productModel?.oldPrice | converter | localeCurrency}}</span><span
              [hidden]="productModel?.discount === 0 || productModel?.discount === undefined"
              class="textOffer">{{productModel?.discount}} off</span> --></p>
        </div>
        <!-- <div class="productText" *ngIf="productModel?.productDescription">
          <p class="productDescription">
            <span *ngIf="!showDescription && productModel?.productDescription.length > 120" class="descText">
              {{productModel?.productDescription | slice:0:120}} <a (click)="readMore()"><b
                  style="cursor: pointer;color:#7e818c">readmore</b></a>
            </span>
            <span class="spd" style="padding-bottom: 10px;" *ngIf="showDescription" class="descText">
              {{productModel?.productDescription}}<a (click)="readLess()"><b
                  style="cursor: pointer;color:#7e818c">readless</b></a>
            </span>
            <span class="spd" *ngIf="productModel?.productDescription.length < 120">
              {{productModel?.productDescription}}
            </span>
          </p>
        </div> -->
      </div>
      <div class="top-space" >
        <app-size-variant 
        *ngIf="productModel?.variationType === 'Size'"
         [productModel]="productModel"
         (selectedVariantSize)="sizeSelect($event)"
          [selectedSize]="selectedSize"></app-size-variant>
        <!--   <app-size-color-variant 
          *ngIf="productModel?.variationType === 'SizeColor'"
          [sizeColor]="color"
          [productModel]="productModel"
          (selectedImage)="selectImageModel($event)"
          (selectedVariantSizeColor)="selectColorSize($event)"
          [selectedSize]="selectedSize"
          [selectedColorMain]="selectedColor"
           >
          </app-size-color-variant> -->
          <app-color-variant 
          *ngIf="productModel?.variationType === 'Color'"
          [sizeColor]="color"
          [productModel]="productModel"
          (selectedImage)="selectImageModel($event)"
          (selectedVariantColor)="selectColor($event)"
          [selectedColorMain]="selectedColor"
          [selectedSize]="selectedSize"
           >
          </app-color-variant>
        <!--  <div class="form-group">
     
      <div class="sizeList">
          <button mat-stroked-button type="button"
          (click)="sizeSelect(size)"
           [ngClass]="{ 'itemSelected': size === selectedItem, 'sizeItem': size !== selectedItem, 'itemEmptyStock': size.quantity === 0 }" 
           *ngFor="let size of productModel?.child" [disabled]="size.quantity === 0"
            class=" btn btn-default">{{size.sizeVariant}}</button>

      </div>
      <div class="text-danger" [hidden]="!selectedSize">
          <p>Please select a size</p>
      </div>
    </div> -->
        <div class="row">
          <div class="roughCol">
            <div class="form-group">

            </div>
          </div>
          <!-- <div class="leftCol shaP">
            <div class="form-group">

              <button mat-stroked-button class="wishListButton ">
                <mat-icon [ngClass]="{'changeMatIcon': productModel?.wishList}">favorite_border</mat-icon>
              </button>
            </div>
          </div> -->
          <div class="gapCol">

          </div>
          <!-- <div class="centerCol shaP">
              <div class="form-group shaP">
                <button mat-stroked-button (click)="addToCartItem(productModel?._id)"
                 class="addToCartButton">Add to
                  cart</button>
              </div>
            </div> -->
        <!-- <div *ngIf="productModel?.attribute !== undefined"> -->
      
        <!-- </div> -->
          <!-- <div class="rightCol">
        <div class="form-group">
          
        </div>
      </div> -->
          <!-- <div class="col-md-12 checkText">
            <div class="form-group">
              <p class="checkText">Check delivery date / availability</p>
              <input type="text" style="font-size: 10px;width: 110px; height: 30px; font-family: Montserrat-RegularCn"
                placeholder="ENTER PINCODE"> <button class="btn"> CHECK</button>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    </div>
    </div>
    <div class="col-md-6 ctrlAll1 backg" style="padding: 5px;"> 
      <div class=" text-center" style="justify-content: center">
        <p style="color: black;" class="mt-2">Shipping Across India</p>
        <hr color="#29495B">
        <div class="centerCol shaP">
            <div class="form-group shaP cen">
              <button mat-stroked-button (click)="addToCartItem(productModel?._id)"
               class="addToCartButton">Add to cart</button>
            </div>
          </div>
          <div class="leftCol shaP">
            <!--   <div class="form-group">
                  <button mat-stroked-button style="color:#29495B">
                  <mat-icon 
                  [ngClass]="{'changeMatIcon': productModel?.wishList}" >favorite</mat-icon>Add to Wishlist
                </button>
              </div> -->
            </div>
            <hr color="#29495B">
            <div>
              <p style="color: black;" class="mt-2">Check Delivery Options</p>
              <input type="text"> <button class="btn btn-default">Check</button>
            </div>
          </div>
    </div>
  </div>
</div>