<div class="container-fluid" style="margin-bottom: 50px;">
    <h1 class="titleInsta">@ Follow Us On <img src="../../../assets/image/panda.gif" width="80px"></h1>
    <a href="https://www.instagram.com/rinteger/"> 
    <p class="linkAsin">instagram</p> 
  </a>
      <div class="row">
        <app-carousel-item>
          <div appCarouselItem class="col-md-2 col-lg-2 col-xl-2 col-4 gridRowz" *ngFor="let data of instaImages.data">
           <!-- <a (click)="detailView(data._id)"> -->
            <!--  <img [src]="data.instagram" class="imgBannerss"> -->
            <a  href="https://www.instagram.com/rinteger/">
            <img [src]="data.images.low_resolution.url" class="imgBannerss">
          </a>
         <!--  </a> -->
          </div>
        </app-carousel-item>
      </div>  
    </div>
   
  