.imgBannerss {
  width: 100%;
  height:215px;
}



.joinRow {
  padding: 0px !important;
}

.linkAsin {
  font-family: 'Montserrat-RegularCn';
  text-transform: capitalize;
  text-decoration: underline;
  color: rgba(40, 121, 254, 0.9) !important;
  position: relative;
  bottom: 15px;
  font-weight: 100;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
}

.gridNow {
  margin-bottom: 35px !important;
}

.gridRowz {
  padding-left: 0px;
  padding-right: 0px;
}

@media only screen and (max-width: 900px) {
  .titleInsta {
    margin-top: 10px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #282D9D;
    border-left: 4px solid #282D9D;
    padding-left: 15px;
    font-family: 'HelveticaNeuelLTStd-Roman';
  }

  .imgBannerss {
    width: 100%;
    height: 100%;
  }

}



.titleInsta {
  margin-bottom: 15px !important;
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 300;
  color: #333;
  letter-spacing: 0.1rem;
  padding-left: 0px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5px;
  /* font-family: 'Montserrat-bold' !important; */
  font-family: 'Indie Flower', cursive;
}

.titleInsta:before,
.titleInsta:after {
  content: "";
  /*   border-style: double; */
  border-top: 1px solid;
  margin: 0 20px 0 0;
  flex: 1 0 40px;
  color: #e9e7e7 !important;
}

.titleInsta:after {
  margin: 0 0 0 20px;
}
@media only screen and (max-width:780px){
  .titleInsta {
  font-size: 22px;
  }
  /* .categoryBtn{
    font-size: 12px;
    font-family: 'Quicksand', sans-serif;
    padding: 3px 20px 3px 20px;
    width: 100px;
  } */
}