

 .btn {
    display: block;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    border: none; 
    padding: 10px;
    background-color: #002561;
    height: 40px;
    width:100%;  
    letter-spacing: 0.1em;
  }
  .mat-select {
    display: inline-block;
    width: 130%;
    outline: 0;
}
.updateBtn{
  display: block;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  border: none;
  padding: 10px;
  /* background-color: #A40C33; */
  height: 40px;
  width:auto;  
  letter-spacing: 0.1em;
}
.textStyle1 {
  /* font-family: 'HelveticaNeue'; */
  font-size: 13px;
}
mat-form-field.mat-form-field {
  /* font-family: 'HelveticaNeue'; */
}
  
