<div (window:resize)="getWindowSize()">
<div class="row" *ngIf="displayMobile === false">
    <div class="col-md-12" style="padding-left: 33px;">
      <div>
      <div>
        <!-- <p style="color: black;" class="mt-2">Shipping Across India</p> -->
        <!-- <hr color="#29495B"> -->
        <div class="centerCol shaP">
          <div class="form-group shaP ">

              <!-- <div class="leftCol shaP">
                  <div class="form-group"> -->
                                <!-- <button mat-stroked-button style="color:#29495B" (click)="checkLoginUser(productModel)">
                                <mat-icon 
                                [ngClass]="{'changeMatIcon': productModel?.wishList}" >favorite</mat-icon>
                              </button> -->
                            <!-- </div>
              </div> -->
            <button mat-stroked-button (click)="addToCartItem(productModel?._id)"
             class="addToCartButton">Add to Cart</button>
          </div>
        </div>
        
        <!-- <hr color="#29495B"> -->
        <!-- <div>
          <p style="color: black;" class="mt-2">Check Delivery Options</p>
         
          <input type="text"> <button class="btn btn-default">Check</button> 
        </div> -->
        <!-- <hr color="#29495B">
        <div > <b> Estimated Delivery:{{ myDate | date}} </b></div> -->
       
      </div>
      </div>
    </div>
  </div>
  <div class="row" (window:resize)="getWindowSize()" *ngIf="displayMobile === true" >
      <button  mat-stroked-button (click)="addToCartItem(productModel?._id)"
             class="checkout_button">Add to Bag</button>
  </div>
  </div>