.slider-container {
    display: flex;
    position: relative;
    padding: 20px;
    flex-direction: column;
    /* width: 1140px; */
  }
  
  .slides {
    display: flex;
    overflow: hidden;
    
    scroll-behavior: smooth;
  }
  
  .controls {
    display: flex;
    justify-content: center;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  
  
  @media only screen and (max-width: 900px) {
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 5px;
        margin-top: -22px;
        box-shadow: 1px 2px 10px -1px rgba(0,0,0,.3);
        background-color: hsla(0,0%,100%,.98);
        font-weight: bold;
        font-size: 20px;
        transition: 1s ease;
        border-radius: 0 3px 3px 0;
        user-select: contain;
        display: block;
    }
  }
  @media only screen and (min-width: 900px) {
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 10px;
        margin-top: -22px;
        box-shadow: 1px 2px 10px -1px rgba(0,0,0,.3);
        background-color: hsla(0,0%,100%,.98);
        font-weight: bold;
        font-size: 35px;
        transition: 1s ease;
        border-radius: 0 3px 3px 0;
        user-select: contain;
        display: block;
    }
  }