<nav class="navbar-light">
  <ul class="navbar-nav mt-3" >
    
    <li class="nav-item" *ngFor="let price of filterOptionsModel">
      <div class="categoryFilterFields"  [class.open]="filter1">
        <div class="categoryFilter" (click)="openAccordianOne()">
          Price 
        </div>
        <!--  <div class="list" *ngFor="let sub of attributeMain?.fieldValue">
      {{sub.fieldAttributeValue}}
  </div> -->
        <ul class="list">
          <li class="form-check pt-1" *ngFor="let subprice of price?.filterOptionPriceValue">
            <label class="filterAttribute" (click)="priceFilter(subprice.minPrice, subprice.maxPrice)">{{subprice.minPrice | converter | localeCurrency}} -  {{subprice.maxPrice | converter | localeCurrency}}</label>
          </li>
        </ul>
      </div>
    <!-- </li>
    <li class="nav-item" *ngFor="let price of filterOptionsModel"> -->
      <div class="categoryFilterFields " [class.open]="filter2" >
        <div class="categoryFilter" (click)="openAccordianTwo()">
          Discount 
        </div>
        <!--  <div class="list" *ngFor="let sub of attributeMain?.fieldValue">
      {{sub.fieldAttributeValue}}
  </div> -->
        <ul class="list">
          <li class="form-check pt-1" *ngFor="let subdis of price?.filterOptionDiscountValue">
            <label class="filterAttribute" (click)="discountFilter(subdis.minDiscount)">{{subdis.minDiscount}} or More</label>
          </li>
        </ul>
      </div>
    <!-- </li>
      <li class="nav-item" *ngFor="let price of filterOptionsModel"> -->
      <div class="categoryFilterFields " [class.open]="filter3" >
        <div class="categoryFilter" (click)="openAccordianThree()">
          Dispatch
        </div>
        <!--  <div class="list" *ngFor="let sub of attributeMain?.fieldValue">
      {{sub.fieldAttributeValue}}
  </div> -->
        <ul class="list">
          <li class="form-check pt-1"  *ngFor="let subdispatch of price?.filterDispatchValue">
            <label class="filterAttribute" (click)="dispatchFilter(subdispatch.day)">Within {{subdispatch.day}} days</label>
          </li>
        </ul>
      </div>
    </li>

  </ul>
</nav>