.text-cente {
    position: absolute;
    top: 88.4%;
    left: 50.1%;
    transform: translate(-50%, -50%);
    background: rgba(138, 138, 138, 0.966);
    width: 265px;
    margin: 0px 5px 5px 0px;
    padding: 10px 0px 0px 0px;
    cursor: pointer;
  }
  
  
  
  .header-titl {
    margin: 0px;
    padding: 0px;
    color: #555;
    font-size: 14px;
    text-align: center;
  }
  
  .uppercas {
    font-size: 10px;
    color: #334862;
    text-transform: uppercase;
    text-align: center;
  }
  
  .text-cente:hover {
    background: #7a5880;
    cursor: pointer;
  }
  
  .clasSi {
    padding: 11px;
  }
  
  .img-fluid {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  
  .space-fram {
    padding-left: 0px;
    /* padding-right: 0px; */
    /* padding-right: 0px; */
  }
  
  .sfram {
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .fram {
    padding-right: 0px;
    /* padding: 0px; */
  }
  
  .box {
    text-align: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
  }
  
  .box:before,
  .box:after {
    content: "";
    width: 250%;
    height: 200%;
    background: rgba(85, 84, 84, 0.089);
    position: absolute;
    top: 0;
    left: 0;
    transform: skew(45deg) translateX(100%);
    transition: all 0.6s ease 0s;
  }
  
  .box:after {
    transform: skew(45deg) translateX(-100%);
  }
  
  .box:hover:before,
  .box:hover:after {
    transform: skew(45deg) translateX(0px);
  }
  
  .box img {
    width: 100%;
    height: auto;
  }
  
  .img {
    object-fit: cover;
    width: 50px;
    height: 100px;
  }
  
  @media only screen and (max-width: 990px) {
    .box {
      margin-bottom: 30px;
    }
    .image-box{
      margin: 15px !important;
    }
  }
  
  /* ================================================== */
  
  /* Float Shadow */
  .hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  
  .hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: "";
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center,
        ellipse,
        rgba(0, 0, 0, 0.35) 0%,
        rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center,
        rgba(0, 0, 0, 0.35) 0%,
        rgba(0, 0, 0, 0) 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
  }
  
  .hvr-float-shadow:hover,
  .hvr-float-shadow:focus,
  .hvr-float-shadow:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */
  }
  
  .hvr-float-shadow:hover:before,
  .hvr-float-shadow:focus:before,
  .hvr-float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
  }
  
  .gridSpac {
    margin-top: 40px;
  }
  
  /* ============================= */
  .boxp {
    text-align: center;
    overflow: hidden;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    position: relative;
  }
  
  .boxp:before,
  .boxp:after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s ease 0s;
  }
  
  .boxp:after {
    background: #ffffff1e;
    opacity: 1;
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0px, -100%, 0px);
    transition: transform 0.6s ease 0s;
  }
  
  .boxp:hover:before {
    opacity: 1;
  }
  
  .boxp:hover:after {
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0px, 100%, 0px);
  }
  
  .boxp img {
    width: 100%;
    height: auto;
  }
  
  .boxp .box-contentp {
    width: 100%;
    /* height: 100%; */
    padding-top: 27%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s ease 0s;
  }
  
  .boxp:hover .box-contentp {
    opacity: 1;
  }
  
  .boxp .titlep {
    display: block;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 10px;
  }
  
  .boxp .postp {
    display: block;
    font-size: 15px;
    font-weight: 600;
    font-style: italic;
    color: #fff;
  }
  
  .boxp .iconp {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
  }
  
  .boxp .iconp li {
    display: inline-block;
  }
  
  .boxp .iconp li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    font-size: 18px;
    color: #000;
    margin-right: 10px;
    transition: all 0.3s ease 0s;
  }
  
  .boxp .iconp li a:hover {
    border-radius: 50%;
  }
  
  @media only screen and (max-width: 990px) {
    .spaceCtrl {
      position: relative;
      overflow: hidden;
      margin-bottom: 0px;
      cursor: pointer;
      -webkit-transition: all 0.5s;
      backface-visibility: inherit;
    }
  
    .img-content {
      max-width: 100% !important;
      height: auto !important;
      box-shadow: 0 1px 5px 0 #00000063, 0 1px 2px 0 rgba(0, 0, 0, 0.19);
    }
  
    .boxp {
      margin-bottom: 10px;
    }
  }
  
  .buttonVal {
    background-color: rgb(88, 86, 86);
    opacity: 1.5;
    filter: Alpha(opacity=50);
    width: 200px;
    height: auto;
    align-content: center;
    color: rgb(80, 77, 77);
  }
  
  .fashIons2 {
    margin-top: 0px;
    position: absolute;
    top: 51%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: #f1f2f3;
    font-size: 44px;
    width: auto;
  }
  
  .fashIons1 {
    margin-top: 0px;
    position: absolute;
    top: 50%;
    left: 48%;
    background-color: #ffffff;
    opacity: 0.8;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 4%;
    padding-left: 4%;
    transform: translate(-50%, -50%);
    color: rgb(68, 70, 71);
    font-size: 40px;
    width: auto;
  }
  
  .fashIonsMob {
    margin-top: 0px;
    position: absolute;
    top: 51%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: #f1f2f3;
    font-size: 30px;
    width: auto;
  }
  
  .gridSpace {
    margin-top: 40px;
    margin-right: 0px;
    margin-left: 0px;
  }
  
  .gridSpaceMob {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
  }
  
  .space-fram1 {
    padding-left: 0px;
  }
  
  .bottomSpace {
    /* margin-bottom: 45px; */
  }
  
  
  
  /* -------------------- */
  .ourCetego {
    /* margin-bottom: 35px; */
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 300;
    color: #333;
    letter-spacing: 0.1rem;
    padding-left: 0px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 35px;
    /* font-family: 'Montserrat-Regular'; */
    font-family: 'Indie Flower', cursive;
  }
  
  .ourCetego:before,
  .ourCetego:after {
    content: "";
    /*   border-style: double; */
    border-top: 1px solid;
    margin: 0 20px 0 0;
    flex: 1 0 40px;
    color: #e9e7e7;
  }
  
  .ourCetego:after {
    margin: 0 0 0 20px;
  }
  
  /* ====================zooming======================= */
  .image-box {
    position: relative;
    margin: auto;
    overflow: hidden;
  
  
  }
  
  .image-box img {
    transition: all 0.8s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
    transition-duration: 1s;
  }
  
  .image-box:hover img {
    transform: scale(1.1);
  }
  
  
  
  .image-box {
    text-align: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
  }
  
  .image-box:before,
  .image-box:after {
    content: "";
    width: 250%;
    height: 200%;
    background: rgba(255, 255, 255, 0.089);
    position: absolute;
    top: 0;
    left: 0;
    transform: skew(45deg) translateX(100%);
    transition: all 0.9s ease .2s;
  }
  
  .image-box:after {
    transform: skew(45deg) translateX(-100%);
  }
  
  .image-box:hover:before,
  .image-box:hover:after {
    transform: skew(35deg) translateX(0px);
  }
  
  .image-box img {
    max-width: 100%;
    height: auto;
  }
  
  /* ------------------------------------------- */
  .categoryBtn {
    padding: 3px 20px 3px 20px;
    width: 160px;
    color: #2d2d2d !important;
    /* border: 2px solid #868686; */
    background: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Montserrat-Regular';
    letter-spacing: 1px;
  
  
  }
  
  .categoryBtnCtrl {
    margin-top: 0px;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #2d2d2d;
    font-size: 66px;
  }
  .image-box:hover .categoryBtn{
    background: #2d2d2d;
    color: #fff !important;
    transition-duration: 0.4s;
  }
  .categoryBtnCtrl2{
    margin-top: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #2d2d2d;
    font-size: 66px;
  }
  .categoryBtn2{
    padding: 3px 20px 3px 20px;
    width: 160px;
    color: #2d2d2d !important;
    /* border: 2px solid #868686; */
    background: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Montserrat-Regular';
    letter-spacing: 1.5px;
  
  }
  .image-box:hover .categoryBtn2{
    background: #2d2d2d !important;
    color: #fff !important;
    transition-duration: 0.4s !important;
  }
  button:focus{
  outline: none;
  }
  .cir{
    border-radius: 50%;
  }
  img{
    width:180px;
  }

  @media only screen and (max-width:780px){
    img{
      width: 80px;
    }
  }
  @media only screen and (max-width:780px){
    .ourCetego {
    font-size: 22px;
    }
    .categoryBtn{
      font-size: 12px;
      font-family: 'Quicksand', sans-serif;
      padding: 3px 20px 3px 20px;
      width: 100px;
    }
  }