
<div class="container" (window:resize)="getWindowSize()" >

    <h1 class="ourCetego gridSpac">Our Categories</h1>
    <h5 class="text-center pb-2">Discover everything for your fashion-forward collection of shirts, t-shirts, hoodies, joggers, kurtis etc.</h5>

<div class="row" style="justify-content: center;">
<!-- {{array |json }} -->
<!-- <app-carousel-item> -->
  <div  class="col-md-2 col-sm-6 col-6 pr-2 pl-2 mx-auto" *ngFor="let i of array">
    <img class="cir" [src]="productImageUrl + i._id + '/' + i.mainCategoryImageName"><br>
    <p class="">{{i.mainCategoryName}} </p>
  </div>
  <!-- </app-carousel-item> -->
</div>



</div>



