::ng-deep .snackbar{
    /* top:50%; */
    margin-left: 300px !important;
    margin-bottom: 300px !important; 
    /* background-color: blue; */
}
::ng-deep .mat-input-underline .mat-form-field-underline {
    display: block;
    background-color: black;
}
/* ::ng-deep .c1{
    margin-top: 20px;
    width: 300px;
    height: auto;
   margin:auto;
  } */
  .top{
      /* margin-top: 100px; */
  }
  .topMob{
      /* margin-top: 30px; */
  }
.container-1{
    /* margin-top: 30px; */
    padding:50px;
}
/* .box{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
} */
.cen{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: block;
}
button{
    color: white;
    background-color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    /* float: right; */
}
::ng-deep .mat-form-field .mat-input-element {
    color: black;
    font-size: 15px;
}
::ng-deep .mat-form-field .mat-form-field-label {
    color: black!important;
    font-size: 15px;
}
::ng-deep .mat-form-field .mat-form-field-underline {
    background-color: black;
    font-size: 15px;
}
::ng-deep .mat-form-field .mat-form-field-ripple {
    background-color: black;
    font-size: 15px;
}
::ng-deep .mat-form-field .mat-form-field-required-marker {
    color: black;
    font-size: 15px;
}


/* ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #ff884d!important;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #ff884d;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-required-marker {
    color: #ff884d;
}
::ng-deep .mat-form-field.mat-focused .mat-input-element {
    color: #ff884d;
} */



::ng-deep .mat-form-field.mat-form-field-invalid .mat-input-element {
    color: #ff33cc;
}
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: #ff33cc!important;
}
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label .mat-form-field-required-marker {
    color: #ff33cc;
}
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
    background-color: #ff33cc;
}
.mat-form-field{
    font-family: 'Quicksand', sans-serif;
}
.backg{
  
    background-repeat: no-repeat;
    /* background: linear-gradient(to top left, #f5f7fa  0%, #c3cfe2 100%); */
    /* background-attachment: fixed; */
    background-size: contain;
    background-position: top;
    /* opacity: 0.5; */
  }
  .mat-form-field-outline{
      background: #EBFAF5 !important;
  }