<div class="contaier container-1 top backg" style="background-image: url('../../../assets/image/bg.png');" [ngClass]="{'topMob':showMobileView===true}" (window:resize)="getWindowSize()">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-12">
      <h4 style="text-align: center; padding: 20px;"> Contact Us
        </h4></div>

    <!-- <div class="col-sm-6 co-md-6 col-6" *ngIf="!showMobileView">
      <img src="../../../assets/image/cc.jpg" width="600px" class="img-responsive ">
    </div> -->
    <div class="col-md-4"></div>
    <div class="col-sm-4 co-md-4 col-12  ">
      <form [formGroup]="contactForm">
        <mat-form-field appearance="outline">
            <input matInput formControlName="Name" placeholder="Name" class="box">
          </mat-form-field>

          <mat-form-field appearance="outline">
              <input matInput formControlName="email" placeholder="Email" class="box">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <input matInput formControlName="mobile" placeholder="Mobile Number" class="box">
              </mat-form-field>
        
          <mat-form-field appearance="outline">
            <textarea matInput formControlName="Message" placeholder="Message" class="box"></textarea>
          </mat-form-field>
          <div  class="m-auto">
          <button mat-button (click) = "onSubmit()">Submit</button> </div>
          </form>
    </div>
    <div class="col-md-4"></div>

</div>
</div>