.demo{ background-color: #F3F4F8; }
.product-grid{
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.product-grid .product-image{
    position: relative;
    overflow: hidden;
}
.product-grid .product-image a.image{ display: block; }
.product-grid .product-image img{
    width: 100%;
    height: auto;
}
.product-grid .product-image .pic-1{ transition: all 0.5s; }
.product-grid .product-image:hover .pic-1{ transform: scale(1.1); }
.product-grid .product-sale-label{
    color: #fff;
    background-color: #341f97;
    font-size: 13px;
    text-transform: uppercase;
    padding: 7px 7px 28px 36px;
    position: absolute;
    top: 0;
    right: 0;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
}
.product-grid .product-content{ padding: 15px 15px 20px; }
.product-grid .title{
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0 0 7px;
}
.product-grid .title a{
    color: #333;
    transition: all .4s ease-out;
}
.product-grid .title a:hover{ color: #333; }
.product-grid .price{
    color: #00acee;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 10px;
}
.product-grid .price span{
    color: #999;
    text-decoration: line-through;
}
.product-grid .product-button-group{ display: inline-block; }
.product-grid .add-to-cart{
    color: #333;
    background: #fff;
    font-size: 14px;
    line-height: 29px;
    height: 30px;
    padding: 0 15px;
    border: 1px solid #999;
    float: left;
    display: inline-block;
    transition: all 0.25s ease 0s;
}
.product-grid .add-to-cart i.fa{ margin-right: 8px; }
.product-grid .product-like-icon{
    color: #333;
    background: #f4f4f4;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border: 1px solid #999;
    border-left: none;
    display: inline-block;
    transition: all 0.25s ease 0s;
}
.product-grid .add-to-cart:hover,
.product-grid .product-like-icon:hover{
    color: #fff;
    background: #00acee;
}
@media only screen and (max-width:990px){
    .product-grid{ margin: 0 0 30px; }
}

.wishlistAdd{
  color: #fe0000 !important; 
  outline: transparent !important;
}

@media only screen and (max-width:990px){
  .product-grid{ margin: 0 0 40px; }

  .product-grid .title {
      font-size: 12px;
      margin: 0 0 5px;
  }
  .new3 h3{
      font-size: 14px;
  }
  .product-grid .product-content{
      padding: 5px 4px;
      text-align: center;
  }
  .product-grid .price {
      color: #303030;
      font-size: 11px;
  }
  .row h3{
      font-size: 22px  !important;
  }
  hr.new3 {
      border: 1px solid #505980;
      width: 20%;
      margin-top: auto;
    }

.header-text {
  margin-bottom: 10px;
}
}

