<!-- {{recentPrdouctData?.length}} -->
<div class="container" *ngIf="recentPrdouctData?.length !==0">
  <h3 class="text-center" *ngIf="recentPrdouctData?.length !==0"> RECENTLY VIEWED
  </h3>
 <br>
  <div class="row">
    <app-carousel-item>
      <div appCarouselItem class="col-md-3 col-sm-6 col-6" *ngFor="let product of recentPrdouctData">
          <div class="product-grid">
              <div class="product-image">
                  <a (click)="getProduct(product)" class="image">
                      <img class="pic-1" [src]="product.productImage[0]?.productImageName">
                  </a>
              </div>
              <div class="product-content">
                  <h3 class="title"><a title="{{product.productName}}" (click)="getProduct(product)">
                    {{product?.productName.length > 24 ? product?.productName.substr(0,24) + '...': product?.productName}}

                  </a></h3>
                  <div class="price"><span>{{product?.mrp | currency : "INR"}}</span> {{product?.sp | currency : "INR"}}</div>
                  <div class="product-button-group">
                      <a class="add-to-cart" (click)="getProduct(product)"><i class="fa fa-shopping-cart"></i>ADD TO CART</a>
                      <a class="product-like-icon" (click)="checkLoginUser(product._id)">
                        <i class="fa fa-heart"[ngClass]="{'wishlistAdd':product?.wishList}"></i></a>
                  </div>
              </div>
          </div>
      </div>
    </app-carousel-item>    
  </div>
</div>





<!-- 
<h5 class="titleVal text-center" *ngIf="recentPrdouctData?.length !==0">
  RECENTLY VIEWED
</h5>
<div class="container">
  <div class="text-center" *ngIf="recentPrdouctData?.length !==0">
    <app-carousel-item>

      <div appCarouselItem class="col-md-3 pr-2 pl-2 col-6 " *ngFor="let product of recentPrdouctData">
        <div class="productBox" appHoverItem>
          <div class="productImg">
            <div class="grumpy-image-wrapper">

              <img class="grumpy-image" (click)="getView(product._id, product.superCategoryId, product.subCategoryId)"
                [src]="product.productImage[0].productImageName" (click)="getProduct(product)">

            </div>

          </div>
          <div class="productDetails">
            <h3 class="productName text-center">{{product.productName}}</h3>
            <div class="productPriceBox">

              <h6 class="productPrice">{{product.price  |  localeCurrency}}
              </h6>
            </div>

          </div>
        </div>
      </div>
    </app-carousel-item>
  </div>
</div> -->