
<div class="container" style="margin-top: 150px">
  <h1 class="text-center">The Bulchee Story</h1> <br>
  <div class="row"> 
      <div class="col-md-6 col-6">
          <div>
              <h2>{{aboutUs.Title}}</h2>
              <br>
              <h4>{{aboutUs.Details}}</h4>
              <br>
              <div class="row " >
                <div class='col-md-4'>
                    <div class="cen">
                    <i class="fa fa-handshake-o" aria-hidden="true"></i> </div>
              <p>{{aboutUs.note1}}</p>
              </div>
              <div class='col-md-4'>
                   
                            <div class="cen">
                           <i class="fa fa-certificate" aria-hidden="true"></i> </div>
                  <p> {{aboutUs.note2}} </p>
              </div>
                  <div class='col-md-4'>
                        <div class="cen">
                                <i class="fa fa-users" aria-hidden="true"></i> </div>
                      <p> {{aboutUs.note3}}</p>
                      </div>
              </div>
            </div>
      </div>
      <div class="col-md-6">
          <img [src]="imageUrl + aboutUs._id + '/' + aboutUs.ImageName" width="500px">
      </div>
      </div>
      <br><br>
      <div class="row"> 
            <div class="col-md-6">
                    <img [src]="imageUrl + aboutUs1._id + '/' + aboutUs1.ImageName" width="300px">
                </div>
            <div class="col-md-6 col-6">
                <div>
                    <h2>{{aboutUs1.Title}}</h2>
                    <br>
                    <h4>{{aboutUs1.Details}}</h4>
                    <br>
                    <div class="row " >
                      <div class='col-md-4'>
                          <div class="cen">
                          <i class="fa fa-handshake-o" aria-hidden="true"></i> </div>
                    <p>{{aboutUs1.note1}}</p>
                    </div>
                    <div class='col-md-4'>
                         
                                  <div class="cen">
                                 <i class="fa fa-certificate" aria-hidden="true"></i> </div>
                        <p> {{aboutUs1.note2}} </p>
                    </div>
                        <div class='col-md-4'>
                              <div class="cen">
                                      <i class="fa fa-users" aria-hidden="true"></i> </div>
                            <p> {{aboutUs1.note3}}</p>
                            </div>
                    </div>
                  </div>
            </div>
            
  </div>
  
  
  
  </div>