.div2{
    height: 300px;
    background-color: #2d2d2d;
    color: white;
    font-size: 25px;
    padding: 50px;
    text-align: center;
}
.div1{
    padding-left: -15px;
    padding-right: -15px;
}
.cen{
    margin: auto;
    display: block;
}
.fa{
    font-size: 40px;
    margin: auto;
    display: block;
}