.gridContainer {
  background: #ebebeb;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}
.abtn { 
display: block;
width: 80%;
margin: 0 auto;
line-height: 38px;
letter-spacing: 0.025em;
color: #000;
border: 1px solid #000;
text-align: center;
background: transparent;
}
.backColor {
  background-color: white;
  
}
.designer-wrapper .pfg-beige {
  background-color: #e9e1d6;
}
.margin-b-vw-2 {
  margin-bottom: 2vw !important;
}
.soatflex {
  margin-top: 6.2rem !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  font-size: 0;
}
.wrapper .pfg-beige h5, .designer-wrapper .pfg-beige p {
  color: #4c4c4c;
}
.soatflex p {
  font-size: 1vw;
  line-height: 1.5vw;
}
.soatflex .color-text-block.no-border-top {
  border-top: 0;
}
.soatflex .color-text-block.customizer {
  padding: 6vw 20vw;
}
.soatflex .color-text-block.customizer {
  padding: 6vw 20vw;
}
.soatflex .color-text-block.has-border {
  border: 3vw solid #fff;
      border-top-color: rgb(255, 255, 255);
      border-top-style: solid;
      border-top-width: 3vw;
}
.soatflex .color-text-block.has-border {
  border: 3vw solid #fff;
      border-top-color: rgb(255, 255, 255);
      border-top-style: solid;
      border-top-width: 3vw;
}
.designer-wrapper .pfg-beige {
  background-color: #e9e1d6;
}
.soatflex .soat-flex-row {
  flex-basis: auto;
}
.soatflex .color-text-block {
  text-align: center;
  padding: 6vw 0;
  margin: 0 6vw 6vw 6vw;
  display: inline-block;
  width: 100%;
  margin: 0;
}
.soatflex .color-text-block {
  text-align: center;
  padding: 6vw 0;
  margin: 0 6vw 6vw 6vw;
  display: inline-block;
  width: 100%;
  margin: 0;
}
.topSize {
  padding-top: 5%;
}
.top{
  /* margin-left:78px; */
  margin-top: 35px;
}
.topMob{
  margin-left:-15px;
  margin-top: 0px;
}