<div  *ngIf='!showMobileView1'>
  <!-- <app-breadcrumb [cat]="cat" [commonCategory]="commonCategory" [tagData]="tagData"
   *ngIf="!showMobileView1"></app-breadcrumb> -->
</div>
<div class="container-fluid">
<div class="row top" [ngClass]="{'topMob':showMobileView1===true}">
  <div class="col-md-6">
    <app-product-image [productModel]="productModel" 
        (clickOnImage)="clickSelectedImgeZoom($event)"
        [productImageUrl]="productImageUrl"
        [productModelImage]="productModel?.productImage">
    </app-product-image>
  </div>
  <div class="col-md-6">
    <div class="row">
      <!-- <div class="col-md-12">
        <app-product-title [productModel]="productModel"></app-product-title>
      </div> -->
      <div class="col-md-11">
          <app-product-single-details 
          [sizeData]="sizeData"
          (selectedService)="getSelectedService($event)"
         [readyToWearholder]="readyToWearholder"
          (addTocart)="selectedItems($event)"
          [productModel]="productModel">
        </app-product-single-details>

        <app-size-variant   [isSizeGuide]="isSizeGuide" [sizeData]="sizeData"
        *ngIf="productModel?.variationType === 'Size'"
         [productModel]="productModel"
         (selectedVariant)="selectData($event)"
        [selectedSize]="selectedSize"></app-size-variant>
          <app-color-variant 
          *ngIf="productModel?.variationType === 'Color'"
           [productModel]="productModel"
          (selectedVariantColor)="selectData($event)"
          [selectedSize]="selectedSize"></app-color-variant>
          
          <app-size-color-variant 
          
          (selectedVariantSizeColor)="selectData($event)"
          *ngIf="productModel?.variationType === 'SizeColor'"
          [selectedSize]="selectedSize"
          [color]="selectedColorCategory"
          >
          </app-size-color-variant>

          <!-- {{attribute}} -->
          <!-- <app-dynamic-attribute *ngIf="attributeLength > 0" [attribute]="attribute">
          </app-dynamic-attribute> -->
          
                <!-- <br>
                <app-inquiry></app-inquiry> -->
            
      </div>
      <div class="col-md-12">
          <!-- <app-none-variant [productModel]="productModel"
          (addTocart)="selectedItems($event)">

            </app-none-variant> -->
<!-- 
            <app-add-to-cart [productModel]="productModel"
            (addTocart)="selectedItems($event)">
  [isNotAvailable]="isNotAvailable" [isNonZero]="isNonZero"     [isEmptyQty]="isEmptyQty" [isLowQuantity]="isLowQuantity"
            </app-add-to-cart> -->
            <app-add-to-cart [productModel]="productModel"
         
         (addTocart)="selectedItems($event)" > </app-add-to-cart>
            
      </div>
      
    </div>
    
  </div>
  <div class="col-md-12 soatflex designer-wrapper">
    <div class="color-text-block soat-flex-row customizer has-border pfg-beige no-border-top">
      <h5 class="margin-b-vw-2"> Luxuriously Hand Crafted with Perfect Fit  </h5>
      <p class="margin-b-vw-2"> By creating a unique custom size, the days of ill fitting mask are long gone. </p>
      <p class="margin-b-vw-2"> Hand Crafted , it’s how premium mask is meant to be. </p>
      <p class="margin-b-vw-2"> Not just keeping you safe but also Fashionalbe  </p>
    </div>
  </div>
 <!--  <br><br>
  <div class="col-md-12 backColor">
      <app-product-details-tab [productImageUrl]="productImageUrl" 
      [productModel]="productModel" [attribute]="attribute">
      </app-product-details-tab>
    </div> -->
<!-- 
    (selectProduct)= "viewSelectedProduct($event)"
    (selectedProductcart)="viewSelectedProductCart($event)" (wishListData)="addToWishList($event)" -->
  <div class="col-md-12 topSize">
      <app-similar-product [recentPrdouctData]="recentPrdouctData"></app-similar-product>
    </div>
  <!-- <div class="col-md-12">
      <hr>
      <app-product-review [reviewData]="reviewData" [totalRating]="totalRating"></app-product-review>
    </div> -->
<!-- </div> -->
<!-- <div class="col-md-12">
  <app-product-zoom [productModel]="productModel" [slideIndex]="sildeIndex" [zoom]="zoom"></app-product-zoom>
</div> -->
<!-- <div class="col-md-12 col-12">
  <app-you-may-also-like-page [alsoModel]="alsoModel"   [productImageUrl]="productImageUrl"></app-you-may-also-like-page>
</div> -->
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4 col-8">
        <div class="form-group mt-3">
          <!-- <a class="abtn"> Sign up for the latest updates</a> -->
        </div>
      </div>
      <div class="col-md-4 col-2">

      </div>
      <div class="col-md-4 col-2">
        <!--      <div class="form-group float-right mt-3">
            STORES
          </div> -->
      </div>
    </div>
  </div>
</div>
</div>
</div>