<div (window:resize)="getWindowSize()" class="top" *ngIf="!wishList || wishList.length === 0">
    <mat-card class="text-center">
      <h1 style="font-size:20px;">Your Wish List is empty</h1>
      <!-- <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
      <img class="m-auto" src="../../../assets/image/wishlist.png" width="150px"> <br> <br>
      <button class="continueShopping" routerLink="/home/welcome">Continue To Shopping</button>
    </mat-card>
</div>
<div class="container top" *ngIf="!wishList || wishList.length > 0" [ngClass]="{'topM':showMobileView}">
<form [formGroup]="wishForm">
    <h4>My Wishlist</h4>
<div class="row mt-2">
 
  <div class="col-md-3 col-6" *ngFor="let wish of wishList">
    <div class="productBox" *ngFor="let product of wish?.wishListProduct">
      <div class="productImg">
        <div class="grumpy-image-wrapper">
        <!-- <div style="width: 100%; padding-top: 120%; background: rgb(247, 246, 249); cursor: pointer;"> -->
          <img [src]="product.productImage[0].productImageName" class="grumpy-image" (click)="getProduct(product)">
        </div>
        <div class="productSize" [style.display]="'block'">
          <span class="removeProduct" (click)="removeWishList(wish)"><mat-icon>clear</mat-icon></span>
        </div>
      </div>
      <div class="productDetails">
        <h3 class="productName ">{{product.productName}}</h3>
        <div class="productPriceBox">
          <!-- <h6 class="productPrice"><span>&#x20B9;</span>{{product.price}}</h6> -->
          <p  class="text-center textShape"><span  style="padding-left: 10px; font-size: 17px; color: #3B3B3B;font-family: 'Montserrat-Regular';">{{product.price  |  localeCurrency  }}</span>
            <!-- <span [ngClass]="product.discountStyle" style="font-family: 'Montserrat-Regular'">{{product.oldPrice  | converter | localeCurrency }}</span>
            <span [hidden]="product.discount === 0 || product.discount === undefined" class="pull-right offerText" style="color: #666666; font-family: 'Montserrat-Regular'">{{product.discount}} off</span></p> -->
        </div>
      </div>
     <!--  <div class="selectSize">
        
      <select [(value)]="wish.productIds.sku || changeSize" formControlName="seletedSku"
         (change)="selectedWishSize($event.target.value, wish)">
          <option [value]="changeSize" [disabled]="true">Change Size</option>
          <option [value]="size.sku" 
          *ngFor="let size of product?.child"
           >{{size.sizeVariant}}</option>
        </select>
      </div> -->
      <div class="productAction text-center" (click)="moveToBag(wish, product)" >
        <span   class="addtoProduct"><span >Move To Cart</span></span>
      </div>
    </div>
  </div>
</div>
</form>
</div>