<!-- <div class="container gridSpace space" (window:resize)="getWindowSize()">
  <div class="row spdd">
    <div class="col-md-6 col-lg-6 col-xl-6 col-12 sp1 " [ngClass]="{'sp1A':showMobileView}" >
      <div class="space">
          <div class="newOne">
        <div class="spaceCtrl" >
            <a href="{{leftBanner?.link}}"> -->
            <!-- <div class="boxp"> -->
             <!-- <img [src]="leftBanner?.imageName" class="img img-responsive" [ngClass]="{'imgMob':showMobileView}" mat-stroked-button  >
            <h2 class="fashIons" style="font-family: Montserrat-Regular">
              {{leftBanner?.title}}
             </h2>
            <p class="arriVals" [ngClass]="{'arriValsMob':showMobileView===true}" 
            style="font-family: Montserrat-Light">
              {{leftBanner?.description}}
            </p>
            <div class="leftBannerPosition" *ngIf="holderFrame1?.buttonContent" style="font-family: Montserrat-RegularCn">
              <button class="btnn buttonShape" style="margin-top: -25px;
              margin-right: 3px;" appHover>{{leftBanner?.buttonContent}}</button>
            </div> -->
          <!-- </div> -->
        <!-- </a>
        </div>
        </div>
      </div>
    </div> -->

    <!-- <div class="col-md-6 col-lg-6 col-xl-6 col-6 spAcE" *ngFor="let data of holder"> -->
     <!--  <div class="space"> -->
        <!-- <div class="spaceCtrl" > -->
            <!-- <a href="{{data.link}}"> -->
          <!-- <img [src]="data.adsImageName" class="img" > -->
          <!-- </a> -->
        <!-- </div> -->
   <!--    </div> -->
    <!-- </div> -->
    
    <!-- <div class="col-md-6 col-lg-6 col-xl-6 col-12 sp2" [ngClass]="{'sp2A':showMobileView}">
      <div class="space">
        <div class="spaceCtrl" >
            <a href="{{rightBanner?.link}}"> -->
          <!-- <div class="boxp"> -->
          <!-- <img [src]="rightBanner?.imageName" class="img img-responsive" [ngClass]="{'imgMob':showMobileView}"  mat-stroked-button> -->
        <!-- </div> -->
        <!-- <h2 class="fashIons1" style="font-family: Montserrat-Regular">
          {{rightBanner?.title}}
        </h2>
        <p class="arriVals1" [ngClass]="{'arriValsMob1':showMobileView===true}" style="font-family: Montserrat-Light">
          {{rightBanner?.description}}
        </p>
        <div class="rightBannerPosition1" *ngIf="holderFrame2?.buttonContent" style="font-family: Montserrat-RegularCn">
          <button class="btnn buttonShape" style="margin-top: -25px;
          margin-right: 3px;">{{rightBanner?.buttonContent}}</button>
        </div>
      </a>
        </div>
      </div>
    </div>
  </div>
</div> -->