<h1>NEW ARRIVALS</h1>
<div class="alignNit">
    <span class="buttonS buttonU">
      <strong class="view-class">
        VIEW ALL
      </strong>
    </span>
  </div>
<div class="container-fluid">
  <div class="row" style="margin-top: 15px">
    <app-carousel-item>
      <div appCarouselItem class="col-md-2 col-lg-2 col-xl-2 col-6" *ngFor='let data of image'>
        <a (click)="detailView(data._id)">
          <img [src]="data.images" class="img-fluid">
        </a>
      </div>
    </app-carousel-item>
  </div>
</div>