.img-fluid{
    width: 100%;
    height: auto;
}

.buttonU {
	background-color: rgb(250, 250, 250);
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	cursor: pointer;
}


.buttonU strong {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.buttonU strong:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.buttonU:hover strong {
	padding-right: 15px;
}

.buttonU:hover strong:after {
	opacity: 1;
	right: 0;
}

.buttonU:hover {
	color: black;
}
.alignNit{
    position: relative;
    text-align: right;
    padding-right: 20px;
}

h1{
    text-align: center;
    font-size: 25px !important;
    margin-top: 50px;
    font-weight: bolder;
    margin-bottom: 0px;
    padding-bottom: 0px;
    cursor: pointer;
}