

<form [formGroup]="regForm" (ngSubmit)="!regForm.invalid && onSubmit()" (window:resize)="getWindowSize()" novalidate>
  <div class="row gridRowz">
    
<div class="col-md-4"></div>
<div class="col-md-4 jumbotron">
    <h3 class="loginTitle">CREATE AN ACCOUNT</h3>
  <div>
    <div class="card cardCtrl col-md-12 col-12 mb-4"  [ngClass]="{'mat-cardMob':showMobileView}">
      <h5 class="newOnez">PERSONAL INFORMATION</h5>
      <div class="col-md-12 col-sm-12">
        <p style="color: crimson">{{holder?.result }}</p>
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <mat-form-field  appearance="outline">
              <mat-label>Your Email Address</mat-label>
              <input matInput placeholder="email" style="font-size: 15px" formControlName="emailId" required>
                <mat-icon matSuffix mat-icon-button aria-label="email">email</mat-icon>
            </mat-form-field>
          </div>
          <div class="col-md-12 col-sm-12">
            <mat-form-field  appearance="outline">
              <mat-label>Mobile Number</mat-label>
              <input matInput placeholder="Mobile Number" style="font-size: 15px" maxlength="10" formControlName="mobileNumber" required>
                <mat-icon matSuffix mat-icon-button aria-label="Mobile Number">phone</mat-icon>
            </mat-form-field>
          </div>
          <div class="col-md-12 col-sm-12">
            <mat-form-field  appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Password" style="font-size: 18px" [type]="showPassword ? 'text': 'password'"
               formControlName="password" required>
                <mat-icon matSuffix mat-icon-button aria-label="User Name" (click)="checkPassword()" style="cursor: pointer;">remove_red_eye</mat-icon>
              <mat-error *ngIf="regForm.controls['password'].errors?.required">
                Password is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6 col-sm-12">
            <button class="createNow"  mat-stroked-button [ngClass]="{'mat-cardMob':showMobileView}" type="submit">CREATE</button>
          </div>
          <div class="col-md-6 col-sm-12">
            <p class="text-center pt-2" style="font-family: 'Montserrat-Regular'; cursor:pointer"> Already have an account? <a (click)="gotoLogin()"> Login </a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4"></div>
</div>
</form>