<div class="card signInMasterDiv" [@heroState]="state" >
    <!-- (ngSubmit)="sendResetSubmit(passwordRequestForm)" -->
  <form [formGroup]="passwordRequestForm" novalidate 
  style="padding-top:60px">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 mx-auto">

          <div class="" *ngIf="!resetemailsent">
            <div class="center">
              <h2 class="resetNow">RESET PASSWORD</h2>
              <div>
                <p style="font-family:Montserrat-RegularCn;">We will send you an email to reset your password.</p>
              </div>
            </div>
                      
            <div>
             <div class="form-group center" *ngIf="emailmismatch" [@fadeOutState]="loadState">
                          <p>Entered email is not valid</p>
                      </div>
            </div>

            <div>
              <div class="form-group">
                <input class="form-control required" required email placeholder="Enter email id" 
                formControlName="emailId" type="email">
                <div *ngIf="passwordRequestForm.controls['emailId'].errors
                               && !passwordRequestForm.controls['emailId'].pristine" class="alert alert-danger">
                  <div [hidden]="!passwordRequestForm.controls['emailId'].errors.required">Email id is required</div>


                  <div [hidden]="!passwordRequestForm.controls['emailId'].errors.email">Email must be a valid email address</div>
                </div>
              </div>
               <input class="btn btnPink btn-block" value="SEND RESET LINK" type="submit" [disabled]='!passwordRequestForm.valid'>
            </div>
          </div>

          <div *ngIf="resetemailsent">

            <div class="center">
              <h2>Forgot Password ?</h2>
              <p>
                <b>We have sent a reset password link to your email account.</b>
              </p>
            </div>

            <div *ngIf="error">

                <div class="center">
                  <h2>Something went wrong</h2>
                  
                </div>
                </div>

          </div>


          <div class="link">
              <a routerLink="/account/acc/signin">
            <button  class="createNow" mat-stroked-button>
            Login! 
          </button>
        </a>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
