<form [formGroup]="passwordForm">
<div class="row">
  <div class="col-md-12 form-group text-center">
    <label><h6>Reset Password</h6></label>
  </div>
  <div class="col-md-12 col-sm-12 col-12 form-group text-center" *ngIf="this.showError"> <p style="color: red">Invalid Password</p></div>
  <div class="col-md-3 form-group"></div>
  <div class="col-md-6 form-group">
      <mat-form-field>
    <input matInput type="password" formControlName="oldPwd" placeholder="Old Password">
    </mat-form-field>
  </div>
  <div class="col-md-3 form-group"></div>
  <div class="col-md-3 form-group"></div>
  <div class="col-md-6 form-group">
      <mat-form-field>
    <input matInput type="password" formControlName="newPwd" placeholder="New Password">
    </mat-form-field>
  </div>
  <div class="col-md-3 form-group"></div>
  <div class="col-md-3 form-group"></div>
  <div class="col-md-6 form-group">
      <mat-form-field>
    <input matInput type="password" formControlName="confirmPwd" placeholder="Confrim Password">
    </mat-form-field>
  </div>
  <div class="col-md-3 form-group"></div>
  <div class="col-md-6 col-sm-6 col-6 form-group text-center" >
    <button (click)="updateResetPassword()"> Update </button>
  </div>
  <div class="col-md-6 col-sm-6 col-6 form-group text-center" >
    <button (click)="cancel()"> Cancel </button>
  </div>
</div>
</form>