
input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: black
}
input:focus {
  border-color: black
}

.ipbox{
  width: auto;
  padding: 7px;
  border-radius: 20px;
  border: 1px solid #cccccc;
  outline: none;
  }
  .ipbox:focus{
    border: 1px solid black;
  }
  .subButton{
    background-color: #0c0c0c!important;
    color: white;
    /* border-radius: 20px;
  }
  .text-cente {
    position: absolute;
    top: 88.4%;
    left: 50.1%;
    transform: translate(-50%, -50%);
    background: rgba(138, 138, 138, 0.966);
    width: 265px;
    margin: 0px 5px 5px 0px;
    padding: 10px 0px 0px 0px;
    cursor: pointer;
  
  }
  
  .header-titl {
    margin: 0px;
    padding: 0px;
    color: #555;
    font-size: 14px;
    text-align: center;
  }
  
  .uppercas {
    font-size: 10px;
    color: #334862;
    text-transform: uppercase;
    text-align: center;
  }
  
  .text-cente:hover {
    background: #7A5880;
    cursor: pointer;
  }
  
  .clasSi {
    padding: 11px;
  }
  
  .threeCtrl {
    position: relative;
    width: 100%;
    /* padding: 5px; */
    background: rgb(255, 255, 255);
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(2, 5, 24, 0.664);
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }
  
  .threeCtrl:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  
  .iconInsta{
    min-width: 100%; 
    background: #3A50BD;
  }
  
  .iconInsta:hover{
    min-width: 100%; 
    background: rgb(1, 1, 19);
  }
  
  .fa-2x:hover{
      color: rgb(243, 243, 243);
  }
  .gridCtrl {
    padding: 5px;
  }
  .gridSpace{
    margin-top: 20px !important;
    margin-bottom: 1px;
    margin-left: 0px;
    margin-right: 0px;
    max-width: 1540px;
    padding-right: 0px;
    padding-left: 0px; 
  }
  .spc {
    padding-right: 0px;
    padding-left: 0px; 
    margin-left: 0px;
    margin-right: 0px;
    /* width: 135;
    height: 135; */
  }
  
  
  
  .imgBannerss{
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    height: 200px;
    /* border: 0px 5px 5px 0px solid ; */
  }
  .instaBlock{
   
   padding-left: 0px ;
    padding-right: 0px;
  }
  @media only screen and (max-width:780px){
    .ourCetego {
    font-size: 13px !important;
    }
    .displayNoneSubscribe{
      display: block;
    }
  .ourCetego:before,
  .ourCetego:after {
    content: "";
    /*   border-style: double; */
    border-top: 1px solid;
    margin: 0 20px 0 0;
    flex: 1 0 40px;
    color: #e9e7e7;
  }
  .subscribeWidth {
    padding:5px; width: 80px;
  }
  
  .ourCetego:after {
    margin: 0 0 0 20px;
  }
  .modal-newsletter .form-group {
    padding: 0 20px;
    margin-top: 30px;
}
.modal-newsletter .form-control {
  box-shadow: none;
  background: #f5f5f5;
  border-color: #d5d5d5;
}


    .categoryBtn{
      font-size: 12px;
      font-family: 'Quicksand', sans-serif;
      padding: 3px 20px 3px 20px;
      width: 100px;
    }
  }
  .displayNoneSubscribe{
    display: none;
  }
  .subscribeWidth {
    padding:5px; width: 300px;
  }
  
  .ourCetego {
    margin-bottom: 35px;
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 300;
    /* color: #333; */
    letter-spacing: 0.1rem;
    padding-left: 0px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 35px;
    /* font-family: 'Montserrat-Regular';
     */
     font-family:  'Roboto', sans-serif;

  }

  .ourCetego:before,
.ourCetego:after {
  content: "";
  /*   border-style: double; */
  border-top: 1px solid;
  margin: 0 20px 0 0;
  flex: 1 0 40px;
  color: #e9e7e7;
}
6D6E71
.ourCetego:after {
  margin: 0 0 0 20px;
}
.jumbotron{
  background-color: #ffffff;
  padding:0;
}  
  
  
  
  
  
  
  
  
  
  