<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <h1 class="newsLatter ourCetego gridSpac" style="color: #6D6E71" >JOIN US ON </h1>
            <!-- <p>
                Subscribe to get all the recent updates in the monthly newsletter you need.
            </p> -->
            <div class="row mt-3">
              <div class="col-md-3 col-1">

              </div>
              <div class="col-md-6 col-10">
                <div class="modal-newsletter">
                <form class="example-form">
                <div class="form-group">
                  
                  <mat-form-field class="example-full-width text-center" >
                    <!-- <mat-label style="text-align: center;">Enter your email address here</mat-label> -->
                    <input #inputValue matInput [formControl]="emailFormControl" placeholder="Enter your email address here">
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                      Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                      Email is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                  
                  <div class="form-group" *ngIf="inputValue.value !== '' && !emailFormControl.hasError('email')">
                    <div class="example-full-width text-center" >
                      <button mat-raised-button [style.background-color]="btnColour" (click)="subscribe()" [style.color]="'white'">Submit</button>
                    </div>
                  </div>
                  
                
                </div>
              </form>
              </div>
              </div>

              <div class="col-md-3 col-1">

              </div>
            </div>
            <div class="text-center" style="color: red;" [hidden]="validEmail === true">Enter a Valid Email</div>
             
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
