.text-cente {
  position: absolute;
  top: 88.4%;
  left: 50.1%;
  transform: translate(-50%, -50%);
  background: rgba(138, 138, 138, 0.966);
  width: 265px;
  margin: 0px 5px 5px 0px;
  padding: 10px 0px 0px 0px;
  cursor: pointer;

}
.col{
  display: flex;
  
}
.mid1{
  /* width: 400px; */
  display: flex;
  justify-content: center;
}
.mid1Mob{
  border:1px solid black;
}
.midMob{
  height: auto !important;
  border:none !important;
}
.mid{
  width: 110px;
  height: 110px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 2px solid black;
  padding: 2px;
}

.header-titl {
  margin: 0px;
  padding: 0px;
  color: #555;
  font-size: 14px;
  text-align: center;
}
.iconStrip{
  width: 60px;
  height: auto;
  /* border: 2px solid black; */
  margin: auto;
  display: block;
}
.iconStripMob{
  margin: 8px !important;
  width: 85% !important;
}
.uppercas {
  font-size: 10px;
  color: #334862;
  text-transform: uppercase;
  text-align: center;
}

.text-cente:hover {
  background: #7A5880;
  cursor: pointer;
}

.clasSi {
  padding: 11px;
}

.threeCtrl {
  position: relative;
  width: 100%;
  /* padding: 5px; */
  background: rgb(255, 255, 255);
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(2, 5, 24, 0.664);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.threeCtrl:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


.iconInsta{
  min-width: 100%; 
  background: #3A50BD;
}

.iconInsta:hover{
  min-width: 100%; 
  background: rgb(1, 1, 19);
}

.fa-2x:hover{
    color: rgb(243, 243, 243);
}
.gridCtrl {
  padding: 5px;
}
.gridSpace{
  margin-top: 20px !important;
  margin-bottom: 1px;
  margin-left: 0px;
  margin-right: 0px;
  max-width: 1540px;
  padding-right: 0px;
  padding-left: 0px; 
}
.spc {
  padding-right: 0px;
  padding-left: 0px; 
  margin-left: 0px;
  margin-right: 0px;
  /* width: 135;
  height: 135; */
}



.imgBannerss{
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  height: 200px;
  /* border: 0px 5px 5px 0px solid ; */
}
.instaBlock{
 
 padding-left: 0px ;
  padding-right: 0px;
}











@media only screen and (max-width: 600px) {
  .iconStrip{
    width: 70%;
    height: auto;
    border: 2px solid black;
    margin: 20px;
  }
}


