<div class="mx-auto mb-2" style="width: 60%;">
  <div class="row">
    <div class="col mid1" [ngClass]="{'mid1Mob':showMobileView}">
    <div class="mid" [ngClass]="{'midMob':showMobileView}" *ngFor="let data of track">
      <img [src]="data.image" class="iconStrip" [ngClass]="{'iconStripMob':showMobileView}">
      <p class="text-center" *ngIf="!showMobileView">{{ data.msg }}</p>
    </div>
  </div>
</div>
<div class="container" >
  
</div>
</div>