<!-- <div class="nav-item  filterAttributeTop" *ngFor="let attributeMain of attributeModel">
  <a class="nav-link">{{attributeMain.fieldName | titleCase | titlecase}}</a>
  <ul class="filterSubAttribute" *ngFor="let sub of attributeMain?.fieldValue">
    <li class="form-check pt-1">
      <label class="filterAttribute">
        <input class="form-check-input"  [checked]="sub?.correct"
        (change)="onChangeVariant(attributeMain._id, $event.target.value, $event.target.checked)" 
        type="checkbox" [value]="sub._id"
        >
        {{sub.fieldAttributeValue}}
      </label>
    </li>
  </ul>
</div> -->
<nav class="navbar-light">
  <ul class="navbar-nav">
    <li class="nav-item" *ngFor="let attributeMain of attributeModel">
      <div class="categoryFilterFields"  [class.open]="attributeMain?.openDiv">
        <div class="categoryFilter" (click)="openAccordian(attributeModel, attributeMain._id)">
          {{attributeMain.fieldSetting === 'Color' && 'Size' ? attributeMain.fieldSetting :  attributeMain.fieldName | titleCase | titlecase}}
        </div>
        <!--  <div class="list" *ngFor="let sub of attributeMain?.fieldValue">
      {{sub.fieldAttributeValue}}
  </div> -->
        <ul class="list">
          <li class="form-check pt-1" *ngFor="let sub of attributeMain?.fieldValue">
            <label class="filterAttribute">
              <input class="form-check-input" [checked]="sub?.correct"
                (change)="onChangeVariant(attributeMain._id, $event.target.value, $event.target.checked)" type="checkbox"
                [value]="sub._id">
              <!-- {{sub.fieldAttributeValue}} -->
              <!-- <mat-checkbox class="form-check-input"  (change)="onChange(col, $event.target.checked)" type="checkbox" style="color: green "></mat-checkbox> -->
              <!--  <input class="form-check-input" [checked]="sub?.correct"
            (change)="onChangeVariant(attributeMain._id, $event.target.value, $event.target.checked)" type="radio"
            (click)="closeFunc()" [value]="sub._id"> -->
              {{sub.fieldAttributeValue}}
            </label>
          </li>
        </ul>
      </div>
    </li>

  </ul>
</nav>