<!-- <nav class="navbar navbar-expand-sm bg-light sticky-top  justify-content-end " style="height: 50px; background: #f2f2f2;">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link navbar-brand d-sm-none d-md-block d-xs-none topMenu" href="#">
        <i class="fa fa-phone" aria-hidden="true"></i>
       {{footerDetails?.contactNo}}
      </a>
    </li>
    <li class="nav-item" *ngIf="this.sharedSerivce?.showMyAccount() === 'true'">
        <div (click)="getSubscrbe()">
      <a class="nav-link navbar-brand d-sm-none d-md-block d-xs-none Class names visible-md-block, hidden-md topMenu"
        routerLink="/account/profile">
        MY ACCOUNT
      </a>
        </div>
    </li>
    <li class="nav-item">
      <a class="nav-link navbar-brand d-sm-none d-md-block d-xs-none topMenu" href="#">
        DAILY DEAL
      </a>
    </li>
    <li class="nav-item" *ngIf="this.sharedSerivce?.showMyAccount() === 'true'">
        <a class="nav-link navbar-brand d-sm-none d-md-block d-xs-none topMenu" href="#" (click)='logOut()'>
          LOGOUT
        </a>
      </li>
    <li class="nav-item"  *ngIf="this.sharedSerivce?.showMyAccount() !== 'true'">
      <a class="nav-link navbar-brand d-sm-none d-md-block d-xs-none topMenu" routerLink="/account/acc/signin" href="#">
        LOGIN
      </a>
    </li>
  </ul>
</nav> -->

<!-- <app-category-menu></app-category-menu> -->
