.navbar {
  height: 20px;
  background: #f2f2f2 !important;
}

a {
  color: #999999 !important;

}

#nav-menu-container {
  float: right;
  margin: 0;
}
.nav-link1{
  color: #28334f !important;
}

.topMenu {
  color: #999999;
  position: relative;
  color: #999999;
  letter-spacing: 0;
  font-size: 0.8rem;
  line-height: 1.0;
  font-weight: 400;
  padding-right: 1.8rem;
  margin-right: 2.0rem
}

/* .fa-phone{
    font-size:1.3rem;
    color:#999999
} */



@media only screen and (max-width: 900px) {
  .justify-content-end {
    display: none;
  }
  .bg-warnning{
    display: none;
  }
}

.img-fluid{
  height: 14px;
  width: 13px;
}