<div class="container form-group">
    <!--   <div class="sizeGuide pull-right">  
      <a (click)="getPopUp()">Size Guide</a>
     </div> -->
    <!-- <div class="sizeText ">
       Select size
     </div> -->
     <div class="text-danger" [hidden]="!selectedSize">
        <p>Please select a size</p>
      </div>
    <div class="sizeList" [ngClass]="{'shakeit':selectedSize==true}" tabindex="1" #foc>
      <!--   <button type="button"
  (click)="sizeSelect(size)"
   [ngClass]="{ 'itemSelected': size === selectedItem, 'sizeItem': size !== selectedItem }" 
   *ngFor="let size of productModel?.productVariant"
    class=" btn btn-default">{{size.sizeName}}</button> -->
      <button mat-stroked-button type="button"
      (click)="sizeSelect(size)" 
      [ngClass]="{ 'itemSelected': size === selectedItem, 'sizeItem': size !== selectedItem,
      'itemEmptyStock': size.quantity === 0 }" *ngFor="let size of productModel?.child"
        [disabled]="size.quantity === 0" class=" btn btn-default">{{size.sizeVariant}}</button>
  
    </div>
    
   
    <div *ngIf="isSizeGuide && productModel?.tailoringService === 'No'">
      <p (click)="getSizeChart(sizeData)">Size Chart</p>
    </div>
  </div>