
.mensColect {
    margin-bottom: 30px !important;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    color: #333;
    letter-spacing: 0.1rem;
    padding-left: 0px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5px;
    font-family: "Montserrat-Regular" !important;
    text-transform: uppercase;
  }
  
  .mensColect:before,
  .mensColect:after {
    content: "";
    /*   border-style: double; */
    border-top: 1px solid;
    margin: 0 20px 0 0;
    flex: 1 0 40px;
    color: #e9e7e7 !important;
  }
  
  .mensColect:after {
    margin: 0 0 0 20px;
  }
  .productBox{border:1px solid #e9e7e7 !important; height: 450px;}
  .linesP{color: #5e5e5e !important; margin-left: 9px; font-family:'Montserrat-RegularCn';}

  @media only screen and (max-width:780px){
    .ourCetego {
    font-size: 22px;
    }
    .categoryBtn{
      font-size: 12px;
      font-family: 'Quicksand', sans-serif;
      padding: 3px 20px 3px 20px;
      width: 100px;
    }
  }
  .ourCetego {
    margin-bottom: 35px;
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 300;
    color: #333;
    letter-spacing: 0.1rem;
    padding-left: 0px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 35px;
    /* font-family: 'Montserrat-Regular';
     */
     font-family: 'Indie Flower', cursive;
  }

  .ourCetego:before,
.ourCetego:after {
  content: "";
  /*   border-style: double; */
  border-top: 1px solid;
  margin: 0 20px 0 0;
  flex: 1 0 40px;
  color: #e9e7e7;
}

.ourCetego:after {
  margin: 0 0 0 20px;
}
  