

  
  <div class="container" [ngClass]="{'topSetMob':showMobileView}" (window:resize)="getWindowSize()">
    <h5 class=" ourCetego gridSpac" style="margin-bottom: 15px">LATEST NEWS</h5>
    <!-- <p class="mensCrip tex-alin" style="font-family: HelveticaNeuelLTStd-Cn">VIEW ALL</p>topSet -->
    <!-- <div class="row pt-3"> -->
     <!-- <div *ngFor='let blog of blogDetails'>
         <div>{{blog.title.rendered}} 
               {{blog.title.rendered | json}}
             <div [innerHtml]="blog.excerpt.rendered" ></div> 
       <p>{{blog.date | date:'longDate'}}</p> 
         <P>{{blog.imageUrl}}</P>  
         </div>

       </div>  -->
       
       <!-- <div *ngFor='let blogM of blogMedia'>
          <div>
              {{blogM.guid.rendered}}  {{blogM.guid.rendered | json}}
               <div [innerHtml]="blogM.guid.rendered" ></div> 
              <img [src]="blogM.guid.rendered">
      
          </div>

        </div> -->
      <app-carousel-item>
       <div *ngFor='let blog of blogDetails' appCarouselItem class="col-md-3 pr-2 pl-2 col-6 contentType" >
             <div class="productBox">
              <div class="productImg">
                <div style="width: 100%; padding-top: 100%; background: rgb(247, 246, 249);
                 cursor: pointer;">
                  <img [src]="blog.imageUrl" >
                </div>
              </div>
              <div class="productDetails">
                <h3 class="productName pr-2 pl-2 lines" style="font-family: Montserrat-Regular; color: #000;">
                    {{blog.title.rendered}} 
                </h3>
                <div class="productPriceBox linesP" [innerHtml]="blog.excerpt.rendered">
                </div>
              </div>
            </div>
          </div>
      </app-carousel-item>
    </div>