<div class="container-fluid">
  <div class="product-grid">
    <div class="banner-image" *ngFor="let d of holder">
      <a class="image" href="{{holderFrame1?.link}}">
        <img class="pic-1" [src]="d?.adsImageName">
      </a>
    </div>
  </div>

</div>




<!-- ======================================================================================================== -->
<!-- div class="container">
    <h1 class="ourCetego gridSpac">OFFERS</h1>  
    <h5 class="text-center pb-2">Know all the offers and deals you want to check out.</h5>
    <div class="row">
       

    <div class="col-md-6" [ngClass]="{'sp1A':showMobileView === true}"  *ngFor="let d of holder">
      <a href="{{holderFrame1?.link}}">
        <div class="boxp">
          <img [src]="d?.adsImageName" class="img-fluid" [ngClass]="{'imgMob':showMobileView}"
            mat-stroked-button>
           <h2 class="fashIons">
                {{d?.title}}
              </h2>
              <p class="arriVals" [ngClass]="{'arriValsMob':showMobileView===true}" style="font-family: Montserrat-Light">
                {{d?.description}}
              </p>
              <div class="firstBannerPosition" *ngIf="firstBanner?.buttonContent" style="font-family: Montserrat-RegularCn">
                <button class="btnn buttonShape" style="margin-top: -25px;
                margin-right: 3px;" appHover>{{d?.buttonContent}}</button>
              </div>
        </div>
      </a>
    </div>
   
  </div>
</div> -->