<div class="row">
  <div class="col-md-4 col-offset-3  mt-5 mb-3 gridPrice " *ngIf="addressSelected">
    <div class="line mb-1" >
      <p class="text-center textStyle1"><strong>DELIVERY ADDRESS</strong></p>
      <div class="textStyle1"><b>{{addressSelected.name}}</b></div>
      <div class="textStyle1">{{addressSelected.building }}</div>
      <div class="textStyle1">{{addressSelected.streetAddress }}</div>
      <div class="textStyle1">{{addressSelected.landmark }}</div>
      <div class="textStyle1">{{addressSelected.city }}</div>
      <div class="textStyle1">{{addressSelected.state }}</div>
      <div class="textStyle1"><span>Mobile: </span>{{addressSelected.mobileNumber }}</div>
      <div class="float-right">
      </div>
    </div>
  </div>
  <div class="col-md-4 col-offset-3 mt-5 mb-3 gridPrice" *ngIf= "!displayMobile">
    <div class="line mb-1">
      <p class="text-center textStyle1"><strong>PRICE DETAILS</strong></p>
      <span class="text-dark textStyle1">Price: ({{totalItems}} item)</span>
      <span class="float-right textStyle1">{{totalAmount  | localeCurrency }}</span>
    </div>
    <div class="dropdown-divider"></div>
    <div class="line mb-1">
      <b><span class="fw-500 textStyle1">Total:</span>
        <span class="float-right textStyle1">{{totalAmount  | localeCurrency }}</span></b>
    </div>
  </div>
  <div class="col-md-4 col-offset-3 mt-5 mb-3 gridPrice">
    <div class="line mb-1 text-center textStyle1">
      <p><strong>PAYMENT </strong></p>
      <!-- <div #paypal >

      </div> -->
      <div>
          <!-- <button class="backButton" >Pay with RazorPay</button> -->
          <button class="backButton"  (click)="orderConfirmDetails(addressSelected)">PAY AND PLACE ORDER</button>
        
      </div>
      <!-- (click)="paypalApply()" (click)="payRazorPay()" <button (click)="processOutsideOfAngularZone()">Process outside of Angular zone</button> -->
    </div>
   
  </div>
</div>