/* ::ng-deep  .mat-select{
  padding: 5px;
} */
::ng-deep .mat-form-field-infix{
  /* border: 1px solid grey !important; */
}
.brandTitle {
    position: relative;
    margin-bottom: 20px;
    border-bottom: 2px solid #333;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.1em;
  }
  .fullPrice{
    font-size: 18px;
    color: #28334f;
  }
  /* ::ng-deep .c1{
    margin-top: 20px;
    width: 280px;
    height: auto;
   margin:auto;
  } */
  .backg{
    border-radius: 5px;
    background-color: #F1F1F1;
    margin: auto;
  }
  .rowCostIncludes {
    background: #f6f6f6;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #f1f1f1;
    clear: both;
}
  
  .productText {
    text-align: left;
    color: #000;
    margin-bottom: 10px;
  }
  
  .productPrice {
   /*  margin: 2px 0;
    line-height: 8px; */
    color: #333;
    /* font-size: 23px; */
    /* line-height: 10px; */
    margin: 2px 0;
    line-height: 18px;
    /* font-family: Arial; */
    font-size: 17px;
  }
  .spd {
    padding-bottom: 30px;
    position: relative;
  }
  
  .productInformation {
    position: relative;
    margin: 15px 0 0;
  }
  
  .productWishlist {
    position: absolute;
    top: -10px;
    right: 0;
    width: 40px;
    height: 40px;
    padding: 10px;
    line-height: 20px;
    cursor: pointer;
    text-align: center;
    color: #333;
    border: none;
    background: transparent;
  }
  
  .sizeGuide {
    margin-bottom: 10px;
    text-decoration: underline;
    color: #B3B3B3;
    /* font-family: 'HelveticaNeue'; */
  }
  
  .sizeList {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-bottom: 45px;
  }
  
  .itemSelected {
    letter-spacing: 0.1em;
    text-transform: uppercase;
    overflow: hidden;
    min-width: 50px;
    height: 45px;
    margin: 0 10px 10px 0;
    padding: 1px 0;
    font-size: 13px;
    line-height: 38px;
    cursor: pointer;
    color: #333;
    border: 2px solid black;
    border: 2px solid rgb(0, 0, 0) !important;
  
  }
  .itemSelected{
    background: #000;
    color: white;
    border: 2px solid rgb(0, 0, 0);
  
  }
  .productName{
    /* font-family:'Indie Flower', cursive;; */
    font-family: 'Roboto', sans-serif;

    text-transform: capitalize;
    /* font-size: 20px; */
    margin-bottom: 25px;
    /* color: #666666; */
    letter-spacing: 2px;
  }
  .productDescription {
    text-transform: capitalize;
    font-size: 13px;
    margin-bottom: auto;
    margin-top: auto;
    height: auto;
    /* font-family:'HelveticaNeue'; */
    text-align: left;
  }
  /* 
  .btn-default {
    border-radius: 0rem;
      outline: none;
      box-shadow: none;
  } */
  
  .btn.btn-default:focus {
    border-radius: 0rem;
      outline: none;
      box-shadow: none;
    }
  .sizeItem {
    letter-spacing: 0.1em;
    text-transform: uppercase;
    overflow: hidden;
    min-width: 50px;
    font-size: 12px;
    height: 45px;
    margin: 0 10px 10px 0;
    padding: 1px 0;
    font-size: 13px;
    line-height: 38px;
    cursor: pointer;
    color: #808080;
    outline: none;
    border: 1px solid #808080;
  }
  .sizeItem:hover{
    border: 2px solid rgb(0, 0, 0);
  }
  .wishListButton {
    outline: none;
    border-radius: 0px;
    font-size: 18px;
    text-transform: uppercase; 
    display: block;
    align-items: center;
    justify-content: center;
    color: #808080;
    font-size: 18px;
    min-width: 50px;
    width: 50 px;
    cursor: pointer;
    border: 1px solid #808080;
    padding: 0px 0px;
    background-color: transparent;
    height: 45px;
  }
  .addToCartButton{
    outline: none;
    width: auto;
    height: 45px;
    border-radius: 5px;
    font-size: 15px;
    background-color: #29495B;
    text-transform: uppercase;
    /* font-family: 'HelveticaNeue'; */
    color: #ffffff;
    letter-spacing: 2px;
  }
  .ctrlAll{
    margin-top: -12px;
  }
  .ctrlAll1{
    margin-top: 30px;
  }
  .cen{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media only screen and (max-width: 900px) {
    .ctrlAll{
      margin-top: -20px;
    }
  }
  .top-space {
    margin-top: auto;
  }
  /* .space{
    margin-top:50px;
  }*/
  .textOffer { 
    line-height: 30px;
    padding-left: 10px;
    color: #666666;
  }
  .priceText {
    padding-right: 7px;
    /* color: #f93800; */
    padding-left: 4px;
     font-size: 30px;
     margin-bottom: 25px;
     font-family: 'Roboto', sans-serif;

     /* font-family: 'Montserrat-Light'; */
     /* float: right; */
  }
  .dashText {
    color: #B3B3B3;
    font-size: 22px;
  }
  .descText {
    color: black;
  }
  .textFam {
    /* font-family:'HelveticaNeue'; */
  }
  .sizeText {
     line-height: 2;
     color: #B3B3B3;
     padding-top: 10px;
     /* font-family: 'HelveticaNeue'; */
  }
  .checkText {
    /* font-family:'HelveticaNeue'; */
    color: #B3B3B3;
  }
  .btn {
    /* color: #B3B3B3; */
    font-size: 13px;
    /* font-family:'HelveticaNeue'; */
  }
  .shaP {
    padding-right: 0px;
    padding-left: 0px;
  }
  .roughCol {
    width: 3%;
  }
  /* .leftCol {
    width: 11%;
  } */
  .centerCol {
    width: 100%;
  }
  .rightCol {
    width: 10%;
  }
  .gapCol {
    width: 4%;
  }
  ::placeholder {
    text-align: center; 
  }
  .itemEmptyStock {
    background-color: #edeeee;
    pointer-events: none;
    border: 1px solid #e1e1e1;
  
  }
  .changeMatIcon{
    color: #ff4081;
  }