
<div class="container-fluid">
  <div class="row space">
    <div class="col-md-12 ctrlAll">
      <div class="productInformation">
        <div class="productText">
          <h5 class="productName">
            <span>{{productModel?.productName}}</span>
          </h5>
        <p>
          <span
          class="priceText"><b>{{productModel?.sp   | localeCurrency}} </b>
          <!-- <img width="70px" src="../../../../assets/image/giphy.gif"> -->
        </span>
          <span class="fullPrice" *ngIf="productModel.discount !==0">{{productModel?.mrp| localeCurrency}}</span>
        </p>
          <!-- <small class="productName">{{productModel?.INTsku}}</small> -->
        </div>
        <div style="margin-left: 2%;">
          Share on <br> <a class="pr-2" (click)="fb()" style="cursor: pointer"><i class="fa fa-facebook-square fa-2x social" style="color: #3b5998"></i></a>
          <a class="pr-2 twitter-share-button" href="https://twitter.com/share"><i class="fa fa-twitter-square fa-2x social" style="color: #00acee"></i></a>
          <a class="pr-2"  href="https://api.whatsapp.com/send?text=check out this link : {{ url }}" data-action="share/whatsapp/share">
           <i class="fa fa-whatsapp fa-2x social" style="color: rgb(27, 126, 27)"></i>
        </a>
          <a class="pr-2"  (click)="pinIt()"
          data-pin-do="buttonPin"
          data-pin-config="above"><i class="fa fa-pinterest fa-2x social" style="color: #c8232c ;cursor: pointer;"></i></a>
          <!-- <a class="pr-2"><i class="fa fa-instagram fa-2x social" style="color: #8a3ab9"></i></a> -->
        </div>
        <br>
        <div class="productText mb-2" *ngIf="productModel?.productDescription">
          <p class="productDescription">
            <span *ngIf="!showDescription && productModel?.productDescription?.length > 120" class="descText">
              {{productModel?.productDescription | slice:0:120}} <a (click)="readMore()"><b
                  style="cursor: pointer;">readmore</b></a>
            </span>
            <span class="spd" style="padding-bottom: 10px;" *ngIf="showDescription" class="descText">
              {{productModel?.productDescription}}<a (click)="readLess()"><b
                  style="cursor: pointer;">readless</b></a>
            </span>
            <span class="spd" *ngIf="productModel?.productDescription?.length < 120">
              {{productModel?.productDescription}}
            </span>
            
            
          </p>
     
         
         
        </div>
        <!-- <br>
        <div class="productPrice">

          <p class="textFam"><span style="color: #4d4d4d; font-family: 'sans-serif'"></span>
            <span class="fullPrice" *ngIf="productModel.discount !==0">{{productModel?.totalPrice | localeCurrency}}</span>
            <span
              class="priceText">{{productModel?.price | localeCurrency}}</span>
              <span style="color: #28334f" *ngIf="productModel.discount !==0">( You save {{productModel?.savePrice | localeCurrency}}  )</span>
          </p>
        </div> -->
        <!-- <div *ngIf="productModel?.tailoringService === 'Yes' ">
            <mat-radio-group aria-label="Apply On" formControlName="applyOn" (change)="changeApplyOn($event)" *ngIf="readyToWearholder[0]?.price">
                <mat-radio-button value="readyToWear">Ready To wear + {{readyToWearholder[0]?.price * ( 100 - readyToWearholder[0]?.discount)/100 | converter | localeCurrency}}</mat-radio-button>
                <mat-radio-button value="condition">Condition</mat-radio-button>
              </mat-radio-group>
              <br>
              <div *ngIf="isReadyToWear">
                  <mat-form-field>
                      <mat-select   placeholder="Select" (selectionChange)="selectedSizeValue($event, readyToWearholder)">
                        <mat-option *ngFor="let data of readyToWearholder[0].measurement" [value]="data">
                          {{data}} {{readyToWearholder[0].serviceName}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <p (click)="getSizeChart(readyToWearholder)">Size Chart</p>
              </div>
            
        </div> 
       *ngIf="!showDescription && productModel?.productDescription.length > 120"-->
        <!-- <div class="productText" *ngIf="productModel?.productDescription">
          <p class="productDescription">
            <span class="descText">
              {{productModel?.productDescription }} 
            </span>
          </p>
          
        </div> -->
    <!-- <div class="row rowCostIncludes" *ngIf="productModel?.costIncludes.length > 0"
    >
    <h6> Cost Includes</h6>
    <div class="col-md-12" *ngIf="productModel?.costIncludes">
      <ul *ngFor="let fab of productModel?.costIncludes">
        <li>{{fab}}</li>
      </ul>
    </div>
  </div> -->

      
          <!-- <div style="font-size: 20px" (click)="openDialog()">Inquiry</div> -->
          
        
      </div>
    </div>
  </div>
</div>