.productName{
    /* font-family: Arial; */
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
    /* margin-bottom: 25px; */
    color: black;
    letter-spacing: 2px;
  }
  .space{
      margin-top: 10px;
  }
  p{
      margin-bottom: 0px !important;
  }