.productMoreInfo {
    /* margin: 3rem !important; */
    background-color: #888;
    /* font-family:'Montserrat-Regular';  */
    font-family: 'Quicksand', sans-serif;

    margin-bottom: 40px;
    margin-top: 30px;
}

.nav-tabs {
  border-bottom: 1px solid #888 !important;
}

.activeClass {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  color: #666666;
  border-bottom: 3px solid #666666 !important;
}

.nav-tabs .nav-link {
  border: none;
}

@media only screen and (max-width: 900px) {
    .productMoreInfo {
        margin: 0 !important;
    }
}

.delivery h4 {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px;

}

.delivery h4 strong {
  font-weight: normal;
  font-size: 12px;
}

.tab-pane {
  padding: 30px 5% 10px;
}

.tabHeading {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  color: black;
}

.activeHeading {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  color: black;
}

.nav-item:hover{
  border-bottom:2px solid black !important;
}
.mat-expansion-panel:not([class*=mat-elevation-z]){
  box-shadow: none;
  border-top: 1px solid #F2E9E7;
  border-left: 1px solid #F2E9E7;
  border-right: 1px solid #F2E9E7;
}

.mat-accordion .mat-expansion-panel:last-of-type{
  border-bottom: 1px solid #F2E9E7;

}

.mat-expansion-panel-content{
  border-bottom: 1px solid #F2E9E7;
}
.mat-expansion-panel-spacing{
  margin: 0px;
}
/* .mat-accordion .mat-expansion.panel{
  border: 1px solid #999999;
} */

.mat-expansion-panel-header{
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
}
div{
  font-family: 'Quicksand', sans-serif !important;
  font-size: 17px !important;
  font-weight: 600;
}