<!-- <div class="productMoreInfo container" *ngIf="displayMobile===false">
  <nav>
    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
      <a [class.activeClass]="selectedItemTab === tab.item" class="nav-item nav-link"
        *ngFor="let tab of tabItems; let i = index" id="nav-profile-tab" data-toggle="tab" role="tab"
        aria-controls="nav-profile" (click)="selectedTab(tab.item)" aria-selected="false">
        <h4 [class.activeHeading]="selectedItemTab === tab.item" class="tabHeading" role="presentation">
          {{tab.item}}</h4>
      </a>
    </div>
  </nav>
  <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
    <div class="row" *ngIf="selectedItemTab === 'Description'" id="nav-home" role="tabpanel"
      aria-labelledby="nav-home-tab">
      <div class="col-md-12">
        {{productModel?.productDescription}}
      </div> -->
      <!-- <div class="col-md-6">
        {{productModel?.bulletPoints}}
      </div> -->
    <!-- </div>
    <div class="row" *ngIf="selectedItemTab === 'Material & Care'" id="nav-profile" role="tabpanel"
      aria-labelledby="nav-profile-tab">
      <div class="col-md-12" >
        {{productModel?.careInstructions}} -->
        <!-- {{brand.description}} -->
        
        <!-- <div class="form-group">
          <img [src]="productImageUrl + brand._id + '/' + dat.brandImage" style="width:100%">
        </div> -->
      <!-- </div>
    </div>
    <div class="row" *ngIf="selectedItemTab === 'Payment Options'" id="nav-profile" role="tabpanel"
      aria-labelledby="nav-profile-tab">
      <div class="col-md-12"> -->
        <!-- {{productModel?.brandName}} -->
        <!-- {{brand.description}} -->
        <!-- <img src="../../../../assets/image/paymentsaccepted.png" width="300px">
        
        <div class="form-group">
          <img [src]="productImageUrl + brand._id + '/' + dat.brandImage" style="width:100%">
        </div>
      </div>
    </div>
    <div class="row" *ngIf="selectedItemTab === 'Shipping Info'" id="nav-contact" role="tabpanel"
      aria-labelledby="nav-contact-tab">
      <div class="col-md-4">
        <div class="form-group delivery">
          <h4><strong>Express delivery</strong>
            <mat-icon>done</mat-icon>
          </h4>
          <p>4 - 6 business days</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          We ship internationally
        </div>
      </div>
    </div>
  </div>
</div> -->

<div >
  <mat-accordion class="mob">
    <mat-expansion-panel *ngFor="let tab of tabItems; let i = index">
      <mat-expansion-panel-header (click)="selectedTab(tab.item)">
        <mat-panel-title  >
          <b>{{tab.item}}</b>
        </mat-panel-title>
        <!-- <mat-panel-description>
          Type your name and age
        </mat-panel-description> -->
      </mat-expansion-panel-header>
      <div *ngIf="selectedItemTab === 'Description'">
        {{productModel?.productDescription}}
        
      </div>
      <div *ngIf="selectedItemTab === 'Material & Care'" >
        <!-- <div *ngFor="let brand of productModel?.brand">
        {{brand.brandName}}
        {{brand.description}}
        </div> -->
        {{productModel?.careInstructions}}
      </div>
      <div *ngIf="selectedItemTab === 'Product Details'" >
        <!-- <div *ngFor="let brand of productModel?.brand">
        {{brand.brandName}}
        {{brand.description}}
        </div> --> 
        <!-- <img src="../../../../assets/image/paymentsaccepted.png" width="300px"> -->
        <app-dynamic-attribute  [attribute]="attribute">
          </app-dynamic-attribute>
         
      </div>
      <div *ngIf="selectedItemTab === 'Shipping Info'">
        <h4><strong>Express delivery</strong>
          <mat-icon>done</mat-icon>
        </h4>
        <p>4 - 6 business days</p>
      </div>
        
  
      
    </mat-expansion-panel>
  </mat-accordion>
  </div>