.headerText {
  padding: 10px 20px 10px 15px;
  font-size: 30px;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  /* font-family: 'HelveticaNeue'; */
  font-family: 'Indie Flower', cursive;

  color: black;
}
.headerTextMob {
  padding: 0;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Indie Flower', cursive;
  /* font-family: 'HelveticaNeue'; */
  color: black;
}

.headerDescription {
  overflow: visible;
  max-width: 920px;
  max-height: none;
  margin: 0 auto;
  text-align: center;
  white-space: normal;
  color: black;
  /* font-family:'HelveticaNeue'; */
}
.headerDescriptionMob {
  overflow: visible;
  max-width: 920px;
  max-height: none;
  margin: 0 auto;
  text-align: center;
  white-space: normal;
  color: #58595B;
  /* font-family:'HelveticaNeue'; */
  font-size: 10px;
}
.textHeader {
  border-bottom: 1px solid rgb(186, 190, 192);
  padding-bottom: 20px;
  /* padding-top: 20px; */
}
.produtHeaderCategory {
  padding: 25px 0 5px;
}
.categoryContainer {
    text-align: center;
}
.categoryContainer {
    padding: 25px 0 5px;
}
.borderLine {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #ccc;
  line-height: 0.1em;
  margin: 10px 0px 20px 0px;
}

.borderLine span {
  background: #fff;
  padding: 0 0px;
}