<div class="container" style="margin-top: 60px; margin-bottom: 200px;">
  <h1 class="text-center"  style="color: #6D6E71;"> Terms & Conditions </h1>
<!-- <div *ngFor="let term of terms">
  <h5>{{term.heading}}</h5>
  <p>{{term.details}}</p>

</div>
</div> -->

<p class="mt-5">Access to and use of mubee.in and the products and service available through the website are subject to the following terms, conditions and notices (“Terms of Service”). By browsing through these Terms of Service and using the services provided by our website (www.mubee.in), you agree to all Terms of Service along with the Privacy Policy on our website, which may be updated by us from time to time. Please check this page regularly to take notice of any changes we may have made to the Terms of Service.</p>
</div>