.top{
  margin-top:20px;
}
.topMob{
  padding-top: 0px;
}
  .pageBoxLg {
    /* border: 1px solid #6E1A52; */
    margin: 20px 20px 20px 20px;
    padding: 20px;
    position: relative;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .pageBoxLg-label {
    background: grey;
    margin: 0px 0px 0px 20px;
    font-size: 14px;
    padding: 2px  20px  2px 20px;
    color: white;
    transition: padding 3s;
    -moz-transition: padding 3s;
    -webkit-transition: padding 3s;
  }
  .pageBox {
    width: 70%;
    background: #FFF;
    padding: 2px;
    margin: 10px auto;
    position: relative;
    
  }
  .underline {
    border-bottom: 1px solid gray;
  }

  
  .backButton{
    
    display: block;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border: none;
    padding: 10px 5px 5px 5px;
    /* background-color: #A40C33; */
    height: 40px;
    width:auto;  
    letter-spacing: 0.1em;
    border-radius: 5px;

  }

  .content {
    text-align:left; 
    font-size:20px;
  }
  mat-horizontal-stepper {
    font-size:18px;
    /* font-family:  'Futura Book'; */
  }
  ::ng-deep .mat-stepper-horizontal-line{
    width: 40px !important;
    flex: none !important;
  }
  ::ng-deep .mat-horizontal-stepper-header-container {
    justify-content: center;
}
  .continueButton {
    display: block;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border: none;
    padding: 10px;
    background-color: #002561;
    /* background-color: #A40C33; */
    height: 40px;
    width:auto;  
    letter-spacing: 0.1;
    border-radius: 5px;
  }
  ::ng-deep .mat-step-header .mat-step-icon {
    background-color: #28334f; 
    display: none;
 }
 .textStyle1 {
  /* font-family: 'Montserrat-Regular'; */
  font-size: 15px;
  font-weight: 700;
}
