.img-responsive {
  width: 100%;
  height: 300px;
  cursor: pointer;
}

.gridCtrl {
  margin-top: 20px;
  margin-bottom: 40px;
}

.titleOne {
  font-size: 25px;
  margin-bottom: 25px;
  font-weight: bold;
}

.ctrlRow {
  padding: 5px;
}

.nameClass{
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0px;
}
.range-class{
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
    font-size: 12px;
}

.buttonU {
/* 	background-color: rgb(216, 216, 216); */
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	cursor: pointer;
}


.buttonU strong {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.buttonU strong:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.buttonU:hover strong {
	padding-right: 15px;
}

.buttonU:hover strong:after {
	opacity: 1;
	right: 0;
}

.buttonU:hover {
	color: black;
}
.alignNit{
    position: relative;
    text-align: right;
    padding-right: 20px;
}
.ctrlAll{margin-top:8px;}


* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.image-box {
    position: relative;
    margin: auto;
    overflow: hidden;

	
}
.image-box img {
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
}

.image-box:hover img {
    transform: scale(1.1);
}



.image-box{
	text-align: center;
	overflow: hidden;
	position: relative;
	cursor: pointer;
  }
  .image-box:before,
  .image-box:after{
	content: "";
	width: 250%;
	height: 200%;
	background: rgba(255, 255, 255, 0.089);
	position: absolute;
	top: 0;
	left: 0;
	transform: skew(45deg) translateX(100%);
	transition: all 0.6s ease 0s;
  }
  .image-box:after{ transform: skew(45deg) translateX(-100%); }
  .image-box:hover:before,
  .image-box:hover:after{ transform: skew(35deg) translateX(0px); }
  .image-box img{
	max-width: 100%;
	height: auto;
  }
  
  .img-fluid{
    width: 100%;
    height: auto;
  }


  .hvr-forward {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }




  /* ================================ */
  .hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
  }
  .hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    
  }
  .hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
   
  }
  