.shakeit {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
      transform: translate3d(-5px, 0, 0);
  }

  20%, 80% {
      transform: translate3d(5px, 0, 0);
  }

  30%, 50%, 70% {
      transform: translate3d(-10px, 0, 0);
  }

  40%, 60% {
      transform: translate3d(10px, 0, 0);
  }
}


  .colorBox {
    margin-top: 10px;
    margin-left: 20px;
}
.colorVariantBlock {
    /* -ms-transform: rotate(140deg); */
    /* border-radius: 50px; */
    cursor: pointer;
    height: 50px;
    overflow: hidden;
    /* transform: rotate(140deg); */
    width: 50px;
}
.colorbttn {
    border: 1px solid #ebebeb;
    float: left;
    margin: 0 15px 15px 0;
}

.backgroundColorImage {
  cursor: pointer;
  height: 50px;
  overflow: hidden;
  /* transform: rotate(140deg); */
  width: 50px;
  border: 1px solid #ff4081;
}