<div class="form-group">
    <!--   <div class="sizeGuide pull-right">  
        <a (click)="getPopUp()">Size Guide</a>
       </div> -->
    <!-- <div class="sizeText ">
         Select size
       </div> -->
    <!-- <ul class="filterSub">
      <li class="form-check pt-1 pointerClass" *ngFor="let col of sizeColor">
        <label class="filterAll" (click)="selectedColor(col._id, productModel)">
          <small class="colour-colorDisplay" [ngStyle]="{'background-color': col.colorCode}"></small>
          {{col.colorName}}
        </label>
      </li>
    </ul> -->
   
    <div class="colorBox clearfix"> 
      <div [ngClass]="{'shakeit':selectedSize==true}" #foc>
          <p>Color</p>
    <div class="colorbttn colorVariantBlock p-1"  *ngFor="let col of productModel.child; let i = index"
      (click)="selectedColor(col)" [ngClass]="{'backgroundColorImage': col.headChild==true}">
       
            <img class="img-fluid" [src]="productModel.child[i].productImage[0].productImageName" alt="Snow Green" 
          >
    </div> 
    </div>
  </div>
  <div class="text-danger" [hidden]="!selectedSize" >
    <p>Please select a Color</p>
  </div>
    
  </div>