 <!-- <div class="headerDivWrapper " >
 <div class="container-fluid">
    <nav class="navbar  navSpace navbar-expand-lg navbar-light " (mouseleave)="closeDropdown()">
        <button class="navbar-toggler collapsed" type="button" (click)="toggleNavbar()" 
        data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
          aria-expanded="false"
          aria-label="Toggle navigation" aria-controls="navbar">
          <span class="navbar-toggler-icon" touch-action="pan-x"></span>
        </button>
      <a class="navbar-brand  imageNav d-sm-black d-md-black d-xs-black mr-auto" routerLink="/home/welcome">
        <img src="../../../assets/image/tt.png" class="img-logo" [ngClass]="{'img-logoMob':showMobileView}">
      </a>
      <span class="nav-item active classOness nav" 
      
      matBadgeColor="accent">
                  <a routerLink="/cart/shopping" class="nav-link nav-linkEnd pt-1">
        <span class="fa-stack fa-1x has-badge" matBadgeColor="accent"  matBadge="{{this.sharedService.addToQty()}}">
            <i class="fa fa-circle fa-stack-1x" style="font-size: 22px;"></i>
            <i class="fa fa-shopping-cart fa-2x"></i>
          </span></a>
   
                </span>
      <div [ngClass]="{'collapse': !showMobileView, 'navbarMenuContainer': !showMobileView, 
          'navbar-collapse': !showMobileView, 'sidenav': showMobileView, 'styleChange': navbarShow, 'closebtn':!navbarShow}" 
           id="navbarSupportedContent" (window:resize)="getWindowSize()">
  
          <ul class="navbar-nav m-3" (click)="toggleNavbar()">

            <li  class="nav-item mobile mobiledropdownclose" (click)="toggleNavbar()">
              <button type="button" class="close" aria-label="Close">
                  <span aria-hidden="false" class="sideNavClose" (click)="toggleNavbar()">&times;</span>
                </button> 
          </li>
          <li class="nav-item mobile" >
            <h2 class="nav-head" *ngIf="sharedService.getEmail()"><b>Welcome {{ sharedService.getEmail() }} </b></h2>
            <h2 class="nav-head" *ngIf="!sharedService.getEmail()">Welcome Guest</h2>
            
            <p class="nav-subhead" *ngIf="!sharedService.getEmail()"><b routerLink="/account/acc/signin">Login   </b> &nbsp;   or  &nbsp;  <b  routerLink="/account/registration">Sign Up</b></p>
          </li></ul>
          <hr style="margin-left: 25px; margin-right:25px ">
          <ul class="navbar-nav mainClass" style="text-align: start;">
        
          <li class="dropdown megamenu nav-item" (mouseenter)="toggleDropdown(cat)"
           *ngFor="let cat of superCategory; let i = index">
            <a class="nav-link nav-linkStart " data-toggle="dropdown" (click)="toggleDropdown(cat)"
              style="color: red">
              <span class="navMenu" >{{ cat.categoryName }}
              </span>
            </a>
     
            <ul class="dropdown-menu " aria-labelledby="megamneu" (mouseleave)="closeDropdown()"   
            [hidden]="cat?.mainCategory.length === 0"
              (click)="navbarShow = !navbarShow " [ngClass]="{'show': cat._id === selectedDropDown }"
              *ngIf="cat._id === selectedDropDown">
              <div class="container containerShow">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="row">
                          <div class="col-sm-2 col-md-2 col-lg-6" [hidden]="maincat.subCategory.length === 0" *ngFor="let maincat of cat.mainCategory" [ngStyle]="{'display' : cat.mainCategory.length > 0 ? 'block' : 'none'} ">
                            <div class="card-header-custom">
                              <h5 class="mb-0" (click)="closeDropdown()">
                                <p class="categoryMenuMain" ><a style="text-decoration: none;"
                                   routerLink="/product/supercategory/{{cat._id}}/maincategory/{{maincat._id}}">
                                   <b>{{maincat.mainCategoryName  | titlecase}}</b></a></p>
                              </h5>
                            </div>
                            <div class="card-body innerNavs " >
                              <ul class="nav" *ngFor="let subcat of maincat?.subCategory">
                                <li class="nav-item item" (click)="closeDropdown()">
                                  <a class="nav-link subCategoryMenu"
                                    routerLink="/product/supercategory/{{cat._id}}/maincategory/{{maincat._id}}/subcategory/{{subcat._id}}">
                                    <span class="subCategoryMenu">{{ subcat.subCategoryName }}</span>
                                  </a>
                                </li>
                               
                              </ul>
                            </div>
                          </div>
  
                    </div>
                  </div>
                </div>
              </div>
            </ul>
          </li>
          <li class="dropdown megamenu nav-item navbar-nav" style="cursor: pointer;">
            <a class="nav-link nav-linkStart " 
              style="color: red" (click)="getCorporateOrder()">
              <span class="navMenu" > CORPORATE ORDERS </span>
            </a>
          </li>
          <li class="dropdown megamenu nav-item navbar-nav" style="cursor: pointer;">
            <a class="nav-link nav-linkStart " 
              style="color: red" (click)="getSchoolUniform()">
              <span class="navMenu" > School Uniforms </span>
            </a>
          </li>
        </ul>




  
        <ul class="navbar-nav boxAlign  mobile1 ml-auto search-contents"  >
          <li class="nav-item pt-3">
  
            <div class="headerwrapper__searchbox ">
               
              <input matInput type="text" placeholder="Search.." #box (keyup.enter)="onEnter(box.value, box)" placeholder="">
              <mat-icon class="search-icon" >search</mat-icon>
           
              </div>
  
          </li>
   
  
          <li class="nav-item" *ngIf="this.sharedService?.showMyAccount() !== 'true'; showMobileView"
           (click)="getLogin()">
            <a (click)="openDialog()" class="nav-link nav-linkEnd loginSize loginStyle pt-1 mt-2">
              <span class="navMenus "><i class="fa fa-2x fa-user account-icon"></i></span></a>
          </li>
       
          <li class="nav-item dropdown " appSlideNav  *ngIf="this.sharedService?.showMyAccount() === 'true'">
            <a class="nav-link dropdown-toggle loginSize pt-2 mt-2" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true"  aria-expanded="false">
              &nbsp; My Account
            </a>
            <div   class="dropdown-menu dropdown-menu-right boxShape" 
             aria-labelledby="navbarDropdown">
              <a class="dropdown-item listArrange" [routerLink]="['/account/profile']">My Profile</a> 
              <a class="dropdown-item listArrange" [routerLink]="['/account/orders']">My Order</a>
              <a class="dropdown-item listArrange" [routerLink]="['/wishlist/user']">My Wishlist</a> 
              <a class="dropdown-item listArrange" (click)="logOut()">Logout</a>
            </div>
          </li>
          
          <li class="nav-item" >
            <a (click)="cartWithUser()" class="nav-link nav-linkEnd mt-1">
              <span class="fa-stack fa-1x has-badge" matBadgeColor="accent"  matBadge="{{this.sharedService.addToQty()}}">
                  <i class="fa fa-shopping-cart fa-2x " style="color: black;"></i>
                </span></a>
          </li>
          
        </ul>
        <hr *ngIf="showMobileView === true" style="margin-left: 25px; margin-right:25px " >
        <ul class="navbar-nav m-auto mobile" (click)="toggleNavbar()">
          <li><a class="nav-footer" routerLink="/info/privacypolicy">Privacy Policy</a></li>
          <li><a class="nav-footer" routerLink="/info/termsconditions">Terms & Conditions</a></li>
          <li *ngIf="sharedService.getEmail()"><a class="nav-footer" [routerLink]="['/account/accountdetails']"><span class="hiddenClass" >My Account</span></a></li>
          <li *ngIf="sharedService.getEmail()"><a class="nav-footer" [routerLink]="['/account/orders']" ><span class="hiddenClass">My Order</span></a></li>
          <li *ngIf="sharedService.getEmail()"><a class="nav-footer" [routerLink]="['/wishlist/user']"><span class="hiddenClass">My Wishlist</span></a></li>
          <li *ngIf="sharedService.getEmail()"><a class="nav-footer" (click)="logOut()"><span class="hiddenClass">LogOut</span></a></li>
        </ul>
      </div>
    </nav>
    </div>
  </div>
  -->










<!-- <div  (appSwipe)="toggleNavbar()" (appSwipeLeft)="toggleNavbar()">
  
  
  <div class="container-fluid bg-light1 bg-line" *ngIf="!showMobileView">
  <nav class="navbar navbar-expand-lg" style="padding: 0px !important"> 
      <a class="navbar-brand  imageNav d-sm-black d-md-black d-xs-black " routerLink="/home/welcome" style="padding: 0px;margin-left: 23px;" *ngIf="!showMobileView">
        <img [src]="imageData?.logoImageName" class="img-logo" >
       
        </a>
    <ul class="navbar-nav boxAlign  mobile1">
      
      <li class="nav-item pull-right">
          <mat-form-field>
        
           
            <div class="headerwrapper__searchbox">
              <input matInput type="text" placeholder="">
              <img src="../../../assets/images/55369.png" ></div>
     
          </mat-form-field>
          </li>
          </ul>
        
    
      <ul class="navbar-nav boxAlign  mobile1">
        
        <li class="nav-item ">
          <a routerLink="/cart/shopping" class="nav-link nav-linkEnd shopNow">
            <h4 class="">
                <span class="fa-stack fa-1x has-badge" matBadge="{{this.sharedService.addToQty()}}" [ngClass]="{'span1':this.sharedService.addToQty() != 0}">
                 
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="material-icons shopClass">
                            shopping_cart
                            </i>
                
           </span>
          </h4>
           
          </a>
        </li>
 
      </ul>
  </nav>
  </div>
  
    
 
  <div class="headerDivWrapper" id="m">
  <nav class="navbar  navSpace navbar-expand-lg navbar-light bg-light1  d-flex justify-content-center" 
  (mouseleave)="closeDropdown()">
    <button class="navbar-toggler collapsed" type="button" (click)="toggleNavbar()" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation" aria-controls="navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand  imageNav d-sm-black d-md-black d-xs-black mr-auto" routerLink="/home/welcome" *ngIf="showMobileView">
      <img src="../../../assets/images/mohit/logo.PNG" class="img-logo">
    </a>
   
    <span class="nav-linkMob nav-item active classOness nav" matBadgeColor="accent" 
    
    
    >
    
      <a class="pt-2">
         
               <span matPrefix class="searchSymbol pt-2" ><mat-icon>search</mat-icon></span>
          
       </a>
      <a class="nav-linkMob" [ngClass]="{'hide':showSearch}" routerLink="/account/wish" [hidden]="this.sharedService.addToWhishQty() !== 0">
        <span class="fa-stack fa-1x has-badge pt-2" matBadgePosition="after" matBadgeColor="accent"  matBadge="{{this.sharedService.addToWhishQty()}}">
          <i class="fa fa-circle fa-stack-1x"></i>
          <mat-icon class="searchMyAccount" >favorite_outline</mat-icon></span>
      </a>
      
      <a class="nav-linkMob" [ngClass]="{'hide':showSearch}" routerLink="/account/wish" [hidden]="this.sharedService.addToWhishQty() === 0">
        <span class="fa-stack fa-1x has-badge pt-2" matBadgePosition="above" matBadgeColor="accent" matBadge="{{this.sharedService.addToWhishQty()}}">
            <i class="fa fa-circle fa-stack-1x"></i>
          <mat-icon color="accent" class="searchMyAccount">favorite</mat-icon></span>
        </a>
       <a class="nav-linkMob" [ngClass]="{'hide':showSearch}" routerLink="/cart/shopping" >
            <span class="fa-stack fa-1x has-badge pt-2" matBadgePosition="after" matBadgeColor="accent" matBadge="{{this.sharedService.addToQty()}}">
                <i class="fa fa-circle fa-stack-1x"></i>
              <mat-icon  class="searchMyAccount"> local_mall</mat-icon>
                </span></a>
                


    </span>

    <div
      [ngClass]="{'collapse': !showMobileView, 'navbarMenuContainer': !showMobileView, 
        'navbar-collapse': !showMobileView, 'sidenav': showMobileView,'styleChange': navbarShow, 'closebtn':!navbarShow}"
      id="navbarSupportedContent" (window:resize)="getWindowSize()" (touchmove)="toggleNavbar()" >

        
      <ul class="navbar-nav m-t-1"style="margin: 0px; padding: 0px">
          <li  class="nav-item mobile mobiledropdownclose">
              <button type="button" class="close" aria-label="Close">
                  <span aria-hidden="false" class="sideNavClose" (click)="toggleNavbar()">&times;</span>
                </button> 
          </li>
        <li class="nav-item mobile">
          <h2 class="nav-head" *ngIf="sharedService.getEmail()"><b>Welcome {{ sharedService.getEmail() }} </b></h2>
          <h2 class="nav-head" *ngIf="!sharedService.getEmail()">Welcome Guest</h2>
          <br><br>
          <p class="nav-subhead" (click)="openDialog()" *ngIf="!sharedService.getEmail()"><b><a
                >Login</a>&nbsp; &nbsp; &nbsp; </b> &nbsp; &nbsp; &nbsp; or &nbsp; <b>Sign Up</b>
          </p>
        </li>
      </ul>
      <hr style="margin-left: 10px; margin-right:50px ">
      <ul class="navbar-nav mainClass" style="text-align: start;">
      
        <li class="dropdown megamenu nav-item" (mouseenter)="toggleDropdown(cat)"
         *ngFor="let cat of superCategory; let i = index">
          <a class="nav-link nav-linkStart " data-toggle="dropdown" (click)="toggleDropdown(cat)"
            style="color: red">
            <span class="navMenu" >{{ cat.categoryName }}
            </span>
          </a>
   
          <ul class="dropdown-menu " aria-labelledby="megamneu" (mouseleave)="closeDropdown()"   
          [hidden]="cat?.mainCategory.length === 0"
            (click)="navbarShow = !navbarShow " [ngClass]="{'show': cat._id === selectedDropDown }"
            *ngIf="cat._id === selectedDropDown">
            <div class="container containerShow">
              <div class="row">
                <div class="col-sm-12">
                  <div class="row">
                        <div class="col-sm-1 col-lg-2" *ngFor="let maincat of cat.mainCategory" 
                        [ngStyle]="{'display' : cat.mainCategory.length > 0 ? 'block' : 'none'} ">
                          <div class="card-header-custom">
                            <h5 class="mb-0" (click)="closeDropdown()">
                                
                              <p class="categoryMenuMain" ><a style="text-decoration: none;" routerLink="/product/supercategory/{{cat._id}}/maincategory/{{maincat._id}}"><b>{{maincat.mainCategoryName  | titlecase}}</b></a></p>
                            </h5>
                          </div>
                          <div class="card-body innerNavs " >
                            <ul class="nav" *ngFor="let subcat of maincat?.subCategory">
                              <li class="nav-item item" (click)="closeDropdown()">
                                <a class="nav-link subCategoryMenu"
                                  routerLink="/product/supercategory/{{cat._id}}/maincategory/{{maincat._id}}/subcategory/{{subcat._id}}">
                                  <span class="subCategoryMenu">{{ subcat.subCategoryName }}</span>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>

                  </div>
                </div>
              </div>
            </div>
          </ul>
        </li>
       
      </ul>

       <ul class="navbar-nav boxAlign  mobile1">
    
      </ul>
      <hr style="margin-left: 25px; margin-right:25px ">
      <ul class="navbar-nav m-auto mobile" (click)="toggleNavbar()">
        <li><a class="nav-footer">Contact Us</a></li>
        <li><a class="nav-footer">About Us</a></li>
        <li><a class="nav-footer">Find Our Store</a></li>
        <li><a class="nav-footer">Privacy Policy</a></li>
        <li><a class="nav-footer">Terms & Conditions</a></li>
        <li *ngIf="sharedService.getEmail()"><a class="nav-footer" [routerLink]="['/account/profile']"><span
              class="hiddenClass">My Account</span></a></li>
        <li *ngIf="sharedService.getEmail()"><a class="nav-footer" [routerLink]="['/account/orders']"><span
              class="hiddenClass">My Order</span></a></li>
        <li *ngIf="sharedService.getEmail()"><a class="nav-footer" [routerLink]="['/wishlist/user']"><span
              class="hiddenClass">My Wishlist</span></a></li>
        <li *ngIf="sharedService.getEmail()"><a class="nav-footer" (click)="logOut()"><span
              class="hiddenClass">LogOut</span></a></li>
      </ul>
    </div>
  
  </nav>
</div>
</div> -->




<div class="headerDivWrapper " id="m" >
  <div class="container-fluid">
     <nav class="navbar  navSpace navbar-expand-lg navbar-light" (mouseleave)="closeDropdown()">
         <button class="navbar-toggler collapsed custom-toggler" type="button" (click)="toggleNavbar()" 
         data-toggle="collapse"
           data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
           aria-expanded="false"
           aria-label="Toggle navigation" aria-controls="navbar">
           <span class="navbar-toggler-icon"  touch-action="pan-x"></span>
         </button>
         <!-- <a style="display: block;width: 100%;padding-top: 75%;position: relative;">
           <img  src="../../../assets/logo/logo-02.png" style="position: absolute; width: 100%; top: 0px;">
           </a> -->
           <a class="navbar-brand" routerLink="/home/welcome" >
             <img  src="../../../assets/logo/Mubbe-01.png" class="img-logo">
           </a>
      <!-- <span>
       <img
        src="../../../assets/logo/logo-03.jpg" class="img-logo" [ngClass]="{'img-logoMob':showMobileView}">
 
      </span> -->
      <span style="cursor: pointer;" class="nav-item active classOness shopClass nav" routerLink="/cart/shopping">
        <mat-icon [matBadge]="this.sharedService.addToQty()" [matBadgeSize]="'medium'" matBadgeColor="warn">local_mall</mat-icon>
     </span>
      <!--  <span class="nav-item active classOness nav" 
       
       matBadgeColor="accent">
                   <a routerLink="/cart/shopping" class="nav-link nav-linkEnd pt-1">
         <span class="fa-stack fa-1x has-badge" matBadgeColor="accent"  matBadge="{{this.sharedService.addToQty()}}">
             <i class="fa fa-circle fa-stack-1x" style="font-size: 22px;"></i>
             <i class="fa fa-shopping-cart fa-2x"></i>
           </span></a>
    
                 </span> -->
       <div [ngClass]="{'collapse': !showMobileView, 'navbarMenuContainer': !showMobileView, 
           'navbar-collapse': !showMobileView, 'sidenav': showMobileView, 'styleChange': navbarShow, 'closebtn':!navbarShow}" 
            id="navbarSupportedContent" (window:resize)="getWindowSize()">
   
           <ul class="navbar-nav m-3" (click)="toggleNavbar()" *ngIf="showMobileView">
 
             <li  class="nav-item mobile mobiledropdownclose" (click)="toggleNavbar()">
               <button type="button" class="close" aria-label="Close">
                   <span aria-hidden="false" class="sideNavClose" (click)="toggleNavbar()">&times;</span>
                 </button> 
           </li>
           <li class="nav-item mobile" >
             <h2 class="nav-head" *ngIf="sharedService.getEmail()"><b>Welcome {{ sharedService.getEmail() }} </b></h2>
             <h2 class="nav-head" *ngIf="!sharedService.getEmail()">Welcome Guest</h2>
             
             <p class="nav-subhead" *ngIf="!sharedService.getEmail()"><b (click)="openDialog()">Login / Register  </b> </p>
           </li></ul>
           <hr *ngIf="showMobileView">
          <ul class="navbar-nav category-name mr-auto pl-5" > 
            <!-- <li class="dropdown megamenu nav-item navbar-nav">
              <a class="nav-link nav-linkStart " routerLink="/home/welcome">
                <span class="navMenu" (click)="toggleNavbar()">HOME</span></a>
            </li> -->
           <!-- <li class="dropdown megamenu nav-item navbar-nav"  *ngFor="let cat of superCategory; let i = index" (mouseenter)="toggleDropdown(cat)" (mouseleave)="closeDropdown()" 
           (click)="closeDropdown();
        toggleNavbar()">
 
             <a class="nav-link nav-linkStart " 
               style="color: red">
               <span class="navMenu" (click)="getCategory(cat)">{{ cat.categoryName }}  </span>
             </a>
           </li> -->
           <!-- <li class="dropdown megamenu nav-item navbar-nav pr-5">
            <a class="nav-link nav-linkStart " routerLink="/info/contactus">
              <span class="navMenu" (click)="toggleNavbar()">CONTACT US</span></a>
          </li>
           -->
          </ul>
         <!--  <ul class="navbar-nav ml-auto pr-5 ">
            <li class="dropdown megamenu nav-item navbar-nav" *ngFor="let cat of superCategory; let i = index"
              (mouseenter)="toggleDropdown(cat)" (mouseleave)="closeDropdown()" (click)="closeDropdown();
                   toggleNavbar()">
          
          
              <a class="nav-link nav-linkStart " (click)="getCategory(cat)" style="color: red">
                <span class="navMenu">{{ cat.categoryName }} </span>
              </a>
          
          
              <ul class="dropdown-menu " aria-labelledby="megamneu" (mouseleave)="closeDropdown()"
                (click)="[navbarShow = !navbarShow , onClose()]"
                [ngClass]="{'show': cat._id === selectedDropDown, 'catBlock' : showMobileView == true }"
                *ngIf="cat._id === selectedDropDown">
                <div class="containerShow" *ngFor="let maincat of cat.mainCategory">
                  <div class="row" *ngIf="maincat.mainCategoryName.length > 0">
                    <div class="col-sm-12 col-md-12 ">
                      <div class="row">
                        <div class="col-md-12 col-sm-4">
                          <div class="card-header-custom">
                            <h5 class="mb-0" (click)="closeDropdown()">
                              <p class="categoryMenuMain "
                                routerLink="/product/supercategory/{{cat._id}}/maincategory/{{maincat._id}}">
                                {{maincat.mainCategoryName  | titlecase}} </p>
                            </h5>
                          </div>
                          <div class="card-body innerNavs">
                            <ul class="nav" *ngFor="let subcat of maincat?.subCategory">
                              <li class="nav-item" (click)="closeDropdown()">
                                <a class="nav-link subCategoryMenu"
                                  routerLink="/product/supercategory/{{cat._id}}/maincategory/{{maincat._id}}/subcategory/{{subcat._id}}">
                                  <span class="subCategoryMenu pointShape">{{subcat.subCategoryName }}</span>
                                </a>
                              </li>
                            </ul>
                          </div>
          
          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ul>
            </li>
          
            <li class="dropdown megamenu nav-item navbar-nav">
              <a class="nav-link nav-linkStart ">
                <span class="navMenu">BLOG</span></a> </li>
            <li class="dropdown megamenu nav-item navbar-nav">
              <a class="nav-link nav-linkStart " routerLink="/info/contactus">
                <span class="navMenu" (click)="toggleNavbar()">CONTACT US</span></a>
            </li>
          
          </ul> -->
          <ul class="navbar-nav boxAlign  mobile1 ">
          <!--   <li class="nav-item m-auto pr-5">
              <div class="headerwrapper__searchbox ">
                <input matInput type="text" placeholder="Search.." #box (keyup.enter)="onEnter(box.value, box)" placeholder="">
                <mat-icon class="search-icon"  (click)="onEnter(box.value, box)" >search</mat-icon>
                </div>
            </li> -->
     
          
            <li class="nav-item" *ngIf="this.sharedService?.showMyAccount() !== 'true'" (click)="getLogin()">
              <a  class="nav-link nav-linkEnd loginSize loginNow" routerLink="/account/acc/signin">
                <!-- <h1 class="hfour">
                  <mat-icon>person_outline</mat-icon>
                </h1> -->
                <h4 class="loginClass">LOGIN</h4>
              </a>
            </li>
            <li class="nav-item dropdown " *ngIf="this.sharedService?.showMyAccount() === 'true'" appSlideNav appSwipe>
              <a class="nav-link  loginSize shopNows" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <!-- <h1 class="hfour">
                  <mat-icon>person_outline</mat-icon>
                </h1> -->
                <h4 class="loginClass dropdown-toggle">My Account</h4>
              </a>
              <div class="dropdown-menu dropdown-menu-right boxShape" aria-labelledby="navbarDropdown">
                <a class="dropdown-item listArrange" [routerLink]="['/account/profile']">My Profile</a>
                <!-- <a class="dropdown-item listArrange" [routerLink]="['/account/viewMeasurement']">My Measurement</a> -->
                <a class="dropdown-item listArrange" [routerLink]="['/account/orders']">My Order</a>
                <a class="dropdown-item listArrange" [routerLink]="['/wishlist/user']">My Wishlist</a>
                <a class="dropdown-item listArrange" (click)="logOut()">LogOut</a>
              </div>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link nav-linkEnd outlineNow" routerLink="/wishlist/user">
                <h4 class="iconNow">
                  <span matBadgeColor="accent">
                    <mat-icon class="searchMyAccount pt-2 "
                      [ngClass]="{'favMob': this.sharedService.addToWhishQty() != 0, 'emtyH': this.sharedService.addToWhishQty() == 0}"
                      matBadgePosition="above" matBadge="{{this.sharedService.addToWishlist()}}">favorite</mat-icon>
                    <i class="fa fa-circle fa-stack-2x"></i>
                  </span>
                </h4>
                <h4 class="hfourN">Wishlist</h4>
              </a>
            </li> -->
           
            <!-- <li class="nav-item m-auto">
              <a routerLink="/info/help" class="nav-link nav-linkEnd shopNow">
               
                <h4 class="loginClass">   HELP</h4>
              </a>
                
            </li> -->
            <li class="nav-item">
              <a routerLink="/cart/shopping" class="nav-link nav-linkEnd shopNow">
                <h4 class="shopClass">
                  
                   <mat-icon [matBadge]="this.sharedService.addToQty()" [matBadgeSize]="'medium'" matBadgeColor="warn">local_mall</mat-icon>
                  
                </h4>
                <!-- <h4 class="shopNows">Shopping Bag</h4> -->
              </a>
            </li>
          </ul>
 
        <!--  <ul class="navbar-nav boxAlign  mobile1 ml-auto search-contents"  >
           <li class="nav-item pt-3">
             <div class="headerwrapper__searchbox ">
               <input matInput type="text" placeholder="Search.." #box (keyup.enter)="onEnter(box.value, box)" placeholder="">
               <mat-icon class="search-icon"  (click)="onEnter(box.value, box)" >search</mat-icon>
               </div>
           </li>
    
   
           <li class="nav-item" *ngIf="this.sharedService?.showMyAccount() !== 'true'; showMobileView"
            (click)="getLogin()">
             <a (click)="openDialog()" class="nav-link nav-linkEnd loginSize loginStyle pt-1 mt-2">
               <span class="navMenus "><i class="fa fa-2x fa-user account-icon"></i></span></a>
           </li>
        
           <li class="nav-item dropdown " appSlideNav  *ngIf="this.sharedService?.showMyAccount() === 'true'">
             <a class="nav-link dropdown-toggle loginSize pt-2 mt-2" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true"  aria-expanded="false">
               &nbsp; My Account
             </a>
             <div   class="dropdown-menu dropdown-menu-right boxShape" 
              aria-labelledby="navbarDropdown"> 
               <a class="dropdown-item listArrange" [routerLink]="['/account/profile']">My Profile</a> 
               <a class="dropdown-item listArrange" [routerLink]="['/account/orders']">My Order</a>
               <a class="dropdown-item listArrange" [routerLink]="['/account/mybookings']">My Bookings</a>
               <a class="dropdown-item listArrange" [routerLink]="['/account/wishlist']">My Wishlist</a> 
               <a class="dropdown-item listArrange" (click)="logOut()">Logout</a>
             </div>
           </li>
           
           <li class="nav-item" >
             <a (click)="cartWithUser()" class="nav-link nav-linkEnd mt-1">
               <span class="fa-stack fa-1x has-badge" matBadgeColor="accent"  matBadge="{{this.sharedService.addToQty()}}">
                   <i class="fa fa-shopping-cart fa-2x " style="color: black;"></i>
                 </span></a>
           </li>
           
         </ul> -->
         <hr *ngIf="showMobileView === true" style="margin-left: 25px; margin-right:25px " >
         <ul class="navbar-nav m-auto mobile" (click)="toggleNavbar()">
           <li><a class="nav-footer" routerLink="/info/privacypolicy">Privacy Policy</a></li>
           <li><a class="nav-footer" routerLink="/info/termsconditions">Terms & Conditions</a></li>
           <li *ngIf="sharedService.getEmail()"><a class="nav-footer" [routerLink]="['/account/profile']"><span class="hiddenClass" >My Account</span></a></li>
           <li *ngIf="sharedService.getEmail()"><a class="nav-footer" [routerLink]="['/account/orders']" ><span class="hiddenClass">My Order</span></a></li>
           <li *ngIf="sharedService.getEmail()"><a class="nav-footer" [routerLink]="['/account/wishlist']"><span class="hiddenClass">My Wishlist</span></a></li>
           <li *ngIf="sharedService.getEmail()"><a class="nav-footer" (click)="logOut()"><span class="hiddenClass">LogOut</span></a></li>
         </ul>
       </div>
     </nav>
     </div>
   </div>
 