<div class="productMoreInfo">
  <!-- <nav class="navstyle">
    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
      <a [class.activeClass]="selectedItemTab === tab.item" class="nav-item nav-link"
        *ngFor="let tab of tabItems; let i = index" id="nav-profile-tab" data-toggle="tab" role="tab"
        aria-controls="nav-profile" (click)="selectedTab(tab.item)" aria-selected="false">
        <h4 [class.activeHeading]="selectedItemTab == tab.item" class="tabHeading" role="presentation">
        <b class="titleStyle">{{tab.item}}</b>
        </h4>
      </a>
    </div>
  </nav> -->
  <div>
      
         <div class="row" *ngIf="selectedItemTab === 'Login'" id="nav-home" role="tabpanel"
      aria-labelledby="nav-home-tab">
      <div class="col-md-12 col-12">
        <div class="cen">
        <app-signin></app-signin></div>
      </div>
    </div>
    <div class="row" *ngIf="selectedItemTab === 'Registration'" id="nav-profile" role="tabpanel"
      aria-labelledby="nav-profile-tab">
      <div class="col-md-12">
          <div class="cen">
      <app-registration></app-registration>
      </div></div>
    </div>
  </div>
  </div>