  <div class="text-center textHeader">
      <p >NEW ARRIVALS</p>
  </div>
 
  <div class="col-md-12 row mainclass" >
  <div class="col-md-3" *ngFor="let product of listProduct">
       <div class="productImg">
      
           <div class="grumpy-image-wrapper">
           <img [hidden]="!imageLoader" src="../../../../assets/images/Untitled-1 (1).gif" class="loader"/>
        
           <img [src]="product.productImage[0]?.productImageName"
             (click)="getProduct(product)" alt="{{product.productName}}" class="grumpy-image"
              [hidden]="imageLoader" 
             (load)="onLoad()"> 
             <img src="../../../../assets/images/ucchal leaf 2.png"  class="imgleaf">
             <p class="discountcount"> {{product.discount}}%</p>
              <p class="discountcountoff">  OFF</p>
         
           </div>
      
       <div class="productDetails">
         <h3 class="productName" style="font-size: 13px;text-align: center">{{product.productName}}</h3>
         <div class="productPrice">
             <p  class="text-center textShape" style="font-size: 12px;text-align: center">
               <span class="fullPrice" *ngIf="product.discount !== 0">{{product.totalPrice | converter | localeCurrency}}</span>
               <span style="color: red" > &nbsp; 
               {{ product.price | converter | localeCurrency }} 
             </span></p> <p class="text-center" *ngIf="product.discount !== 0"> You Save: <span>{{product.savePrice | converter | localeCurrency}}</span></p>
      
         </div>
       </div>
     </div>
  
      
   </div>
</div>