<!-- <div class="row" *ngFor="let product of productModel;let i = index; ">
  <div class="col-md-12" *ngIf="i % 3 === 0;else elseBlock ">
        test   
  </div>
  <ng-template #elseBlock>
    <div class="col-md-4"  >
   test 4 
  </div>
  </ng-template>
  
  
</div>

<div class="row" >
  <div class="col-md-12" *ngFor="let product of productModel;let i = index; ">
     <div class="row" *ngIf="i % 3 === 0 ">
       <div class="col-md-12">
         test 12
       </div>
     </div>
     <div class="row" *ngIf="i % 3 !== 0 ">
      <div class="col-md-4">
        test 4
      </div>
    </div>
    <div class="row" *ngIf="i % 3 !== 0 ">
      <div class="col-md-4">
        test 14
      </div>
    </div>
  </div>
 -->



<div class="container" >
  <div class="row" >
  <!--   <div  class="col-md-12 col-sm-6 col-6 pr-2 pl-2"  [ngClass]="{'order-1': odd }"  >
      <div class="product-grid col-md-5 m-auto">
          <div class="product-image">
              <a (click)="getProduct(product)"  class="image">
                  <img class="pic-1" [src]="product.productImage[0]?.productImageName">
              </a>
              <ul class="social">
                <li><a (click)="checkLoginUser(product._id)" data-tip="Add To Wishlist"><i class="fa fa-heart" [ngClass]="{'wishlistAdd':product?.wishList}"></i></a></li>
             </ul>
             <a class="add-to-cart" (click)="skuProductAddToCart(product)" >add to cart</a>
          </div>
          <div class="product-content">
              <h3 class="title"><a title="{{product?.productName}}" (click)="getProduct(product)"  >
                {{product?.productName.length > 24 ? product?.productName.substr(0,24) + '...': product?.productName}}
              </a></h3>
              <div class="price"><span>{{product?.mrp | currency : "INR"}}</span>{{product?.sp | currency : "INR"}}</div>
          </div>
      </div>
  </div> -->
<!-- <div class="row"  > -->
  <div  class="col-md-4 col-sm-6 col-6 pr-2 pl-2"  *ngFor="let product of productModel;let i = index; let even = even; let odd = odd">
    <div class="product-grid">
        <div class="product-image">
            <a (click)="getProduct(product)"  class="image">
                <img class="pic-1" [src]="product.productImage[0]?.productImageName">
            </a>
            <ul class="social">
              <li><a (click)="checkLoginUser(product._id)" data-tip="Add To Wishlist"><i class="fa fa-heart" [ngClass]="{'wishlistAdd':product?.wishList}"></i></a></li>
           </ul>
           <a class="add-to-cart" (click)="skuProductAddToCart(product)" >add to cart</a>
        </div>
        <div class="product-content">
            <h3 class="title"><a title="{{product?.productName}}" (click)="getProduct(product)"  >
              {{product?.productName.length > 24 ? product?.productName.substr(0,24) + '...': product?.productName}}
            </a></h3>
            <div class="price"><span>{{product?.mrp | currency : "INR"}}</span>{{product?.sp | currency : "INR"}}</div>
        </div>
    </div>
</div>
<!-- </div> -->


  </div>
     
</div>


<!-- 
<div class="container">
  <div class="row">
      <div class="col-md-3 col-sm-6 col-6" *ngFor="let product of productModel">
          <div class="product-grid">
              <div class="product-image">
                  <a (click)="getProduct(product)" class="image">
                      <img class="pic-1" [src]="product.productImage[0]?.productImageName">
                  </a>
              </div>
              <div class="product-content">
                  <h3 class="title"><a title="{{product.productName}}" (click)="getProduct(product)">
                    {{product?.productName.length > 24 ? product?.productName.substr(0,24) + '...': product?.productName}}
                  </a></h3>
                  <div class="price"><span>{{product?.mrp | currency : "INR"}}</span> {{product?.sp | currency : "INR"}}</div>
                  <div class="product-button-group">
                      <a class="add-to-cart" (click)="getProduct(product)"><i class="fa fa-shopping-cart"></i>ADD TO CART</a>
                      <a class="product-like-icon" (click)="checkLoginUser(product._id)">
                        <i class="fa fa-heart"[ngClass]="{'wishlistAdd':product?.wishList}"></i></a>
                  </div>
              </div>
          </div>
      </div>
     
  </div>
</div>
 -->
<!-- 
<div class="row" >
       <div  class="col-md-3 col-sm-6 pr-2 pl-2" *ngFor="let product of productModel">
          <div class="product-grid">
              <div class="product-image">
                  <a   (click)="getProduct(product)"  class="image">
                      <img class="pic-1" [src]="product.productImage[0]?.productImageName">
                     
                  </a>
                  <span class="product-discount-label" >-{{product?.discount}}%</span>
                  <ul class="product-links">
                      <li><a (click)="checkLoginUser(product._id)"  >
                        <i class="fa fa-heart"  [ngClass]="{'wishlistAdd':product?.wishList}" ></i></a></li>
                  </ul>
              </div>
              <div class="product-content">
                  <h3 class="title"><a title="{{product.productName}}" (click)="getProduct(product)">
                    {{product?.productName.length > 24 ? product?.productName.substr(0,24) + '...': product?.productName}}

                  </a></h3>
                  <div class="price"><span>{{product?.mrp | currency : "INR"}}</span>{{product?.sp | currency : "INR"}}</div>
                  <a  class="add-to-cart">Add to Cart</a>
              </div>
          </div>
      </div>
</div> -->





<!-- <div class="row">
  <div class="col-md-12 pt-2">
    <app-product-header [productModel]="array"></app-product-header>
  </div>
</div> -->
<!-- <div class="row">
  <div class="col-md-3 col-6 rowBox" routerLink="/product/viewsingle/{{product._id}}"
    *ngFor="let product of productModel" style="cursor: pointer;">
    <div class="form-group" appHoverItem>
      <a class="imgDisplay">
        <img class="img imageResponsive" 
         [src]="productImageUrl + product._id + '/' + product.productImageName[0]"
          height="295" width="414" /> </a>
      <a routerLink="/product/viewsingle/{{product._id}}" class="imgNone" [style.display]="'none'">
        <img class="img imageResponsive" [src]="productImageUrl + product._id + '/' + product.productImageName[1]"
          height="295" width="414" /></a>
    </div>
    <div class="productInformation">
          <mat-icon class="productWishlist">favorite</mat-icon>
      <div class="productText">
        <p class="productName"><strong>{{product.productName}}</strong></p>
        <p class="productMaterial">{{product.material}}, {{product.occassion}}</p>
      </div>
      <div class="productPrice">
        <p><span>&#x20B9;</span>{{product.price}}</p>
      </div>
       <div class="productPrice">
        <p><span>&#x20B9;</span>{{product.color}}</p>
      </div>
    </div>
  </div>
</div> -->

<!-- 
<div class="row pt-3" (window:resize)="getWindowSize()">
  <div class="col-md-3 col-sm-3 col-6" *ngFor="let product of productModel">
   <div class="productBox" [class.open]="product?.display"> 
      <div class="productImg">
       
          <div class="grumpy-image-wrapper">
          <img [hidden]="!imageLoader" src="../../../../assets/image/source.gif" class="loader" width="100%"/>
       
          <img class="halfsize" [src]="product.productImage[0]?.productImageName"
            (click)="getProduct(product)" title="{{product.productName}}" alt="{{product.productName}}" class="grumpy-image"
             [hidden]="imageLoader" 
            (load)="onLoad()"> 
            <h1 class="iconoUtline">
              <button mat-mini-fab color="accent" (click)="checkLoginUser(product._id)" style="background:#002561  ; color: white;" *ngIf="showMobileView===false" >
              <span>
                 <mat-icon>favorite_outline</mat-icon>
                 </span>
              </button>
            </h1>
       
          </div>
         
    
      <div class="productDetails">
        <h3 class="productName "><span class="float-left">{{product.productName}} </span>
         </h3>
        <div class="productPrice">
            <span>{{ product.price | localeCurrency }} </span>
            <p class="float-right" *ngIf="product.discount !== 0"><span>({{product.discount | localeCurrency}} off)</span></p>
        
        </div>
      </div>
    </div>
   </div>
    
     
  </div>
  
</div>
 -->
