.product-grid{
  background-color: #fff;
  font-family: 'Alatsi', sans-serif;
  transition: all 0.5s;
}
.product-grid:hover{ box-shadow: 0 3px 22px rgba(0,0,0,0.07); }
.product-grid .product-image{
  position: relative;
  overflow: hidden;
}
.product-grid .product-image a.image{ display: block; }
.product-grid .product-image img{
  width: 100%;
  height: auto;
  transition: all 0.3s;
}
.product-grid:hover .product-image img{ filter: hue-rotate(-5deg); }
.product-grid .product-sale-label{
  color: #fff;
  background: #cc2121;
  font-size: 13px;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
  padding: 0 10px;
  border-radius: 3px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.product-grid .social{
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 45px;
  left: 10px;
  transition: all 0.4s ease;
}
.product-grid .social li a{
  color: #444;
  background: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 35px;
  width: 35px;
  height: 35px;
  margin: 0 0 10px;
  border-radius: 50px;
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.08);
  display: block;
  transform: rotate(180deg) scale(0);
  position: relative;
  z-index: 1;
  transition: all 0.3s ease;
}
.product-grid .social li a:hover{
  color: #fff;
  background-color: #cc2121;
}
.product-grid:hover .social li a{ transform: rotate(0) scale(1); }
.product-grid .social li a:before,
.product-grid .social li a:after{
  content: attr(data-tip);
  color: #fff;
  background-color:#4c4c4c;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.3px;
  padding: 0 10px 2px;
  white-space: nowrap;
  transform: translateY(-50%);
  visibility: hidden;
  position: absolute;
  left: 40px;
  top: 50%;
}
.product-grid .social li a:after{
  content: '';
  height:15px;
  width:15px;
  padding: 0;
  transform: translateY(-50%) rotate(45deg);
  z-index:-1;
}
.product-grid .social li a:hover:before,
.product-grid .social li a:hover:after {
  visibility: visible;
}
.product-grid .add-to-cart{
  color: #323232;
  background: #fff;
  font-size: 14px;
  font-weight:500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  width: 130px;
  padding: 9px 10px;
  border-radius: 50px;
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.08);
  opacity: 0;
  transform: translateX(-50%) scaleY(0);
  position: absolute;
  bottom: 15px;
  left: 50%;
  transition: all 0.3s ease;
}
.product-grid .add-to-cart:hover{
  color: #fff;
  background: #cc2121;
}
.product-grid:hover .add-to-cart{
  box-shadow: 0 0 10px #555;
  opacity: 1;
  transform: translateX(-50%) scaleY(1);
}
.product-grid .product-content{
  padding: 12px 0;
  position: relative;
}
.product-grid .category{
  color: #929292;
  font-size: 14px;
  text-transform: capitalize;
  width: calc(100% - 90px);
  margin-bottom: 7px;
  display: inline-block;
  transition: all 0.3s ease;
}
.product-grid .rating{
  color: #f6bb43;
  font-size: 13px;
  width: 87px;
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
}
.product-grid .title{
  font-size: 17px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0 0 5px;
}
.product-grid .title a{
  color: #333;
  transition: all 0.5s ease;
}
.product-grid .title a:hover{ color: #cc2121; }
.product-grid .price{
  color: #333;
  font-size: 16px;
}
.product-grid .price span{
  color: #999;
  font-size: 15px;
  text-decoration: line-through;
  display: inline-block;
  margin: 0 3px 0 0;
}
@media screen and (max-width:990px){
  .product-grid{ margin: 0 0 30px; }
}

.wishlistAdd{
  color: #fe0000 !important; 
  outline: transparent !important;
}

@media only screen and (max-width:990px){
  .product-grid{ margin: 0 0 40px; }

  .product-grid .title {
      font-size: 12px;
      margin: 0 0 5px;
  }
  .new3 h3{
      font-size: 14px;
  }
  .product-grid .product-content{
      padding: 5px 4px;
      text-align: center;
  }
  .product-grid .price {
      color: #303030;
      font-size: 11px;
  }
  .row h3{
      font-size: 22px  !important;
  }
  hr.new3 {
      border: 1px solid #505980;
      width: 20%;
      margin-top: auto;
    }

.header-text {
  margin-bottom: 10px;
}
}
.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}





.halfsize {
  -moz-transform:scale(0.5);
  -webkit-transform:scale(0.5);
  transform:scale(0.5);
}
::ng-deep .snackbar{
  /* top:50%; */
  /* margin-left: 800px !important; */
  /* margin-bottom: 500px !important;  */
  margin-top: 100px !important;
  /* background-color: blue; */
}
.iconoUtline {
  position: absolute;
  top: 0%;
  color: #000;
  left: 80%;
  opacity: 0;
}
.productBox:hover .iconoUtline {
  opacity: 1 !important;
  transition-duration: 0.4s !important;
  transition-timing-function: linear;
}
.mat-mini-fab {
  box-shadow: none !important;
  border: 1px solid #e9e7e7 !important;
  
  }
.grumpy-image-wrapper {
  width: 100%;
  height: 0;
  padding-bottom: 130.7%;
  border: 2px solid white; /* simply to show you the collapsed state for this demo */
}
.grumpy-image {
  width: 100%;
}
.imageResponsive {
  display: block;
  max-width: 100%;

}

.loader{
  margin-top: 100px;
  width: 100px !important;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.icon{
width: 24px;
height: 24px;
}
.wishProductMob{
  display: none !important;
  visibility: hidden;
}
.productMaterial {
  margin: 4px 0;
  line-height: 16px;
  font-weight: 600;
  font-size: 12px;
  color: black;
}
.box {
  /* width: 210px; */
  position: relative;
  vertical-align: top;
  overflow: hidden;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 10px 30px 10px;

}
.discountcount{
  display: block !important;
  font-size: 13px;
  position: absolute !important;
  bottom: 90%;
  margin-left: 3%;
  color: #fff;
}
.discountcountMob{
  display: block !important;
  font-size: 10px;
  position: absolute !important;
  bottom: 86%;
  margin-left: 3%;
  color: #fff;
}
.discountcountoff{
  display: block !important;
  font-size: 11px;
  position: absolute !important;
  bottom: 87%;
  margin-left: 6%;
  color: #fff;
}
.discountcountoffMob{
  display: block !important;
  font-size: 8px;
  position: absolute !important;
  bottom: 85%;
  margin-left: 6%;
  color: #fff;
}
.imgleaf {
  display: block !important;
  height: 16% !important;
  position: absolute !important;
  top: 0;
  width: 19% !important;
}
/* .imgleaf{
  position: relative;
  
  height: 50px;
  width: 100px;
} */
.productBox .productImg {
  height: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
/* .productBox .productImg img:last-child {
  display: block;
  height: auto;
  position: absolute;
  top: 0;
  width: 100%;
} */

.pathName {
  stroke: #000;
  color: #ffffff;
}
img {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
.productBox .productImg img {
  width: 100%;
}
.productBox .productImg img:first-child {
  display: block;
  height: auto;
  width: 100%;
}
.icon_wishlist:before {
  content: "\E902";
}
.wishProduct i {
  color: #000;
  /* font-size: 20px; */
  vertical-align: sub;
}


.productBox .productDetails .productPriceBox {
  color: rgba(45,45,45,.5);
  font-size: 15px;
  line-height: 18px;
  padding: 5px 0;
  position: relative;
  font-weight: 600;
}
.productBox .productDetails {
  overflow: hidden;
  padding: 5px 0 0;
  width: 100%;
}

.productBox {
  margin-bottom: 30px;
  width: 100%;
}
/* .productBox:hover{
  box-shadow: 0 0 5px 0 rgba(218, 216, 216, 0.788), 0 0 2px 0 rgba(218, 216, 216, 0.788);
} */
mat-icon{
  font-size: 12px !important;
  height: 12px;
  width: 12px;
}

.productBox .productImg .productActionLeft  .wishProduct:after {
	border-right: 0.5px solid black;
	content: "";
	display: block;
	width: 1px;
  position: absolute;
  bottom: 0px;
  top: 0px;
  /* left: 50%; */
	right: 0%;
}
.productBox .productImg .productActionLeft  .addtoProduct {
  cursor: pointer;
  float: right;
  font-size: 14px;
  text-align: center;
  color: black;
}
.productBox .productImg .productActionLeft .wishProduct {
  cursor: pointer;
  float: left;
  font-size: 13px;
  letter-spacing: 1.5px;
  padding-top: 12%;
  text-align: center;
  color: black;
}
.productBox .productImg .productActionLeft {
  left: 10px;
  padding-top: 2%;
  padding-bottom: 5%;
  padding-left: 11%;
  padding-right: 2%;
  position: absolute;
  /* right: 0; */
  bottom: 70px;
  width: 46%;
  background: #EEDBDF;
  cursor: pointer;
  opacity: 0.9;
}
/* .productBox .productImg .productActionRight  .wishProduct:after {
	border-right: 2px solid white;
	content: "";
	display: block;
	width: 1px;
  position: absolute;
  bottom: 0px;
  top: 0px;
  left: 50%;
	right: 50%;
} */

.productBox .productImg .productActionLeft  .wishProduct:after {
	border-right: 0.1px solid lightgray;
	content: "";
	display: block;
	width: 1px;
  position: absolute;
  bottom: 0px;
  top: 0px;
  /* left: 50%; */
	right: 0%;
}
.productBox .productImg .productActionRight  .wishProduct:after {
	/* border-right: 2px solid white; */
	content: "";
	display: block;
	width: 1px;
  position: absolute;
  bottom: 0px;
  top: 0px;
  
}
.productBox .productImg .productActionRight  .addtoProduct {
  cursor: pointer;
  float: right;
  font-size: 13px;
  text-align: center;
  padding-top: 6%;
  color: black;
}
.productBox .productImg .productActionRight .wishProduct {
  cursor: pointer;
  float: left;
  font-size: 13px;
  text-align: center;
  color: black;
}
.productBox .productImg .productActionRight {
  /* left: 0; */
  padding-top: 4%;
  padding-bottom: 5%;
  padding-left: 3%;
  padding-right: 10%;
  position: absolute;
  right: 3%;
  bottom: 70px;
  width: 46%;
  background: #EEDBDF;
  cursor: pointer;
  opacity: 0.9;
  color: black;
}
.aligned-with-icon-relative{
  position: relative;
  top: 0px;
  /* margin-left: 5px; optional */
}
.bg-image {
  width: 100%;
  height: 140%;
  /* background: url('/../../../../assets/images/746888_denim_1.jpg') no-repeat center; */
  background-size: contain;
}


.boxInfo {
  position: absolute;
  width: 100%;
  top: 73%;
  right: 0;
  bottom: 16%;
  left: 0;
  visibility: visible;
}

.pullLeft {
  padding-top: 5%;
  border-right: 1px solid lightgray;
  width: 50%;
  float:left;
  text-align: center;
}

.pullLeft span{
  font-weight: 500
}

.pullRight {
  /* padding: 6%; */
  padding-top: 5%;
  float:right;
  text-align: center;
  width: 50%;
}
.img-container {      
  box-shadow: rgb(211, 31, 31) 1px 2px 8px 1px;      
  width: 100%;      
  padding: 140%;
  background-position: center;      
  background-repeat: no-repeat;      
  align-content: center;      
} 
.box:hover {
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.backgroundImage {
  width:  100%;
  padding: 350px;
  height: 80%;
  border: 1px solid black;
}

.box:hover .boxInfo {
  visibility: visible;
  background-color: rgba(48, 44, 44, 0.239);
  opacity: 1;
  /* box-shadow: 0 4px 8px 0  rgb(136,136,136), 0 6px 20px 0 rgb(136,136,136); */
  
}
.product-actionsButton {
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
  padding: 8px 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.productPrice {
  margin: 2px 0;
  line-height: 18px;
  font-weight: 600;
  color: #333;
  /* font-family: ''; */
}

@media only screen and (max-width: 900px) {
  .imageResponsive {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .boxInfo {
    position: absolute;
    width: 100%;
    top: 79%;
    right: 0;
    bottom: 13%;
    left: 0;
    display: none;
  }
  .pullLeft {
    padding-top: 5%;
    border-right: 1px solid lightgray;
    width: 50%;
    float:left;
    text-align: center;
  }
  .pullRight {
    padding-top: 5%;
    float:right;
    text-align: center;
    width: 50%;
  }
}

.rowBox {
  position: relative;
  z-index: 1;
  transition: .3s;
  cursor: pointer;
}

.mb20 {
  margin-bottom: 20px;
}

.mb10 {
  margin-bottom: 10px;
}

.product-slug {
  width: 70%;
  font-family: 'HelveticaNeue';
  text-align: left;
  color: #333;
}

.productBox .productDetails .productName {
  /* line-height: 16px;
  font-weight: 600; */
  font-size: 15px;
  font-weight: 600 !important;
  margin-bottom: 2% !important;
  text-align: center;
  color: black !important;
  /* font-family: 'Muli', sans-serif; */
  font-family: 'Quicksand', sans-serif;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-bottom: 2%;
  border-bottom: 1px solid grey;
}
/* .productBoxHover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */
.productBox .productDetails .productPriceBox .productPrice {
  color: black !important;
  /* font-family: 'Muli', sans-serif; */
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}
.productDescription {
  text-align: left;
  color: #000;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.productBrand {

  width: 70%;
  margin: 2px 0;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.productText {
  padding-left: 15px;
  text-align: left;
  color: lightslategray;
  /* color: #000; */
  margin-bottom: 10px;
}

.productInformation {
  position: relative;
  margin: 15px 0 0;
}

.productWishlist {
  position: absolute;
  top: -10px;
  right: 0;
  width: 40px;
  height: 40px;
  padding: 10px;
  line-height: 20px;
  cursor: pointer;
  text-align: center;
  color: #333;
  border: none;
  background: transparent;
}
.textOffer {
  line-height: 30px;
  
  color: red;
}
.textShape {
  padding-top: 3px !important;
  margin-block-end: 5px !important;
}
.pull-center {
  float: inline-start;
}
.offerText {
  font-size: 10px;
  padding-right: 5px;
  padding-top: 3px;
  /* font-family: 'Muli', sans-serif; */
  font-family: 'Quicksand', sans-serif;

}
.oldPrice {
  font-family: 'Muli', sans-serif;
}
/* .col-md-3{
  padding-right: 30px;
  padding-left: 15px;
} */