.top{
  margin-top: 50px;
}
.topMob{
  margin-top: 30px;
}
.shape {
  left: 15px;
  position: relative;
  }
  .shapeMob{
    left: 0px !important;
    padding-left:13px;
    width: 100%;
  }
  .si{
    padding: 10px;
  }
.rowh{
  border-bottom:0px solid #6D6E70; 
  margin-left: -30px !important; 
  margin-right:-30px !important;
  margin-top: 5px;
  margin-bottom: -40px;
}
.rowy{
  margin-top:-1px;
  margin-bottom: 2px;
  margin-left: -30px !important; 
  margin-right:-30px !important;
}
.sort{
  color: #808285;
  padding-left: 15px;
  list-style-type: none;
  /* font-family: 'Montserrat-Light' !important; */
  font-family: 'Quicksand', sans-serif;

  font-size: 12px;
}
ul{
  list-style-type: none !important;
  padding-inline-start: 0px;
  margin-block-end: 0px;

}
.view{
  display: block;
}
.hide{
  display: none;
}
.gridContainer {
  background: #ebebeb;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.abtn {
  display: block;
  width: 80%;
  margin: 0 auto;
  line-height: 38px;
  letter-spacing: 0.025em;
  color: #000;
  border: 1px solid #000;
  text-align: center;
  background: transparent;
}


.sidebar-section {
  position: absolute;
  height: 100%;
  width: 100%;
}

.sidebar-item {
	position: static;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;	
}


.sticky {
  position: -webkit-sticky;
	position: sticky;
  top: 79px;
  padding: 10px;
}
@media screen and (min-width: 992px){
  
}
.prodCol {
  width: 95%;
}
.rightCol {
  width: 5%;
}
.rowCol {
  width: 100%;
}
.mainCol {
  width: 100%;
}
.left-Col {
  width: 30%;
}
.right-Col {
  width: 70%;
}
.col-6{
  text-align: center;
}
.modal-dialog{
  margin-top: 38px;
}
.modal-header{
  padding: 5px;
}
.modal-footer{
  padding: 10px;
}
.modal-body{
  padding: 0px;
}
.backg{
  /* background-image: url('../../../../assets/image/watercolor-back-school-background_23-2148197714.jpg'); */
  /* background-repeat: no-repeat; */
  /* background: linear-gradient(to top left, #f5f7fa  0%, #c3cfe2 100%); */
  background-attachment: fixed;
  background-size: cover;
  /* opacity: 0.5; */
}
.mat-paginator{
  background: none;
}

