<!-- 
<div class="container" *ngIf="showMobileView1">
  <hr class="rowy">
  <div class="row ">
    <div class="col-6">
      <div class="dropdown show">
        <button type="button" class="btn"  (click)="openModal()">
          Filter
        </button>
        
<div class="backdrop" [ngStyle]="{'display':display}"></div>

<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">

 <div class="modal-dialog" role="document">

   <div class="modal-content">

     <div class="modal-header">
        <h6 style="padding-left: 14px !important;">Filter</h6>
       <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>



     </div>

     <div class="modal-body">

          <app-attribute-filter 
    (attributeFilterData)="filterAttributeMultiAll($event)"
     [fieldAttributePush]="fieldAttributePush"

     [attributeModel]="attributeModel"
                      
   ></app-attribute-filter>

     </div>

     <div class="modal-footer">

       <button type="button" class="btn btn-default" (click)="onCloseHandled()" >Apply</button>

     </div>

   </div>

 </div>

</div> -->
      <!-- </div>
    </div>
    

    <div class="col-6">
      <div class="dropdown show">
        <a class="btn" data-toggle="dropdown" (click)="toggleDropdown1()">
          Sort</a>
        <div class="dropdown-menu" [ngClass]="{'show':showMobileView2}">
          <ul>
            <li class="sort"><a href="#" style="color: #808285;">New</a></li>
            <hr>
            <li class="sort"><a href="#" style="color: #808285;">Price Low to High</a></li>
            <hr>
            <li class="sort"><a href="#" style="color: #808285;">Price High to Low</a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <hr class="rowh">
</div> -->

<div class="backg">
  <!-- <div class="top" *ngIf="count === 0">
    <h2 class="text-center">We are Making these Products for you</h2>
  </div> -->
<div class="container" >
  <!-- <div class="row"> -->
      <!-- <div class="backg"> -->
          <div class="row" [ngClass]="{'shapeMob':showMobileView1, 'shape':!showMobileView1}">
  <div class="col-md-12 p-0 top"  [ngClass]="{'topMob':showMobileView1}">
      <!-- {{attributeModel | json}} -->
    <!-- <div [ngClass]="'view' : showMobileView , 'hide': !showMobileView"> -->
  
    <!--   <app-breadcrumb [cat]="cat" [commonCategory]="commonCategory" [tagData]="tagData"
      [brandModel]="brandModel" [promotionData]="promotionData" [recentProduct]="recentProduct"></app-breadcrumb> -->
        <!-- <app-product-category [cat]="cat" [commonCategory]="commonCategory" [tagData]="tagData"
    [brandModel]="brandModel" [promotionData]="promotionData" [recentProduct]="recentProduct">
    </app-product-category> -->
      
       <!--  <button type="button" class="btn float-right" (click)="openModal()">
          Filter
        </button>  -->
      
<div class="backdrop" [ngStyle]="{'display':display}"></div>

<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">

 <div class="modal-dialog" role="document">

   <div class="modal-content">

     <div class="modal-header">
        <h6 style="padding-left:15px;">Filter</h6>
       <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>



     </div>

     <div class="modal-body">
  <!-- <app-filter-options 
  (filterOptionData)="filterOptionsDataEvent($event)"
  (fieldAttributePush)="fieldAttributePush($event)"
  [commonFilter]="commonResult"
  [isDispatch]="isDispatch"
  [filterOptionsModel]="filterOptions" 
 
 ></app-filter-options> -->
          <app-attribute-filter 
    (attributeFilterData)="filterAttributeMultiAll($event)"
     [fieldAttributePush]="fieldAttributePush"

     [attributeModel]="attributeModel"
                      
   ></app-attribute-filter>

     </div>

     <div class="modal-footer">

       <button type="button" class="btn btn-default" (click)="onCloseHandled()" >Apply</button>

     </div>

   </div><!-- /.modal-content -->

 </div><!-- /.modal-dialog -->

</div><!-- /.modal !-->

  </div>
  <!-- </div> -->
  <!-- <div class="col-md-1 p-0"></div> -->
  
   
    <div class="col-md-12 p-0">
      <!-- <div class="rowCol">
    <div class="prodCol"> -->
      <router-outlet></router-outlet>
      <!-- </div>
    <div class="rightCol">

    </div>
  </div> -->
    </div>
    <!-- <div class="col-md-1 p-0">
    
  </div> -->
  </div>

  <!-- <div class="row">
  <div class="col-md-12 gridContainer">
    <div class="row">
      <div class="col-md-4 col-8">
        <div class="form-group mt-3">
          <a class="abtn"> Sign up for the latest updates</a>
        </div>
      </div>
      <div class="col-md-4 col-2">

      </div>
      <div class="col-md-4 col-2">
        <div class="form-group float-right mt-3">
          STORES
        </div>
      </div>
    </div>
  </div>
</div> -->


</div>
</div>