<!-- <form [formGroup]="addressForm">

  <div class="row">
    <div class="col-md-12">
      <div class="p-3">
        <span class="button btnn" (click)="addAddress()">
          <p class="fontSTyl">ADD ADDRESS</p>
        </span>
      </div>
    </div>
  </div>

  <div class="row " >
    <div class="col-md-6 " *ngFor="let address of addressModel; let i = index">
    <div class=" gridRow border p-2" >
    <h4 class="addressDe fontSTyl">
      Address Details {{i + 1}}
    </h4>
     {{address | json}} 
    <div class="row" *ngIf="!address.editAddress">
      <div class="col-md-6 fontSTyl">
        <label>Name</label>
      </div>
      <div class="col-md-6 text-left fontSTyl">
       : {{address.name}}
      </div>
      <div class="col-md-6 fontSTyl">
        <label>Mobile Number</label>
      </div>
      <div class="col-md-6 text-left fontSTyl">
        : {{address.mobileNumber}}
      </div>
      <div class="col-md-6 fontSTyl">
        <label>Building No</label>
      </div>
      <div class="col-md-6 text-left fontSTyl">
       : {{address.building}}
      </div>
      <div class="col-md-6 fontSTyl">
        <label>Street Address</label>
      </div>
      <div class="col-md-6 text-left fontSTyl">
       : {{address.streetAddress}}
      </div>
      <div class="col-md-6 fontSTyl">
        <label>LandMark</label>
      </div>
      <div class="col-md-6 text-left fontSTyl">
       : {{address.landmark}}
      </div>
      <div class="col-md-6 fontSTyl">
        <label>City</label>
      </div>
      <div class="col-md-6 text-left fontSTyl">
       : {{address.city}}
      </div>
      <div class="col-md-6 fontSTyl">
        <label>State</label>
      </div>
      <div class="col-md-6 text-left fontSTyl">
       : {{address.state}}
      </div>
      <div class="col-md-6 fontSTyl">
        <label>Pincode</label>
      </div>
      <div class="col-md-6 text-left fontSTyl">
       : {{address.pincode}}
      </div>
    </div>
    <div class="col-md-12" *ngIf="address.editAddress">
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Name" [value]="address.name || null" formControlName="name" 
            required #name>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Mobile number" [value]="address.mobileNumber || null"
              formControlName="mobileNumber" #mobileNumber required>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="building" [value]="address.building" formControlName="building" #building
              required>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="streetAddress" [value]="address.streetAddress" #streetAddress
              formControlName="streetAddress" required>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="landmark" [value]="address.landmark" formControlName="landmark" #landmark
              required>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="City" [value]="address.city" formControlName="city" #city required>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="State" [value]="address.state" formControlName="state" #state required>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Pincode" [value]="address.pincode" formControlName="pincode" #pincode required>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-12  border-top">
        <div class="row bgRowedit">

          <div class="col-md-6 actionClass"
            (click)="updateAddress(address, name, mobileNumber, building, streetAddress, landmark, city, state, pincode )">
            <button class="button buttonFont">
              Update
            </button>
          </div>

          <div class="col-md-6 actionClass" (click)="cancelAddress(address)">
            <button class="button buttonFont">
              Cancel
            </button>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-12 border-top" *ngIf="!address.editAddress">
      <div class="row">
        <div class="col-md-6 actionClass" (click)="editAddress(address)">
          <button class="button buttonFont"> Edit </button>
        </div>
        <div class="col-md-6 actionClass" (click)="deleteAddress(address._id)">
          <button class="button buttonFont"> Delete </button>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</form> -->

  <!-- <div class="row"> -->
    
  <!-- </div> -->

  <h5 class="inforMation">Address</h5>
<div class="row " >
  
  <div class="col-md-4 col-12"  *ngFor="let address of addressModel; let i = index">
  <div class=" gridRow " >
  <!-- <h4 class="addressDe fontSTyl">
    Address Details {{i + 1}}
  </h4> -->
  <!-- {{address | json}} -->
  <div  *ngIf="!address.editAddress">
    <div class="fontSTyl padding" [ngClass]="{'paddingMob':displayMobile === true}">
      <!-- <label>Name</label>
    </div>
    <div class="text-left fontSTyl"> -->
     {{address.name}} 
    </div>
    <div class="fontSTyl padding" [ngClass]="{'paddingMob':displayMobile === true}">
      <!-- <label>Mobile No</label>
    </div>
    <div class="text-left fontSTyl"> -->
      {{address.mobileNumber}} <br>
    </div>
    <div class="fontSTyl padding" [ngClass]="{'paddingMob':displayMobile === true}"> 
      <!-- <label>Building No</label>
    </div>
    <div class="text-left fontSTyl"> -->
      {{address.building}}<br>
    </div>
    <div class="fontSTyl padding" [ngClass]="{'paddingMob':displayMobile === true}"> 
      <!-- <label>Street</label>
    </div>
    <div class="text-left fontSTyl"> -->
      {{address.streetAddress}} <br>
    </div>
    <div class="fontSTyl padding" [ngClass]="{'paddingMob':displayMobile === true}">
      <!-- <label>LandMark</label>
    </div>
    <div class="text-left fontSTyl"> -->
      {{address.landmark}} <br>
    </div>
    <div class="fontSTyl padding" [ngClass]="{'paddingMob':displayMobile === true}">
      <!-- <label>City</label>
    </div>
    <div class="text-left fontSTyl"> -->
      {{address.city}}  <br>
    </div>
    <div class="fontSTyl padding" [ngClass]="{'paddingMob':displayMobile === true}">
      <!-- <label>State</label>
    </div>
    <div class="text-left fontSTyl"> -->
     {{address.state}}<br>
    </div>
    <div class="fontSTyl padding" [ngClass]="{'paddingMob':displayMobile === true}">
      <!-- <label>Pincode</label>
    </div>
    <div class="text-left fontSTyl"> -->
      {{address.pincode}}
    </div>
  </div>
  
  <div class="col-md-12" *ngIf="address.editAddress">
    <form [formGroup]="addressForm" novalidate (window:resize)="getWindowSize()">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Name" maxlength="20" [value]="address.name || null" formControlName="name" 
          required #name>
          
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Mobile number" [value]="address.mobileNumber || null"
            formControlName="mobileNumber" pattern="^[1-9]\\d{9}$" maxlength="10" required>
            <mat-error *ngIf="addressForm.controls['mobileNumber'].errors?.pattern">Should be of 10 digits & it cannot contain alphabets</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="building" [value]="address.building" formControlName="building" 
            required>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="streetAddress" [value]="address.streetAddress" #streetAddress
            formControlName="streetAddress" required>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="landmark" [value]="address.landmark" formControlName="landmark" #landmark
            required>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="City" [value]="address.city" formControlName="city" #city required>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="State" [value]="address.state" formControlName="state" #state required>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Pincode" [value]="address.pincode" formControlName="pincode" #pincode required>
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-12  border-top">
      <div class="row bgRowedit">

        <div class="col-md-6 actionClass"
          (click)="updateAddress(address, name, mobileNumber, building, streetAddress, landmark, city, state, pincode )">
          <button class="button buttonFont">
            Update
          </button>
        </div>

        <div class="col-md-6 actionClass" (click)="cancelAddress(address)">
          <button class="button buttonFont">
            Cancel
          </button>
        </div>

      </div>
    </div>
  </form>
  </div>
  <div class="col-md-12 border-top" *ngIf="!address.editAddress">
    <div class="row">
      <div class="col-md-6 col-6 actionClass" (click)="editAddress(address)">
        <button class="buttn buttonFont">
           <!-- <mat-icon>create</mat-icon> -->
           Edit
          </button>
      </div>
      <div class="col-md-6 col-6 actionClass" (click)="deleteAddress(address._id)">
        <button class="buttn buttonFont"> Remove </button>
      </div>
    </div>
  </div>
  
</div>
</div>
</div>
<div class="row">
  <div class="col-md-12 col-12">
      <div class="add">
        <span class="button btnn " (click)="addAddress()">
          <p>ADD ADDRESS</p>
        </span>
      </div>
    </div>
</div>

