<div *ngFor="let val of awbDetails">
  
  <p class="pull-right">Order Id: <span class="colr"> {{orderId}} </span></p>
  <p>AWB No: <span class="colr"> {{val.AwbNo}} </span></p>
  <p>Status: {{val.Status}}</p>

  <h6> Tracking Movement</h6>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Activities</th>
        <th>Remarks</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of val.TrackingMovement">
        <td>{{data.Date}}</td>
        <td>{{data.Date}}</td>
        <td>{{data.Activities}}</td>
        <td>{{data.RcRemarks}}</td>
      </tr>
    </tbody>
  </table>
</div>