.product-grid{
  background-color: #fff;
  font-family: 'Alatsi', sans-serif;
  transition: all 0.5s;
}
.product-grid:hover{ box-shadow: 0 3px 22px rgba(0,0,0,0.07); }
.product-grid .product-image{
  position: relative;
  overflow: hidden;
}
.product-grid .product-image a.image{ display: block; }
.product-grid .product-image img{
  width: 100%;
  height: auto;
  transition: all 0.3s;
}
.product-grid:hover .product-image img{ filter: hue-rotate(-5deg); }
.product-grid .product-sale-label{
  color: #fff;
  background: #cc2121;
  font-size: 13px;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
  padding: 0 10px;
  border-radius: 3px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.product-grid .social{
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 45px;
  left: 10px;
  transition: all 0.4s ease;
}
.product-grid .social li a{
  color: #444;
  background: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 35px;
  width: 35px;
  height: 35px;
  margin: 0 0 10px;
  border-radius: 50px;
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.08);
  display: block;
  transform: rotate(180deg) scale(0);
  position: relative;
  z-index: 1;
  transition: all 0.3s ease;
}
.product-grid .social li a:hover{
  color: #fff;
  background-color: #cc2121;
}
.product-grid:hover .social li a{ transform: rotate(0) scale(1); }
.product-grid .social li a:before,
.product-grid .social li a:after{
  content: attr(data-tip);
  color: #fff;
  background-color:#4c4c4c;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.3px;
  padding: 0 10px 2px;
  white-space: nowrap;
  transform: translateY(-50%);
  visibility: hidden;
  position: absolute;
  left: 40px;
  top: 50%;
}
.product-grid .social li a:after{
  content: '';
  height:15px;
  width:15px;
  padding: 0;
  transform: translateY(-50%) rotate(45deg);
  z-index:-1;
}
.product-grid .social li a:hover:before,
.product-grid .social li a:hover:after {
  visibility: visible;
}
.product-grid .add-to-cart{
  color: #323232;
  background: #fff;
  font-size: 14px;
  font-weight:500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  width: 130px;
  padding: 9px 10px;
  border-radius: 50px;
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.08);
  opacity: 0;
  transform: translateX(-50%) scaleY(0);
  position: absolute;
  bottom: 15px;
  left: 50%;
  transition: all 0.3s ease;
}
.product-grid .add-to-cart:hover{
  color: #fff;
  background: #cc2121;
}
.product-grid:hover .add-to-cart{
  box-shadow: 0 0 10px #555;
  opacity: 1;
  transform: translateX(-50%) scaleY(1);
}
.product-grid .product-content{
  padding: 12px 0;
  position: relative;
}
.product-grid .category{
  color: #929292;
  font-size: 14px;
  text-transform: capitalize;
  width: calc(100% - 90px);
  margin-bottom: 7px;
  display: inline-block;
  transition: all 0.3s ease;
}
.product-grid .rating{
  color: #f6bb43;
  font-size: 13px;
  width: 87px;
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
}
.product-grid .title{
  font-size: 17px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0 0 5px;
}
.product-grid .title a{
  color: #333;
  transition: all 0.5s ease;
}
.product-grid .title a:hover{ color: #cc2121; }
.product-grid .price{
  color: #333;
  font-size: 16px;
}
.product-grid .price span{
  color: #999;
  font-size: 15px;
  text-decoration: line-through;
  display: inline-block;
  margin: 0 3px 0 0;
}
@media screen and (max-width:990px){
  .product-grid{ margin: 0 0 30px; }
}

.wishlistAdd{
  color: #fe0000 !important; 
  outline: transparent !important;
}

@media only screen and (max-width:990px){
  .product-grid{ margin: 0 0 40px; }

  .product-grid .title {
      font-size: 12px;
      margin: 0 0 5px;
  }
  .new3 h3{
      font-size: 14px;
  }
  .product-grid .product-content{
      padding: 5px 4px;
      text-align: center;
  }
  .product-grid .price {
      color: #303030;
      font-size: 11px;
  }
  .row h3{
      font-size: 22px  !important;
  }
  hr.new3 {
      border: 1px solid #505980;
      width: 20%;
      margin-top: auto;
    }

.header-text {
  margin-bottom: 10px;
}
}
