<div class="container-fluid" *ngFor="let prod of productValue">
  <h3 class="text-center">{{prod.title}}</h3>
    <app-carousel-item>
      <div appCarouselItem class="col-md-3 col-sm-6 col-6 pr-2 pl-2" *ngFor="let img of prod.productDetails">
          <div class="product-grid">
              <div class="product-image">
                  <a (click)="getView(img.productAll._id, img.productAll.superCategoryId, img.productAll.subCategoryId)" class="image">
                      <img class="pic-1" [src]="img.productAll?.productImage[0].productImageName">
                  </a>
                  <ul class="social">
                    <li><a (click)="checkLoginUser(img.productAll?._id)" data-tip="Add To Wishlist"><i class="fa fa-heart" [ngClass]="{'wishlistAdd':img.productAll?.wishList}"></i></a></li>
                 </ul>
                 <a class="add-to-cart" (click)="skuProductAddToCart(img.productAll)">add to cart</a>
              </div>
              <div class="product-content">
                
                  <h3 class="title"><a title="{{img?.productAll?.productName}}" (click)="getView(img.productAll._id, img.productAll.superCategoryId, img.productAll.subCategoryId)" >
                    {{img?.productAll?.productName.length > 24 ? img?.productAll?.productName.substr(0,24) + '...': img?.productAll?.productName}}

                  </a></h3>
                  <div class="price"><span>{{img?.productAll?.mrp | currency : "INR"}}</span> {{img?.productAll?.sp | currency : "INR"}}</div>
              </div>
          </div>
      </div>
    </app-carousel-item>
</div>

<!-- 
<div class="container" *ngFor="let prod of productValue">
  <h1 >{{prod.title}}</h1>
  <br>
  <div class="row">
    <app-carousel-item>
      <div appCarouselItem class="col-md-3 col-sm-6 col-6 pr-2 pl-2" *ngFor="let img of prod.productDetails">
          <div class="product-grid">
              <div class="product-image">
                  <a (click)="getView(img.productAll._id, img.productAll.superCategoryId, img.productAll.subCategoryId)" class="image">
                      <img class="pic-1" [src]="img.productAll?.productImage[0].productImageName">
                      <img class="pic-2" [src]="img.productAll?.productImage[1].productImageName">
                  </a>
              
                  <ul class="social">
                      <li><a (click)="checkLoginUser(img.productAll?._id)" data-tip="Add to Wishlist" ><i class="fa fa-heart" [ngClass]="{'wishlistAdd':img.productAll?.wishList}"></i></a></li>
                  </ul>
                  <a  class="add-to-cart">add to cart</a>
              </div>
              <div class="product-content">
                  <h3 class="title"><a title="{{img?.productAll?.productName}}" (click)="getView(img.productAll._id, img.productAll.superCategoryId, img.productAll.subCategoryId)" class="image">
                    {{img?.productAll?.productName.length > 24 ? img?.productAll?.productName.substr(0,24) + '...': img?.productAll?.productName}}

                  </a></h3>
                  <div class="price"><span>{{img?.productAll?.mrp | currency : "INR"}}</span> {{img?.productAll?.sp | currency : "INR"}}</div>
              </div>
          </div>
      </div>
    </app-carousel-item>
  </div>
</div> -->

<!-- 
<div class="container" *ngFor="let prod of productValue">
  <h1 >{{prod.title}}</h1>
  <br>
  <div class="row">
    <app-carousel-item>
      <div appCarouselItem class="col-md-3 col-sm-6 col-6 pr-2 pl-2" *ngFor="let img of prod.productDetails">
          <div class="product-grid">
              <div class="product-image">
                  <a  (click)="getView(img.productAll._id, img.productAll.superCategoryId, img.productAll.subCategoryId)" class="image">
                      <img class="pic-1" [src]="img.productAll?.productImage[0].productImageName">
                  </a>
              </div>
              <div class="product-content">
                  <h3 class="title"><a title="{{img?.productAll?.productName}}" (click)="getProduct(product)">
                    {{img?.productAll?.productName.length > 24 ? img?.productAll?.productName.substr(0,24) + '...': img?.productAll?.productName}}


                  </a></h3>
                  <div class="price"><span>{{img?.productAll?.mrp | currency : "INR"}}</span> {{img?.productAll?.sp | currency : "INR"}}</div>
                  <div class="product-button-group">
                      <a class="add-to-cart" (click)="getView(img.productAll._id, img.productAll?.superCategoryId, img.productAll.subCategoryId)"><i class="fa fa-shopping-cart"></i>ADD TO CART</a>
                      <a class="product-like-icon" (click)="checkLoginUser(img.productAll?._id)">
                        <i class="fa fa-heart"[ngClass]="{'wishlistAdd':img.productAll?.wishList}"></i></a>
                  </div>
              </div>
          </div>
      </div>
    </app-carousel-item>
  </div>
</div>
 -->


<!-- 

<div class="container gridainr topSet" [ngClass]="{'gridainrMob':showMobileView}"
  *ngFor="let prod of productValue" (window:resize)="getWindowSize()">
  <h1 class="mensColect">{{prod.title}}</h1>
  <p class="mensCrip tex-alin" (click)="getViewAll()">View all</p>
  <app-carousel-item>
    <div appCarouselItem class="col-md-3 pr-2 pl-2 col-6" *ngFor="let img of prod.productDetails">
      <div class="productBox" appHover>
        <div class="productImg">
          <div style="width: 100%; padding-top: 130%; background: rgb(247, 246, 249); cursor: pointer;">
            <img [src]="img.productAll?.productImage[0].productImageName" (click)="getView(img.productAll._id, img.productAll.superCategoryId, img.productAll.subCategoryId)">
          </div>
          <h1 class="iconoUtline">
              <button mat-mini-fab style="background: #888; color: #fff;"  (click)="checkLoginUser(img)" [ngClass]="{'changeMatIconColor': img.wishList, 'wishProductMob':showMobileView===true}">
              <span>
                 <mat-icon>favorite_outline</mat-icon>
                 </span>
              </button>
            </h1>
            <h1 class="iconoUtlines">
                <button mat-mini-fab style="background: #888; color: #fff;"  (click)="addToBag(img.productId)">
                   <mat-icon>shopping_cart</mat-icon>
                </button>
              </h1>


          <div *ngFor="let prodVal of productStore">
            <div class="productTesting" *ngIf="prodVal._id === img.productId" [class.displayNone]="img.display !== true"
              [class.displayBlock]="img.display === true">
              <div (click)="closeToBag(img.productId)" class="sizeHeader  pull-right">
                <mat-icon>clear</mat-icon>
              </div>
              <div class="sizeTesting">
                <button class="oneSize" [disabled]="size.sizeQuantity === 0"
                  (click)="skuProductAddToCart(prodVal, size)" *ngFor="let size of prodVal.productVariant">
                  <span>{{size.sizeName}}</span>
                </button>
              </div>
            </div>
          </div>
        
          <div class="productActionRight" (click)="addToBag(img.productId)" [style.display]="'none'"
            [ngClass]="{'wishProductMob':showMobileView===true}">
            <span class="addtoProduct" [ngClass]="{'wishProductMob':showMobileView===true}"><span
                class="alignedRelative">Add To Cart</span></span>
          </div>
        </div>
        <div class="productDetails">
           <h5 class="brandTitle">Black People</h5>
          <h3 class="productName">{{img.productName}}</h3>
          <div class="productPriceBox">
         
            <p class="text-center productPrice textShape"><span
                style="font-size: 14px; color: #3B3B3B;font-family: 'sans-serif';">&#x20B9;</span><span
                style="font-family: 'Montserrat-SemiBold'"> {{img.price | number: '0.0-0'}} </span>
              <span [ngClass]="img.discountStyle" style="font-family: 'sans-serif'">&#x20B9; </span><span
                class="oldPrice" [ngClass]="img.discountStyle">{{img.oldPrice}}</span>
              <span [hidden]="img.discount === 0 || img.discount === undefined" class="pull-right offerText"
                style="color: #666666">{{img.discount}} off</span></p>
          </div>
        </div>
      </div>
    </div>
  </app-carousel-item>
</div> -->