<div class="container" [formGroup]="wishForm" *ngFor="let productAll of data?.wishListProduct">
   <!-- <div class="row">
    
    <div class="col-md-1 col-1"> -->
        <button class="btn pull-right" (click)="close()" color="accent">
          <mat-icon>clear</mat-icon>
        </button>
    <!-- </div>
  </div> -->
    <div class="row" *ngFor="let col of productAll.child; let i = index" [hidden]="!col.headChild">
      <div class="col-md-6">
        <div class="form-group">
          <img width="150" [src]="col.productImage[0].productImageName">
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <div class="productDetails">
              <h5 class="productName ">{{col.productName}}</h5>
              <div class="productPriceBox">
                <!-- <h6 class="productPrice"><span>&#x20B9;</span>{{product.price}}</h6> -->
                <p class="textShape"><span
                    style="padding-left: 10px; font-size: 17px; color: #3B3B3B;font-family: 'Montserrat-Regular';">{{col.price  | localeCurrency  }}</span>
                  <!-- <span [ngClass]="col.discountStyle"
                    style="font-family: 'Montserrat-Regular'">{{col.oldPrice  | converter | localeCurrency }}</span>
                  <span [hidden]="col.discount === 0 || col.discount === undefined" class="pull-right offerText"
                    style="color: #666666; font-family: 'Montserrat-Regular'">{{col.discount}} off</span></p> -->
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <p>Color</p>
            <div class="colorBox clearfix">
              <div class="colorbttn colorVariantBlock p-1" *ngFor="let col of productAll.child; let i = index"
                (click)="selectedColor(productAll, col)" [ngClass]="{'backgroundColorImage': col.headChild === true}">
                <img class="img-fluid" [src]="productAll.child[i].productImage[0].productImageName" 
                alt="Snow Green">
              </div>
            </div>
          </div>
          <div class="col-md-12 p-3">
              <div class="productAction text-center">
                <button class=" addToCartButton" (click)="moveToBag(productAll._id, col)">Add To Cart</button>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>