.addToCartButton{
  outline: none;
  /* width: 65%; */
  height: 45px;
  border-radius: 5px;
  font-size: 15px;
  /* background-color:#A40C33; */
  text-transform: uppercase;
  /* font-family: 'Montserrat-Regular'; */
  color: #ffffff;
  letter-spacing: 2px;
}

  .colorBox {
    margin-top: 10px;
}
.colorVariantBlock {
    /* -ms-transform: rotate(140deg); */
    /* border-radius: 50px; */
    cursor: pointer;
    height: 50px;
    overflow: hidden;
    /* transform: rotate(140deg); */
    width: 50px;
}
.colorbttn {
    border: 1px solid #ebebeb;
    float: left;
    margin: 0 15px 15px 0;
}

.backgroundColorImage {
  cursor: pointer;
  height: 50px;
  overflow: hidden;
  /* transform: rotate(140deg); */
  width: 50px;
  border: 1px solid #ff4081;
}
.btn{
  padding: 0px;
}
.btn:focus{
  outline: 0 !important;
}
.mat-stroked-button{
  font-family: 'Quicksand', sans-serif;
}