<div *ngIf="shopModel.length === 0" style="margin-top: 50px">
  <mat-card class="text-center">
    <h1 style="font-size:20px;">Your cart is empty</h1>
    <button class="continueShopping" routerLink="/home/welcome">Continue To Shopping</button>
  </mat-card>
</div>

<div class="container "  (window:resize)="getWindowSize()">
  <div *ngIf="shopModel.length !== 0">
    <div class="row">

      <div class="col-md-7 mt-1 bagBorder" style="height: fit-content">
        <div class="myBag mb-3 mt-2">
          <span> <b>Cart Details</b></span>

        </div>
        <div *ngFor="let shop of shopModel" class="shopBorder">
          <div class="row mb-1 mt-2 productline" *ngFor="let cart of shop?.cart_product; let i = index">

            <!-- <div class="col-md-3">
                  <img class="productSize" 
                  [src]="productImageUrl +  cart._id +'/'+  cart.productImageName[0]">
                </div> -->
            <div class="col-md-3 col-6">
              <span *ngFor="let name of cart?.child">
                <img class="img-fluid" [hidden]="shop.items.INTsku !== name.INTsku"
                  [src]="name?.productImage[0]?.productImageName">
              </span>
              
            </div>
            <div class="col-md-9 col-6 float-left">
              <div class="row">
                <div class="col-md-9 productName" *ngFor="let name of cart?.child">
                    <b>{{name.productName}}</b> <br>
                  <!-- <small class="item-Size-Qty">Size:</small>
                  <span class="sizeFont" >
                   
                    <b [hidden]="shop.items.INTsku !== name.INTsku" *ngIf="name.sizeVariant != 'None'"> {{ name.sizeVariant }}</b>

                  </span> -->
                  <br>
                  <small class="item-Size-Qty">Qty: </small>
                  <span class="sizeFont">
                    <b> {{shop.items.qty}}</b>

                  </span><br>
                  <label *ngIf="name.serviceActive">{{name.serviceType}} {{name.serviceAmount * ( 100 - name.serviceDiscount)/100 | localeCurrency}}</label>
                </div>
                <div class="col-md-3 float-right price">
                  <h6><span *ngFor="let name of cart?.child">
                      <b [hidden]="shop.items.INTsku !== name.INTsku">
                          <!-- <span class="priceText fullPrice" *ngIf="name.discount !==0">{{name.totalPrice | localeCurrency}}</span> -->
                        <p><span [ngClass]="cart.displayClass">{{name.price * shop.items.qty | localeCurrency  }}</span><br>
                          <!-- <span class="font" *ngIf="name.discount !==0">( You save {{name.savePrice | converter | localeCurrency}})</span></p> -->
                        <!--   <span [hidden]="name.discount === 0 || name.discount === undefined"
                            style="padding-left: 5px">{{name.discount * shop.items.qty | converter | localeCurrency }}</span>
                          <span [hidden]="name.discount !== 0 && name.discount !== undefined"
                            style="padding-left: 5px">{{name.price * shop.items.qty | converter | localeCurrency }}</span> -->
                        
                      </b>
                    </span>
                  </h6>
                </div>
              </div>
              <!--    <div class="row">
                    <div class="col-md-9 productName">
                      <span><b>{{cart.productName}}</b></span>
                    </div>
                    <div class="col-md-3 float-right price">
                      <h6><span *ngFor="let name of cart?.child">
                          <b [hidden]="shop.items.INTsku !== name.INTsku">
                            <p><span [ngClass]="cart.displayClass"style="font-family: 'Montserrat-Regular'"><span style="font-family: 'sans-serif'">&#x20B9;</span >{{name.sizePrice * shop.items.qty }}</span>
                             <span [hidden]="name.discount === 0 || name.discount === undefined" style="padding-left: 5px"><span style="font-family: 'sans-serif'">&#x20B9;</span>{{name.discount * shop.items.qty | number: '0.0-0'}}</span>
                             <span [hidden]="name.discount !== 0 && name.discount !== undefined" style="padding-left: 5px"><span style="font-family: 'sans-serif'">&#x20B9;</span>{{name.sizePrice * shop.items.qty | number: '0.0-0'}}</span>
                             </p>
                           </b>
                           
                        </span>
                      </h6>
                    </div>
                    <div class="col-md-12 shapeHeight">
                       <h6><span *ngFor="let name of cart?.child">
                           <b [hidden]="shop.items.INTsku !== name.INTsku">
                             <p><span [ngClass]="cart.displayClass"style="font-family: 'Montserrat-Regular'"><span style="font-family: 'sans-serif'">&#x20B9;</span >{{name.sizePrice}}</span>
                              <span [hidden]="name.discount === 0 || name.discount === undefined" style="padding-left: 5px;font-family: 'Montserrat-Regular'"><span style="font-family: 'sans-serif'">&#x20B9;</span>{{name.discount | number: '0.0-0'}}</span>
                              <span [hidden]="name.discount !== 0 && name.discount !== undefined" style="padding-left: 5px;font-family: 'Montserrat-Regular'"><span style="font-family: 'sans-serif'">&#x20B9;</span>{{name.sizePrice | number: '0.0-0'}}</span>
                              </p>
                            </b>
                            
                         </span>
                       </h6>
                    </div>
                  </div> -->

              <!-- <div class="row mt-1">
                <div class="col-md-2">
                  <small class="item-Size-Qty">Size:</small>
                  <span class="sizeFont" *ngFor="let name of cart?.child">
                    <b [hidden]="shop.items.INTsku !== name.INTsku">{{ name.sizeVariant }}</b>
                  </span>
                </div>
                <div class="col-md-10">
                  <small class="item-Size-Qty">Qty: </small>
                  <span class="sizeFont">
                    <b> {{shop.items.qty}}</b>
                  </span>

                </div>

              </div> -->

              <!--  <div class="row actionBtn topSpace">
                     <div class="col-md-2 text-center pt-1">
                       <b class="classAction text-center" (click)="removeCart(shop.items._id, shop.items.INTsku)"
                       style="cursor: pointer; color:gray; ">REMOVE</b>
                     </div>
                     <div class="col-md-10 pt-1 wishlistBtnBorder">
                         <b class="classAction text-center" (click)="checkLoginUser(cart._id, shop.items.INTsku)"
                         style="cursor: pointer; color:gray; ">MOVE TO WISHLIST</b>
                       </div>
                   </div> -->

            </div>

          </div>
        </div>
      </div>
      <div class="col-md-5">

        <div class="col-md-12 ">
          <!--  <div>
                ORDER SUMMARY
              </div> -->
          <div>
            <app-checkout-summery [totalItems]="totalItems"  [totalAmount]="totalAmount"
            [couponValue]="couponValue" [couponType]="couponType"
            [subTotal]="subTotal"></app-checkout-summery>
            <!-- <app-price-summary [totalItems]="totalItems" 
            [subTotal]="subTotal"></app-price-summary> -->
          </div>
        </div>
        <!--           <div class="col-md-12 mt-2 pb-5 text-center">
   
              <span (click)="placeOrder()" class="addToCartButton">
                <h4 style="font-size:14px;letter-spacing: 0.1em;" class="mt-1">PLACE ORDER</h4>
              </span>
            </div> -->
        <div class="pt-5 arrangeShape" *ngIf="!displayMobile">
          <div class="deliveryTitle pb-2 sizeFont"><strong>Delivery Address</strong></div>

          <div class="sizeFont">{{addressSelected?.name }}</div>
          <div class="sizeFont">{{addressSelected?.building }}</div>
          <div class="sizeFont">{{addressSelected?.streetAddress }}</div>
          <div class="sizeFont">{{addressSelected?.landmark }}</div>
          <div class="sizeFont">{{addressSelected?.city }}</div>
          <div class="sizeFont">{{addressSelected?.state }}</div>
          <div class="sizeFont"><span>Mobile: </span>{{addressSelected?.mobileNumber }}</div>

        </div>
      </div>
    </div>
  </div>
</div>