::ng-deep .c5{
    margin-top: 20px;
    width: 300px;
    height: auto;
   margin:auto;
  }
  .inq{
      padding: 5px;
      border: 1px solid black;
      border-radius: 10px;
    font-size: 20px; 
    margin-left: 20px;
    width: fit-content;
    cursor: pointer;
}