<div class="container" (window:resize)="getWindowSize()">
<!-- <iframe class="embed-responsive-item vid" [ngClass]="{'vidM':showMobileView === true}" src="https://www.youtube.com/embed/bpxiohHIk-I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
<!-- <iframe class="embed-responsive-item vid" [ngClass]="{'vidM':showMobileView === true}" src="https://www.youtube.com/embed/tX5fgdOUnGU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
<iframe class="embed-responsive-item vid" [ngClass]="{'vidM':showMobileView === true}" src="https://www.youtube.com/embed/y5xR5ovnBIk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>