<!-- <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
  </nav>
  
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Library</li>
    </ol>
  </nav>
  
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Library</a></li>
      <li class="breadcrumb-item active" aria-current="page">Data</li>
    </ol>
  </nav> -->

<!-- 
  <p *ngIf="!showMobileView1">
    <a [routerLink]="['/home/welcome']">HOME <i class="fa fa-caret-right"></i> </a>
    <a (click)="supCatLink()" *ngIf="superCatName.length > 0">  {{ superCatName | uppercase }} </a>
    <a *ngIf="subCatName == null"> <i class="fa fa-caret-right"></i> {{productName | uppercase}}</a>
  </p> -->

  <div class="container-fluid textHeader" *ngFor="let super of commonCategory">
    <div class="row" *ngIf="super?.superCatData">
      <div class="col-md-12">
          <p class="headerText" [ngClass]="{'headerTextMob':showMobileView === true}">{{super?.categoryName}}</p>
          <div  class="headerDescription">
            
           <!-- <p> {{super?.categoryDescription}}</p> -->
          </div>
      </div>
    </div>
    <div class="row" *ngIf="super?.mainCatData">
      <div class="col-md-12" >
        <div class="bannerTop" >
            <p class="headerText"> <a routerLink="/product/maincategorypage/{{super?._id}}">{{super?.categoryName}} </a> > {{super?.mainCategory.mainCategoryName}}</p>
            <!-- <div  class="headerDescription">
              {{super?.categoryDescription}}
            </div> -->
        </div>
      </div>
    </div>
    <div class="row" [hidden]="!super?.subCatData" >
      <div class="col-md-12">
        <div class="bannerTop" >
            <p class="headerText"> <a routerLink="/product/maincategorypage/{{super?._id}}">{{super?.categoryName}} </a> > <a routerLink="/product/supercategory/super._id/maincategory/{{super?.mainCategory._id}}"> {{super?.mainCategory.mainCategoryName}} </a> > {{super?.mainCategory?.subCategory?.subCategoryName}}</p>
            <!-- <p  class="headerDescription">
              {{sub?.subCategoryDescription}}
            </p> -->
        </div>
      </div>
    </div>
    
    <!-- <div class="row" [hidden]="!super?.brandCatData" *ngFor="let brand of brandModel">
      <div class="col-md-12" >
        
        <div class="bannerTop" [hidden]="super.brandId !== brand._id">
            <h1 class="headerText">{{brand?.brandName}}</h1>
            <p  class="headerDescription">
              {{brand?.brandDescription}}
            </p>
        </div>
      </div>
    </div> -->
    <!-- <div class="row" [hidden]="!super?.collectionCatData" *ngFor="let tag of tagData">
        <div class="col-md-12" *ngFor="let dec of tag.tagValue">
          
          <div class="bannerTop" [hidden]="super.collectionId !== tag._id">
              <h1 class="headerText">{{tag?.tagName}}</h1>
              <p  class="headerDescription" >
                {{dec?.tagValueName}}
              </p>
          </div>
        </div>
      </div> -->
      
  </div>
  <!-- <div class="container-fluid textHeader" [hidden]="!promotionData?.promotion && !recentProduct?.recent">
      <div class="row"  >
          <div class="col-md-12" [hidden]="!promotionData?.promotion">
            
            <div class="bannerTop" >
                <h1 class="headerText">{{promotionData?.title}}</h1>
                <p  class="headerDescription" >
                  {{promotionData?.description}}
                </p>
            </div>
          </div>
          <div class="col-md-12" [hidden]="!recentProduct?.recent">
            <div class="bannerTop" >
                <h1 class="headerText">{{recentProduct?.title}}</h1>
            </div>
          </div>
        </div>
  </div> -->