<div class="form-group">
  <!--   <div class="sizeGuide pull-right">  
      <a (click)="getPopUp()">Size Guide</a>
     </div> -->
  <!-- <div class="sizeText ">
       Select size
     </div> -->
  <!-- <ul class="filterSub">
    <li class="form-check pt-1 pointerClass" *ngFor="let col of sizeColor">
      <label class="filterAll" (click)="selectedColor(col._id, productModel)">
        <small class="colour-colorDisplay" [ngStyle]="{'background-color': col.colorCode}"></small>
        {{col.colorName}}
      </label>
    </li>
  </ul> -->
  <!--  <div class="colorBox clearfix"><div>
    <div class="colorbttn colorVariantBlock" 
    [ngClass]="{ 'borderSelectedColor': selectedColorMain === col._id }"
    (click)="selectedColor(col._id, productModel)"
     *ngFor="let col of sizeColor">
    <span >
    <div style="height: 25px" [ngStyle]="{'background-color': col.colorCode}">
    </div></span>
  </div>
  </div>
</div>
  <div class="sizeList">
    <button mat-stroked-button type="button" (click)="sizeSelect(size)"
     [hidden]="size.headChild"
     [ngClass]="{ 'itemSelected': size === selectedItem, 
     'sizeItem': size !== selectedItem,
      'itemEmptyStock': size.quantity === 0 }" *ngFor="let size of productModel?.child"
      [disabled]="size.quantity === 0" class=" btn btn-default">{{size.sizeVariant}}</button>
  </div>
  <div class="text-danger" [hidden]="!selectedSize">
    <p>Please select a size</p>
  </div>
</div> -->

  <div class="colorbttn colorVariantBlock" (click)="selectedColor(col._id, productModel)" *ngFor="let col of color">
    <div *ngFor="let size of productModel?.child">{{col | json}}</div>
  </div>
</div>