.col-md-12{
  padding: 0;
}
.container-fluid {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  /* margin-top: 50px; */
  margin-right: auto;
  margin-left: auto;
}
/* .img-fluid{
 width: 100%;
 height:800px;
} */
.slider {
  overflow: hidden;
  position: relative;
  background: #e6e6e6;
  display: block;
  width: 100%;
  top: -100px;
  padding-top: 66.04%

}
/* .slider {
  width: auto;
  height: auto;
  overflow: hidden;
  position: relative;
  background: #e6e6e6;
  border: 20px solid #FFF;
  margin-top: 20px;
}
 */
/* .gridCtrl{
  padding:45px 0px 0px 0px;
} */
.slide {
  position: absolute;
  top: 0px;
  left: 0;
}

.arrow {
  position: absolute;
  z-index: 1002;
  display: block;
  top: 50%;
  margin-top: -35px;
  width: 36px;
  height: 71px;
  outline: none !important;
  cursor: pointer;
  background: url('../../../assets/blank.gif') no-repeat;
  border: none;
}

.arrow.prev {
  opacity: 0.2;
  left: 20px;
  background-image: url('../../../assets/paddle_prev_fff.jpg');
  transition: 0.2s linear all;
}
.arrow.next {
  opacity: 0.2;
  right: 20px;
  background-image: url('../../../assets/paddle_next_fff.jpg');

  transition: 0.2s linear all;
}

.arrow.prev:hover {
  opacity: 1;
  background-image: url('../../../assets/paddle_prev_999.jpg');
}

.arrow.next:hover {
  opacity: 1;
  background-image: url('../../../assets/paddle_next_999.jpg');

}



/*---------------------------------------------------------
NAV
---------------------------------------------------------*/

.nav {
  text-align: center;
  display: block;
  position: absolute;
  z-index: 1002;
  left: 0;
  bottom: -4px;
  right: 0;
  height: 48px;
}

.nonDraggableImage{
  -webkit-user-drag: none;
}

.nav .wrapper {
  margin: 0 auto;
  width: 100%;
  padding: 1em 0 .8em;
}

.nav ul {
  margin: 0;
  width: 100%;
}

.nav .dot, .nav .dot span {
  display: inline-block;
  zoom: 1;
  cursor: pointer;
}

.dots .dot {
  position: relative;
  margin: 0 8px;
  width: 12px;
  height: 12px;
}

.dots .dot span {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 10px;
  height: 10px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: #FFF;
  border: 1px solid transparent;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: background-color 0.25s, border-color 0.25s;
  -moz-transition: background-color 0.25s, border-color 0.25s;
  transition: background-color 0.25s, border-color 0.25s;
}

.dots .dot span.active {
  border-color: #FFF;
  
  background-color: transparent;
}
@media screen and (max-width:900px){
 /* .gridCtrl{
  padding: 70px 0px 0px 0px;

}  */
}