<div class="col-md-12 col-lg-12 col-xl-12 col-12 gridCtrl" >
  <div class="container-fluid slider">
    <div [@slideAnimation]="currentIndex" >
      <ng-template ngFor [ngForOf]="bannerModel" let-slide let-i="index">
        <a href="{{slide.link}}" >
          <img class="slide slide-animation nonDraggableImage img-fluid"
          *ngIf="isCurrentSlideIndex(i)"
          (swiperight)="nextSlide()" (swipeleft)="prevSlide()"
          [src]="slide.bannerImageName">
        </a>
      </ng-template>
    </div>
  
    <!-- <button class="arrow prev" (click)="nextSlide()"></button>
    <button class="arrow next" (click)="prevSlide()"></button> -->
    <!-- <nav class="nav">
      <div class="wrapper">
        <ul class="dots">
          <li class="dot" *ngFor="let slide of bannerModel; let i = index;">
            <span [ngClass]="{'active':isCurrentSlideIndex(i)}"
               (click)="setCurrentSlideIndex(i);"></span></li>
        </ul>
      </div>
    </nav> -->
  </div>
  </div>
  
  <!-- 
  <div class="row" (appSwipe)="swiper()">           // old code
    <a>
      <div class="col-md-12 col-lg-12 col-xl-12 col-12 gridCtrl" [ngClass]="{'gridCtrlMob':showMobileView}">
        <div class="slider imgages" style="overflow: hidden;">
          <div [@slideAnimation]="currentIndex">
            <ng-template ngFor [ngForOf]="bannerModel" let-slide let-i="index">
              <a href="{{slide?.link}}">
                <img class=" slide slide-animation nonDraggableImage img-fluid " *ngIf="isCurrentSlideIndex(i)"
                  [src]="slide.bannerImageName">
              </a>
            </ng-template>
          </div>
          <h1 class="fashIons" style="font-family: BebasKai">
            {{bannerModel?.bannerTitle}}
          </h1>
          <h5 class="arriVals" style="font-family: HelveticaNeuelLTStd-Roman">
            {{bannerModel?.bannerSubTitle}}
          </h5>
          <p class="banDesc" style="font-family: Montserrat-RegularCn">
            {{bannerModel?.bannerDescription}}
          </p>
          <div class="buttonPosition" *ngIf="bannerModel?.buttonContent" style="font-family: Montserrat-RegularCn">
            <button class="btnn btn-primary">{{bannerModel?.buttonContent}}</button>
          </div>
        </div>
      </div>
    </a>
  </div> -->