
<div class="container-fluid" (window:resize)="getWindowSize()" >
  <!-- <h1 class="ourCetego gridSpac ">BROWSE OUR CATEGORIES</h1>
  <h5 class="text-center pb-2">Shop all the trendy and fashion collection for men and women's clothing.</h5> -->
 
<div class="row" >
  <div class="col-md-6 col-12" *ngFor="let d of ProductHolder">
    <a routerLink="/product/supercategory/{{ d?._id }}" >
      <div class="image-box" >
    <!--   <img [src]="
              productImageUrl + 
              d._id +
              '/' +
              d.categoryImageName
            " /> -->
            <a style="display: block;width: 100%;padding-top: 100%;position: relative;">
              <img [src]="productImageUrl + d._id +'/' + d.categoryImageName" style="position: absolute; width: 100%; top: 0px;">
            </a>
            <div class="show-off">
            </div>
            <h2 class="categoryBtnCtrl" style="font-family: Montserrat-RegularCn">
                <button class="categoryBtn" mat-stroked-button color="primary">
                  {{ d.categoryName }}
                </button>
                </h2>
          </div>

    </a>
  </div>
  <!-- <div class="col-md-6">
    <div class="row">
      <div class="col-md-6">
        <a routerLink="/product/supercategory/{{ ProductHolder[1]?._id }}">
          <div class="image-box">
          <img [src]="
                      productImageUrl +
                      ProductHolder[1]?._id +
                      '/' +
                      ProductHolder[1]?.categoryImageName
                    " class="img-fluid" />
                    <h2 class="categoryBtnCtrl2" style="font-family: Montserrat-RegularCn">
                        <button class="categoryBtn2" mat-stroked-button color="primary">
                      {{ ProductHolder[1]?.categoryName }}
                      </button>
                    </h2>
                  </div>
        
        </a>
      </div> -->
      <!-- <div class="col-md-6">
        <a routerLink="/product/supercategory/{{ thirdFrame?._id }}">
          <div class="image-box" style="  margin-top:0px !important;">
          <img [src]="
          productImageUrl +
          thirdFrame?._id +
          '/' +
          thirdFrame?.subCategoryImageName
        " class="img-fluid"  />
        <h2 class="categoryBtnCtrl2" style="font-family: Montserrat-RegularCn">
            <button class="categoryBtn2" mat-stroked-button color="primary">
          {{ thirdFrame?.subCategoryName }}
            </button>
        </h2>
      </div> -->
<!--          
          <div class="buttonVal text-center">
          </div> -->
        <!-- </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <a routerLink="/product/supercategory/{{ fourthFrame?._id }}">
          <div class="image-box" style="  margin-top: 40px !important;">
          <img [src]="
          productImageUrl +
          fourthFrame?._id +
          '/' +
          fourthFrame?.subCategoryImageName
        " class="img-fluid" />
        <h2 class="categoryBtnCtrl2" style="font-family: Montserrat-RegularCn">
            <button class="categoryBtn2" mat-stroked-button color="primary">
          {{ fourthFrame?.subCategoryName }}
          </button>
        </h2>
      </div> -->
          
          <!-- <div class="buttonVal text-center">
          </div>
        </a>
      </div>
      <div class="col-md-6">
        <a routerLink="/product/supercategory/{{ fifthFrame?._id }}">
          <div class="image-box" style="  margin-top: 40px !important;">
          <img [src]="
          productImageUrl +
          fifthFrame?._id +
          '/' +
          fifthFrame?.subCategoryImageName
        " class="img-fluid" style="position: relative; top: 50%;"/>
        <h2 class="categoryBtnCtrl2" style="font-family: Montserrat-RegularCn">
            <button class="categoryBtn2" mat-stroked-button color="primary">
          {{ fifthFrame?.subCategoryName }}
          </button>
        </h2>
      </div>
         
          <div class="buttonVal text-center">
          </div>
        </a> -->
      </div>
 
<!-- </div> -->
</div>



<!-- =================================================Mobile-Responsive======================================================================================================= -->
<!-- <div class="container-fluid gridSpaceMob space-fram sfram" (window:resize)="getWindowSize()" *ngIf="showMobileView">
<div class="row">
  <div class="col-md-6 col-12">
    <a routerLink="/product/supercategory/{{ ProductHolder?._id }}">
      <div class="image-box" >
      <img [src]="
              productImageUrl + 
              ProductHolder?._id +
              '/' +
              ProductHolder?.categoryImageName
            " class="img-fluid" />
            <div class="show-off">
            </div>
            <h2 class="categoryBtnCtrl" style="font-family: Montserrat-RegularCn">
                <button class="categoryBtn" mat-stroked-button color="primary">
                  {{ ProductHolder?.categoryName }}
                </button>
                </h2>
          </div>

    </a>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-6">
        <a routerLink="/product/supercategory/{{ secondFrame?._id }}">
          <div class="image-box">
          <img [src]="
                      productImageUrl +
                      secondFrame?._id +
                      '/' +
                      secondFrame?.subCategoryImageName
                    " class="img-fluid" />
                    <h2 class="categoryBtnCtrl2" style="font-family: Montserrat-RegularCn">
                        <button class="categoryBtn2" mat-stroked-button color="primary">
                      {{ secondFrame?.subCategoryName }}
                      </button>
                    </h2>
                  </div>
        
        </a>
      </div>
      <div class="col-md-6">
        <a routerLink="/product/supercategory/{{ thirdFrame?._id }}">
          <div class="image-box" style="  margin-top:0px !important;">
          <img [src]="
          productImageUrl +
          thirdFrame?._id +
          '/' +
          thirdFrame?.subCategoryImageName
        " class="img-fluid"  />
        <h2 class="categoryBtnCtrl2" style="font-family: Montserrat-RegularCn">
            <button class="categoryBtn2" mat-stroked-button color="primary">
          {{ thirdFrame?.subCategoryName }}
            </button>
        </h2>
      </div>
         
          <div class="buttonVal text-center">
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <a routerLink="/product/supercategory/{{ fourthFrame?._id }}">
          <div class="image-box" style="  margin-top: 40px !important;">
          <img [src]="
          productImageUrl +
          fourthFrame?._id +
          '/' +
          fourthFrame?.subCategoryImageName
        " class="img-fluid" />
        <h2 class="categoryBtnCtrl2" style="font-family: Montserrat-RegularCn">
            <button class="categoryBtn2" mat-stroked-button color="primary">
          {{ fourthFrame?.subCategoryName }}
          </button>
        </h2>
      </div>
          
          <div class="buttonVal text-center">
          </div>
        </a>
      </div>
      <div class="col-md-6">
        <a routerLink="/product/supercategory/{{ fifthFrame?._id }}">
          <div class="image-box" style="  margin-top: 40px !important;">
          <img [src]="
          productImageUrl +
          fifthFrame?._id +
          '/' +
          fifthFrame?.subCategoryImageName
        " class="img-fluid" style="position: relative; top: 50%;"/>
        <h2 class="categoryBtnCtrl2" style="font-family: Montserrat-RegularCn">
            <button class="categoryBtn2" mat-stroked-button color="primary">
          {{ fifthFrame?.subCategoryName }}
          </button>
        </h2>
      </div>
         
          <div class="buttonVal text-center">
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
</div> -->