<app-banner></app-banner>
<app-category-content></app-category-content>
<app-small-banner></app-small-banner>
<!-- 
<app-review></app-review>
 -->
<!-- <app-event-banner></app-event-banner> -->
<!-- <br> -->
<!-- <div *ngIf="this.showPromotion1 === true">
    <app-promotion1></app-promotion1>
</div> -->


<!-- <div *ngIf="this.showPromotion2 === true">
    <app-promotion2></app-promotion2>
</div> -->
<app-subscribe></app-subscribe>
<br>
<!-- <app-video></app-video> -->
<!-- <br> -->
<!-- <app-blog></app-blog> -->
<!-- <br> -->
<!-- <app-refer-earn></app-refer-earn> -->
<!-- <br> -->
<!-- <app-strip></app-strip> -->



<!-- <div *ngIf="this.showPromotion3 === true">
<app-promotion3></app-promotion3>
</div>
<div *ngIf="this.showPromotion4 === true">
<app-promotion4></app-promotion4>
</div>
<div *ngIf="this.showPromotion5 === true">
<app-promotion5></app-promotion5>
</div> -->

<!-- <app-instagram></app-instagram> -->

<!-- <app-product></app-product> -->