<div class="container" [formGroup]="wishForm" *ngFor="let productAll of data?.wishListProduct">
 
  <div class="row" *ngIf="productAll.variationType === 'Size'">
    <div class="col-md-12">
      <div class="text-danger" [hidden]="!selectedSize">
        <p>Please select a size</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <img class="img-fluid" [src]="productAll.productImage[0].productImageName">
      </div>
      <!--  <button mat-stroked-button type="button"
        (click)="sizeSelect(size)" 
        [ngClass]="{ 'itemSelected': size === selectedItem, 'sizeItem': size !== selectedItem,
        'itemEmptyStock': size.quantity === 0 }" *ngFor="let size of productAll?.child"
          [disabled]="size.quantity === 0" class=" btn btn-default">{{size.sizeVariant}}</button> -->

    </div>
    <div class="col-md-4 p-3">
      <div class="sizeList" tabindex="1" #foc>
        <div class="selectSize">

          <select [(value)]="data.productIds.INTsku || changeSize" formControlName="seletedSku"
            (change)="selectedWishSize($event.target.value, data)">
            <option [value]="changeSize" [disabled]="true">Change Size</option>
            <option [value]="size.INTsku" *ngFor="let size of productAll?.child">{{size.sizeVariant}}</option>
          </select>
        </div>
      </div>
      <!--  <button mat-stroked-button type="button"
    (click)="sizeSelect(size)" 
    [ngClass]="{ 'itemSelected': size === selectedItem, 'sizeItem': size !== selectedItem,
    'itemEmptyStock': size.quantity === 0 }" *ngFor="let size of productAll?.child"
      [disabled]="size.quantity === 0" class=" btn btn-default">{{size.sizeVariant}}</button> -->

    </div>
    <div class="col-md-4 p-3">
      <div class="productAction text-center">
        <span class="addtoProduct"><span (click)="moveToBag(data.productIds)">Add To Bag</span></span>
      </div>
    </div>
  </div>
</div>