<div class="container gridainr topSet" [ngClass]="{'gridainrMob':showMobileView}"
  *ngFor="let prod of productValue" (window:resize)="getWindowSize()">
  <h1 class="mensColect">{{prod.title}}</h1>
  <p class="mensCrip tex-alin" (click)="getViewAll()">View all</p>
  <app-carousel-item>
    <div appCarouselItem class="col-md-3 pr-2 pl-2 col-6" *ngFor="let img of prod.productDetails">
      <div class="productBox" appHover>
        <div class="productImg">
          <div style="width: 100%; padding-top: 130%; background: rgb(247, 246, 249); cursor: pointer;">
            <img [src]="productImageUrl + img.productId + '/' + img.productImageName" (click)="getView(img.productId)">
          </div>
          <h1 class="iconoUtline">
              <button mat-mini-fab style="background: #888; color: #fff;"  (click)="checkLoginUser(img)" [ngClass]="{'changeMatIconColor': img.wishList, 'wishProductMob':showMobileView===true}">
              <span>
                 <mat-icon>favorite_outline</mat-icon>
                 </span>
              </button>
            </h1>
            <h1 class="iconoUtlines">
                <button mat-mini-fab style="background: #888; color: #fff;"  (click)="addToBag(img.productId)">
                   <mat-icon>shopping_cart</mat-icon>
                </button>
              </h1>


          <div *ngFor="let prodVal of productStore">
            <div class="productTesting" *ngIf="prodVal._id === img.productId" [class.displayNone]="img.display !== true"
              [class.displayBlock]="img.display === true">
              <div (click)="closeToBag(img.productId)" class="sizeHeader  pull-right">
                <mat-icon>clear</mat-icon>
              </div>
              <div class="sizeTesting">
                <button class="oneSize" [disabled]="size.sizeQuantity === 0"
                  (click)="skuProductAddToCart(prodVal, size)" *ngFor="let size of prodVal.productVariant">
                  <span>{{size.sizeName}}</span>
                </button>
              </div>
            </div>
          </div>
          <!--  <div class="productAction"  [ngClass]="{'changeMatIconColor': img.wishList}" 
               [style.display]="'none'"  [style.display]="'block'">
                  <span class="wishProduct" (click)="checkLoginUser(img)"><span
                      class="alignedRelative">Wishlist
                      <mat-icon svgIcon="hearts" [ngClass]="{'changeMatIconColor': prod.wishList}" aria-hidden="false">
                      </mat-icon></span></span>
                  <span class="addtoProduct"><span class="alignedRelative">Add To Bag</span></span>
                </div> -->
     <!--      <div class="productActionLeft" (click)="checkLoginUser(img)"
            [ngClass]="{'changeMatIconColor': img.wishList, 'wishProductMob':showMobileView===true}"
            [style.display]="'none'">
            <span class="wishProduct " [ngClass]="{'wishProductMob':showMobileView===true}"><span
                class="alignedRelative">Wishlist</span></span>
          </div> -->
          <div class="productActionRight" (click)="addToBag(img.productId)" [style.display]="'none'"
            [ngClass]="{'wishProductMob':showMobileView===true}">
            <span class="addtoProduct" [ngClass]="{'wishProductMob':showMobileView===true}"><span
                class="alignedRelative">Add To Cart</span></span>
          </div>
        </div>
        <div class="productDetails">
           <h5 class="brandTitle">Black People</h5>
          <h3 class="productName">{{img.productName}}</h3>
          <div class="productPriceBox">
            <!-- <h6 class="productPrice"><span style="font-family: 'sans-serif'; padding-right: 2px">&#x20B9;</span>{{img.price}}
                  </h6> -->
            <p class="text-center productPrice textShape"><span
                style="font-size: 14px; color: #3B3B3B;font-family: 'sans-serif';">&#x20B9;</span><span
                style="font-family: 'Montserrat-SemiBold'"> {{img.price | number: '0.0-0'}} </span>
              <span [ngClass]="img.discountStyle" style="font-family: 'sans-serif'">&#x20B9; </span><span
                class="oldPrice" [ngClass]="img.discountStyle">{{img.oldPrice}}</span>
              <span [hidden]="img.discount === 0 || img.discount === undefined" class="pull-right offerText"
                style="color: #666666">{{img.discount}} off</span></p>
          </div>
        </div>
      </div>
    </div>
  </app-carousel-item>
</div>