<div class="row">
 
  <div class="col-md-2">
    <div class="form-group">
      <label ><h4>Customer Review</h4></label>
      <hr>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group text-right">
              <label><h5>Total Review</h5></label>
          </div>
        </div>
        <div class="col-md-8">
          <div class="form-group text-left">
              <fieldset class="rating">
                  <input type="radio"  [checked]="totalRating===5" />
                  <label title="Rocks!" >5 stars</label>
                
                  <input type="radio"  [checked]="totalRating===4" />
                  <label title="Pretty good" >4 stars</label>
                
                  <input type="radio"  [checked]="totalRating===3" />
                  <label title="Ok" >3 stars</label>
                
                  <input type="radio"  [checked]="totalRating===2" />
                  <label title=" bad" >2 stars</label>
                
                  <input type="radio"  [checked]="totalRating===1" />
                  <label title="Very bad" >1 star</label>
                </fieldset>
          </div>
        </div>
      </div>
      
       
    </div>
  </div>
  <div class="col-md-4">

    </div>
  <!-- <div class="col-md-4">
    <div class="form-group">
        
    </div>
  </div> -->
 <!--  <div class="col-4">
    <div class="form-group">
     
    </div>
  </div> -->
  <div class="col-md-12">
  <div class="row" *ngFor="let data of reviewData">

    <div class="col-md-4 text-left">
    <div class="form-group">
    <p class="text-plain">{{data.customerName}}</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
        
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group text-right">
     
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <p class="date-plain"> {{data.createdDate | date}}</p>

    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group text-left">
      <fieldset class="rating">
        <input type="radio"  [checked]="data.rating===5" />
        <label title="Rocks!" >5 stars</label>
      
        <input type="radio"  [checked]="data.rating===4" />
        <label title="Pretty good" >4 stars</label>
      
        <input type="radio"  [checked]="data.rating===3" />
        <label title="Ok" >3 stars</label>
      
        <input type="radio"  [checked]="data.rating===2" />
        <label title=" bad" >2 stars</label>
      
        <input type="radio"  [checked]="data.rating===1" />
        <label title="Very bad" >1 star</label>
      </fieldset>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">

    </div>
  </div>
  <div class="col-md-12">
    <div class="form-group">
     <p class="review-plain"> {{data.review}}</p>
     <hr>
    </div>
  </div>
  </div>
</div>
</div>