.top {
    padding-top: 200px;
}
a{
    color: black;
    text-decoration: none;
}
.material-icons{
    font-size: 10px;
    padding-right: 10px;
    transition: padding-right 1s;
  }
  .shop:hover .material-icons{
    padding-right: 0px !important;
    
  }
  .cen{
      margin:auto; display: block;
  }
  h2{
    font-family: 'Indie Flower', cursive;

  }
  @media only screen and (max-width:780px){
    h2 {
    font-size: 22px;
    }
    
  }

  