<!-- <div>
    <img [src]="superCatUrl + superCatID + '/' + superCatImg" width="100%">
    </div> -->
<div class="container ">
  

  <div class="row pt-5 shop" >
   
    <div [ngClass]="{'col-md-6': holder.length === 2, 'col-md-4':holder.length === 3, 'col-6': holder.length === 2, 'col-4':holder.length === 3}" *ngFor="let data of holder; let i of index; let even = even; let odd = odd"  >
     
      <a routerLink="/product/supercategory/{{this.id}}/maincategory/{{data._id}}">
        <img [src]="imageUrl + data._id + '/' + data.mainCategoryImageName" style="width: 100%;">
        <!-- <h2>{{data.mainCategoryName}} </h2> -->

        <!-- {{data.mainCategoryDescription}} -->
      </a>

      <a class="cen text-center" routerLink="/product/supercategory/{{this.id}}/maincategory/{{data._id}}">
        <!-- <img [src]="imageUrl + data._id + '/' + data.mainCategoryImageName" style="width: 300px;"> -->
        <h2 class="text-center">{{data.mainCategoryName}} </h2>
        <a class="shop text-center">  <i class="material-icons">
            arrow_forward_ios
            </i> SHOP </a>

        <!-- {{data.mainCategoryDescription}} -->
      </a>
    </div>

    <!-- <div class="col-md-2"></div> -->
  </div>
</div>

