<!-- 

<div class="pt-5"></div>
<footer class="page-footer font-small stylish-color-dark pt-3 " 
  style="border-top:1px solid rgb(218, 218, 218);background-color: #f3f3f3;">

  <div class="container">

    <div class="col-md-12 text-center">
    </div>

    <hr>


    <div class="row">

      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-3 mx-auto ">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-3">SHOP</h5>

        <ul class="list-unstyled" *ngFor="let sup of superCategory">
          <li class="mb-1">
            <a class="hide" (click)="getCategory(sup)">{{sup.categoryName}}</a> <br>
          </li>
         

        </ul>
       

      </div>

      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-3  mx-auto">
       
        <h5 class="font-weight-bold text-uppercase mt-3 mb-3">COMPANY</h5>

        <ul class="list-unstyled ">

          <li class="mb-1">
            <a class="footpara" routerLink='/info/aboutus'>  About Us</a>
          </li>
          <li class="mb-1">
            <a class="footpara" routerLink='/info/contactus'> Contact Us</a>
          </li>
       


        </ul>

      </div>

      <hr class="clearfix w-100 d-md-none">

      <div class="col-md-3 mx-auto ">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-3 policy-text">HELP</h5>

        <ul class="list-unstyled policy-link">
          <li class="mb-1">
            <a class="footpara" routerLink='/info/privacypolicy'>Privacy Policy</a>
          </li>
          <li class="mb-1">
            <a class="footpara" routerLink='/info/termsconditions'>Terms & Condition</a>
          </li>

          <li class="mb-1">
            <a class="footpara" routerLink='/info/faq'>  FAQ</a>

          </li>
        </ul>

      </div>

      <div class="col-md-3 mx-auto ">

      <h5 class="font-weight-bold  text-uppercase mt-3 mb-3 ">Address</h5>
      <p>Mubee<br>
        No 915, 3rd A Cross, <br>
        1st Block, 9th Main,<br>
        Kalyan Nagar, HRBR Layout,<br>
        Bangalore - 560043 <br>
      </p>
      </div>
    
    
    </div>
    <div class="row ">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <h4 class="text-center"> Subscribe to Newsletter</h4>
        <form class="input-group">
          <input type="text" class="form-control form-control-sm" #sub placeholder="Your email" aria-label="Your email"
            aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-sm btn-outline-white my-0" (click)="subscribe(sub.value)" type="button">Sign up</button>
          </div>
        </form>
        <div *ngIf="!validEmail">
          <small style="color: red;margin-left: 4px;">Enter a valid email</small>
        </div>
        </div>
        <div class="col-md-4"></div>

        
    
    </div>
  </div>
  <hr>

  <ul class="list-unstyled text-center social-icon">
  </ul>
  <div class="footer-copyright text-center ">© 2020 Copyright:Mubee.com
    <a> </a>
  </div>
  <hr>


</footer> -->
<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-4">
        <div class="form-group float-left">
          <a class="footpara text-responsive" routerLink='/info/privacypolicy'>Privacy Policy</a>
        </div>
      </div>
      <div class="col-md-4 col-4">
        <div class="form-group text-center">
          <a class="footpara text-responsive" routerLink='/info/contactus'> Contact Us</a>
        </div>
      </div>
      <div class="col-md-4 col-4">
        <div class="form-group float-right">
          <a class="footpara text-responsive"  routerLink='/info/termsconditions'>Terms & Condition</a>
      </div>
      </div>
      
    </div>
    <div style="position: absolute; left: 0; right: 0; width: 100%; border-bottom: 1px solid  	 	rgb(220,220,220)"></div>
    <div class="row">
      <div class="col-md-4">
      
      </div>
      <div class="col-md-4">
        <div class="form-group text-center">
          <p class="pt-3">© 2020 Copyright: Mubee. </p>
          </div>
      </div>
      <div class="col-md-4">

      </div>
      </div>
  </div>
</div>