.input-group-append .btn, .input-group-prepend .btn {
  position: relative;
  z-index: 2;
  BACKGROUND-COLOR: #002561;
  color: #fff;
}
.policy-link,.policy-text{
  margin-left: 20px;
}
.social-icon li{
  display: inline;
  padding-left: 5px ;
}
body{
 font-family: 'Roboto Condensed', sans-serif;
}
h4,h5{
  font-family: 'Roboto Condensed', sans-serif;
margin-top: 14px;
}
.listunstyled li{
  color:#000;
  padding-top: 20px !important;
}
a {
  color: #404244;
  text-decoration: none;
  background-color: transparent;
}
.mat-mini-fab{
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px !important;
  font-weight: 500;
}

.social{
  background-color: #f3f3f3;
  border-top:1px solid rgb(218, 218, 218);
  padding-top: 1rem;
  padding-bottom: 3px;
}

@media only screen and (max-width:990px){
.policy-text, .policy-link{
  margin-left: 0 !important;
}
/* .policy-link[_ngcontent-ans-c3], .policy-text[_ngcontent-ans-c3] {
  margin-left: 20px;
} */
}
.footer-bottom {
	background:  	rgb(232,232,232);
	border-top: 1px solid  	rgb(232,232,232);
	padding-top: 20px;
  padding-bottom: 20px;
  color: #6D6E71
}
.footer-bottom .footpara {
  padding-top: 6px;
  color: #6D6E71
}

@media (max-width: 900px) {  
  .footer-bottom .footpara {
    padding-top: 6px;
    font-size: 0.7em;
    color: #6D6E71
  }
   }


