.mEnZ{
  margin-top: 6px;
  text-align: center;
  color: #919191;
  font-family: 'Expert Sa';
  text-transform: capitalize;
  margin-top: 8px;
  margin-bottom: 0px;
  font-weight: 600;
  font-size: 14px;
}

.buTN{
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 11px;
}

.star{
  width: 19px;
  padding: 2px;
}

.salZ{
  position: absolute;
  top: 8px;
  left: 16px;
  border-radius: 0px;

}



.btnStyle {
 
  margin: 5px;
  border: 2px solid gray;
}
.sizeStyle  {

  margin: 8px;
  border: 1px solid gray;
  background-color: #EAF8FF;
}
.xsizeStyle  {
  width: 32px;
  height: 21px;
  margin: 12px;
  border: 1px solid gray;
  background-color: #EAF8FF;
}
.textStyle  {
  font-size: 11px;
  text-align: center;
  margin-top: 3px;
  font-family: Expert Sa;
  font-weight: bold;
}
.xxlStyle  {
  font-size: 11px;
  text-align: center;
  margin-top: 3px;
  margin-right: 5px;
}
 .imgProduct{
   width: 400px;
   height: 400px;
 }
  