/* div {
    width: 430px !important;
    height: 580px !important;
      position: relative;
      overflow: hidden;
    }
    
    img {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
      object-fit: contain;
     
    } */

    .halfsize {
      -moz-transform:scale(0.5);
      -webkit-transform:scale(0.5);
      transform:scale(0.5);
  }
    
    .discountcount{
      display: block !important;
      font-size: 14px;
      position: absolute !important;
      bottom: 90%;
      margin-left: 5%;
      color: #fff;
    }
    .discountcountoff{
      display: block !important;
      font-size: 12px;
      position: absolute !important;
      bottom: 88%;
      margin-left: 8%;
      color: #fff;
    }
    .imgleaf {
      display: block !important;
      height: 16% !important;
      position: absolute !important;
      top: 0px;
      width: 17% !important;
    }
    
.img-zoom-container {
  width: fit-content;
  position: relative;
  /* margin-top: 17px; */
  margin: auto;
  }

  .img-zoom-lens {
	position: absolute;
	/* border: 1px solid #d4d4d4; */
  }
  img{
    width: 400px ;
  }
  .loader{
    /* margin-top: 200px; */
    width: 100px !important;
    margin-left: 100px;
    margin-right: auto;
    display: block;
  }