<!-- <div #element (mousemove)="imgZoom($event, 4)" (mouseleave)="resetImgZoom($event, 4)">
    <img [src]="imgPath" alt="img" width>
  </div> -->

  <div class="img-zoom-container">
      <!-- <img [hidden]="!imageLoader" src="../../../../assets/image/source.gif" class="loader" /> -->
      <img  #img [style.width]="yet && imgWidth?imgWidth+'px':null"
       [style.heigth]="yet && imgHeigth?imgHeigth+'px':null" id="myimage" [src]="imagen" (mouseover)="onLoad()" (mouseleave)="onLeave()"   [hidden]="imageLoader" 
      (load)="imageLoad()">
      <!-- <img src="../../../../assets/images/ucchal leaf 2.png"  class="imgleaf">
      <p class="discountcount">{{discount}}%</p>
       <p class="discountcountoff">  OFF</p> -->
      <div #len [style.width]="lenSize+'px'" [style.height]="lenSize+'px'"  [style.left] ="posX+'px'" [style.top] ="posY+'px'"
    class="img-zoom-lens">
    </div>