.slider-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.slides {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
}

.controls {
  display: flex;
  justify-content: center;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}


@media only screen and (max-width: 900px) {

  .prev,
  .next {
    cursor: pointer !important;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 5px;
    margin-top: -22px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    background-color: rgba(255, 255, 255, 0);
    font-weight: bold;
    font-size: 20px;
    transition: 1s ease;
    border-radius: 0 3px 3px 0;
    user-select: contain;
    display: block;
    right: 2%;
    color: #050102;
    border-radius: 10%;
    height: 25%;

  }
}

@media only screen and (min-width: 900px) {

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 10px;
    margin-top: -22px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    background-color: rgba(255, 255, 255, 0);
    font-weight: bold;
    font-size: 40px;
    transition: 1s ease;
    border-radius: 0 3px 3px 0;
    user-select: contain;
    display: block;
    border-radius: 10%;
    color: #0e0005;
    right: 0%;
    font-weight: normal;
  }
  
}
