.container{
    padding: 10px;
    padding-left: 15px;
}
.row{
    padding: 3px;
}
.table td{
padding: 5px !important;
}
div{
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    font-weight: 600;
}