  <div class="container">
  <!-- <h5>Product Details</h5> -->
  <!-- <table class="table table-borderless table-striped"> -->
  <div class="row" *ngFor="let item of data">
    <!-- <tr>
    <td> -->
      {{item.name | titleCase | titlecase}} :
    <!-- </td>
    <td> -->
      {{item.value}}
    <!-- </td>
    </tr> -->
  </div>
  <!-- </table> -->

  </div>
